<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l3">
                    <h6><b>Quản lý mã hàng (A01)</b></h6>
                    <h6><b>PART ECN NO = BOM</b></h6>
                </div>
                <div class="col s12 m12 l9">
                    <a title="search" (click)="Search()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Tìm</a>
                    <a title="search" (click)="Add()" class="btn waves-effect waves-light cyan darken-1"
                        style="margin-right: 10px;">Thêm</a>
                    <a title="search" (click)="Save()" class="btn waves-effect waves-light cyan darken-1"
                        style="margin-right: 10px;">Lưu</a>
                    <a title="search" (click)="Delete()" class="btn waves-effect waves-light red darken-1"
                        style="margin-right: 10px;">Xoá</a>
                    <a title="search" (click)="Cancel()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Huỷ</a>
                    <a title="search" (click)="ExcelImport()" class="btn waves-effect waves-light cyan darken-1"
                        style="margin-right: 10px;">Thêm từ excel</a>
                    <a title="search" (click)="ExcelExport()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Xuất ra excel</a>
                    <a title="search" (click)="Print()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">In</a>
                    <a title="search" (click)="Help()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Hỗ trợ</a>
                    <a title="search" (click)="Close()" class="btn waves-effect waves-light purple darken-1">Đóng</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <ul class="tabs">
                        <li class="tab col s4 p-0"><a ng-class="(Tag001) ? 'active p-0' : 'p-0'"
                                (click)="TagShow(1)">PART NO List</a></li>
                        <li class="tab col s4 p-0"><a ng-class="(Tag002) ? 'active p-0' : 'p-0'"
                                (click)="TagShow(2)">PART NO ECN List</a></li>
                        <li class="tab col s4 p-0"><a ng-class="(Tag003) ? 'active p-0' : 'p-0'"
                                (click)="TagShow(3)">Cycle time(Take time)</a></li>
                    </ul>
                </div>
                <div class="col s12 m6 l6">
                </div>
                <div class="col s12 m6 l12" *ngIf="Tag001">
                    <div class="row">
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Mã sản phẩm</label>
                                <input placeholder="Mã sản phẩm"
                                    [(ngModel)]="tspartService.BaseParameter.SearchString001"
                                    name="tspartService.BaseParameter.SearchString001" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>PART NAME</label>
                                <input placeholder="PART NAME" [(ngModel)]="tspartService.BaseParameter.SearchString002"
                                    name="tspartService.BaseParameter.SearchString002" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>LINE</label>
                                <input placeholder="LINE" [(ngModel)]="tspartService.BaseParameter.SearchString003"
                                    name="tspartService.BaseParameter.SearchString003" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>FAMILY</label>
                                <input placeholder="FAMILY" [(ngModel)]="tspartService.BaseParameter.SearchString004"
                                    name="tspartService.BaseParameter.SearchString004" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Product Category</label>
                                <select class="browser-default form-select" name="SearchString006"
                                    [(ngModel)]="tspartService.BaseParameter.SearchString006">
                                    <option value="">
                                        ALL
                                    </option>
                                    <option *ngFor="let item of tscodeService.ListFilter;" [value]="item.CD_NM_EN">
                                        {{item.CD_NM_EN}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>BOM Group</label>
                                <select class="browser-default form-select" name="SearchString005"
                                    [(ngModel)]="tspartService.BaseParameter.SearchString005">
                                    <option value="">
                                        ALL
                                    </option>
                                    <option *ngFor="let item of tspartService.ListFilter;" [value]="item.BOM_GRP">
                                        {{item.BOM_GRP}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Mã sản phẩm</label>
                                <input placeholder="Mã sản phẩm" [(ngModel)]="tspartService.FormData.PART_NO"
                                    name="tspartService.FormData.PART_NO" type="text" class="form-control" [disabled]="IsPART_NO">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>PART NAME</label>
                                <input placeholder="PART NAME" [(ngModel)]="tspartService.FormData.PART_NAME"
                                    name="tspartService.FormData.PART_NAME" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Product Category</label>
                                <select class="browser-default form-select" name="Item_TypeE"
                                    [(ngModel)]="tspartService.FormData.Item_TypeE">
                                    <option *ngFor="let item of tscodeService.ListFilter;" [value]="item.CD_NM_EN">
                                        {{item.CD_NM_EN}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>BOM Group</label>
                                <select class="browser-default form-select" name="BOM_GROUP"
                                    [(ngModel)]="tspartService.FormData.BOM_GROUP">
                                    <option *ngFor="let item of tspartService.ListFilter;" [value]="item.BOM_GRP">
                                        {{item.BOM_GRP}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Quy cách đóng gói</label>
                                <input placeholder="Packing Unit" [(ngModel)]="tspartService.FormData.Packing_Unit"
                                    name="tspartService.FormData.Packing_Unit" type="number" class="form-control"
                                    style="text-align: right;">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <a title="Execl Sheet Name : A01_PART_LIST" class="link-primary"><b>Execl Sheet Name :
                                        A01_PART_LIST</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Supplier PART NO</label>
                                <input placeholder="Supplier PART NO" [(ngModel)]="tspartService.FormData.PART_SUPL"
                                    name="tspartService.FormData.PART_SUPL" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>LINE (FA)</label>
                                <select class="browser-default form-select" name="MODEL"
                                    [(ngModel)]="tspartService.FormData.MODEL">
                                    <option *ngFor="let item of tspartService.ListFilter001;" [value]="item.PART_CAR">
                                        {{item.PART_CAR}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Family (PC)</label>
                                <select class="browser-default form-select" name="PART_FamilyPC"
                                    [(ngModel)]="tspartService.FormData.PART_FamilyPC">
                                    <option *ngFor="let item of tspartService.ListFilter002;" [value]="item.PART_FML">
                                        {{item.PART_FML}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Location</label>
                                <input placeholder="Location" [(ngModel)]="tspartService.FormData.Location"
                                    name="tspartService.FormData.Location" type="text" class="form-control"
                                    id="tspartServiceFormDataLocation">                                
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>USE (Y/N)</label>
                                <br />
                                <label>
                                    <input name="PART_USE" type="radio" [(ngModel)]="IsPART_USE" [value]="true" />
                                    <span>Y</span>
                                </label>
                                <br />
                                <label>
                                    <input name="PART_USE" type="radio" [(ngModel)]="IsPART_USE" [value]="false" />
                                    <span>N</span>
                                </label>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <a title="Search" (click)="Search()"
                                    class="btn waves-effect waves-light green darken-1">FROM</a>
                            </div>
                        </div>
                    </div>
                    <div class="KhungOverflow">
                        <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tspartSort="matSort"
                            [dataSource]="tspartService.DataSource">
                            <ng-container matColumnDef="CHK">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                </th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    <label>
                                        <input class="form-check-input" type="checkbox" name="CHK{{element.CODE}}"
                                            [(ngModel)]="element.CHK">
                                        <span></span>
                                    </label>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="CODE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CODE</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">{{element.CODE}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PART_NO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_NO</th>
                                <td mat-cell *matCellDef="let element">
                                    <a title="{{element.PART_NO}}" class="link-primary"
                                        (click)="TableSelect(element)"><b>{{element.PART_NO}}</b></a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PART_SUPL">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier PART NO</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.PART_SUPL}}</td>
                            </ng-container>
                            <ng-container matColumnDef="PART_NAME">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_NAME</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.PART_NAME}}</td>
                            </ng-container>
                            <ng-container matColumnDef="BOM_GROUP">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>BOM_GROUP</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.BOM_GROUP}}</td>
                            </ng-container>
                            <ng-container matColumnDef="MODEL">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>LINE (FA)</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">{{element.MODEL}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PART_FamilyPC">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Family (PC)</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.PART_FamilyPC}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Packing_Unit">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Packing_Unit</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Packing_Unit}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Item_TypeK">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Item_Type (K)</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Item_TypeK}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Item_TypeE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Item_Type (E)</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Item_TypeE}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Location">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Location}}</td>
                            </ng-container>
                            <ng-container matColumnDef="PART_USE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_USE</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.PART_USE}}</td>
                            </ng-container>
                            <ng-container matColumnDef="PART_ENCNO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_ENCNO</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.PART_ENCNO}}</td>
                            </ng-container>
                            <ng-container matColumnDef="PART_ECN_DATE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_ECN_DATE</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.PART_ECN_DATE |
                                    date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Creation_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation_date</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Creation_date |
                                    date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Creation_User">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation_User</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Creation_User}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Update_Date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Update_Date</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Update_Date |
                                    date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Update_User">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Update_User</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Update_User}}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="tspartService.DisplayColumns002">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: tspartService.DisplayColumns002;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #tspartPaginator="matPaginator"
                            [pageSizeOptions]="[10,20,50,100,200,500,1000]" [pageSize]="10"
                            [showFirstLastButtons]></mat-paginator>
                    </div>
                </div>
                <div class="col s12 m6 l12" *ngIf="Tag002">
                    Tag002
                </div>
                <div class="col s12 m6 l12" *ngIf="Tag003">
                    Tag003
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tspartService.IsShowLoading"></app-loading>