<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l3">
                    <h6><b>Quản lý mã hàng (A01)</b></h6>
                    <h6><b>PART ECN NO = BOM</b></h6>
                </div>
                <div class="col s12 m12 l9">
                    <a title="Search" (click)="Search()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Tìm</a>
                    <a title="Add" (click)="Add()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Thêm</a>
                    <a title="Save" (click)="Save()" class="btn waves-effect waves-light cyan darken-1"
                        style="margin-right: 10px;">Lưu</a>
                    <a title="Delete" (click)="Delete()" class="btn waves-effect waves-light red darken-1"
                        style="margin-right: 10px;">Xoá</a>
                    <a title="Cancel" (click)="Cancel()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Huỷ</a>
                    <a title="Excel Import" (click)="ExcelImport()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Thêm từ excel</a>
                    <a title="Excel Export" (click)="ExcelExport()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Xuất ra excel</a>
                    <a title="Print" (click)="Print()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">In</a>
                    <a title="Help" (click)="Help()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Hỗ trợ</a>
                    <a title="Close" (click)="Close()" class="btn waves-effect waves-light purple darken-1">Đóng</a>
                </div>
            </div>
            <div class="row">              
                <div class="col s12 m6 l12" *ngIf="Tag001">
                    <div class="row">
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Mã sản phẩm</label>
                                <input placeholder="Mã sản phẩm"
                                    [(ngModel)]="tspartService.BaseParameter.SearchString001"
                                    name="tspartService.BaseParameter.SearchString001" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>PART NAME</label>
                                <input placeholder="PART NAME" [(ngModel)]="tspartService.BaseParameter.SearchString002"
                                    name="tspartService.BaseParameter.SearchString002" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>LINE</label>
                                <input placeholder="LINE" [(ngModel)]="tspartService.BaseParameter.SearchString003"
                                    name="tspartService.BaseParameter.SearchString003" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>FAMILY</label>
                                <input placeholder="FAMILY" [(ngModel)]="tspartService.BaseParameter.SearchString004"
                                    name="tspartService.BaseParameter.SearchString004" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Product Category</label>
                                <select class="browser-default form-select" name="SearchString006"
                                    [(ngModel)]="tspartService.BaseParameter.SearchString006">
                                    <option value="">
                                        ALL
                                    </option>
                                    <option *ngFor="let item of tscodeService.ListFilter;" [value]="item.CD_NM_EN">
                                        {{item.CD_NM_EN}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>BOM Group</label>
                                <select class="browser-default form-select" name="SearchString005"
                                    [(ngModel)]="tspartService.BaseParameter.SearchString005">
                                    <option value="">
                                        ALL
                                    </option>
                                    <option *ngFor="let item of tspartService.ListFilter;" [value]="item.BOM_GRP">
                                        {{item.BOM_GRP}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Mã sản phẩm</label>
                                <input placeholder="Mã sản phẩm" [(ngModel)]="tspartService.FormData.PART_NO"
                                    name="tspartService.FormData.PART_NO" type="text" class="form-control"
                                    [disabled]="IsPART_NO">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>PART NAME</label>
                                <input placeholder="PART NAME" [(ngModel)]="tspartService.FormData.PART_NM"
                                    name="tspartService.FormData.PART_NM" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Product Category</label>
                                <select class="browser-default form-select" name="Item_TypeE"
                                    [(ngModel)]="tspartService.FormData.Item_TypeE" (change)="tspartSearch001()">
                                    <option *ngFor="let item of tscodeService.ListFilter;" [value]="item.CD_NM_EN">
                                        {{item.CD_NM_EN}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>BOM Group</label>
                                <select class="browser-default form-select" name="BOM_GRP"
                                    [(ngModel)]="tspartService.FormData.BOM_GRP">
                                    <option *ngFor="let item of tspartService.ListFilter;" [value]="item.BOM_GRP">
                                        {{item.BOM_GRP}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Quy cách đóng gói</label>
                                <input placeholder="Packing Unit" [(ngModel)]="tspartService.FormData.PART_SNP"
                                    name="tspartService.FormData.PART_SNP" type="number" class="form-control"
                                    style="text-align: right;">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <a title="Execl Sheet Name : A01_PART_LIST" class="link-primary"><b>Execl Sheet Name :
                                        A01_PART_LIST</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Supplier PART NO</label>
                                <input placeholder="Supplier PART NO" [(ngModel)]="tspartService.FormData.PART_SUPL"
                                    name="tspartService.FormData.PART_SUPL" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>LINE (FA)</label>
                                <select class="browser-default form-select" name="PART_CAR"
                                    [(ngModel)]="tspartService.FormData.PART_CAR">
                                    <option *ngFor="let item of tspartService.ListFilter001;" [value]="item.PART_CAR">
                                        {{item.PART_CAR}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Family (PC)</label>
                                <select class="browser-default form-select" name="PART_FML"
                                    [(ngModel)]="tspartService.FormData.PART_FML">
                                    <option *ngFor="let item of tspartService.ListFilter002;" [value]="item.PART_FML">
                                        {{item.PART_FML}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>Location</label>
                                <input placeholder="Location" [(ngModel)]="tspartService.FormData.PART_LOC"
                                    name="tspartService.FormData.PART_LOC" type="text" class="form-control"
                                    id="tspartServiceFormDataLocation">
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <label>USE (Y/N)</label>
                                <br />
                                <label>
                                    <input name="PART_USE" type="radio" [(ngModel)]="IsPART_USE" [value]="true" />
                                    <span>Y</span>
                                </label>
                                <br />
                                <label>
                                    <input name="PART_USE" type="radio" [(ngModel)]="IsPART_USE" [value]="false" />
                                    <span>N</span>
                                </label>
                            </div>
                        </div>
                        <div class="col s12 m12 l2">
                            <div>
                                <a title="FROM" (click)="ExcelExport()"
                                    class="btn waves-effect waves-light green darken-1">FROM</a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="KhungOverflow">
                        <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tspartSort="matSort"
                            [dataSource]="tspartService.DataSource">
                            <ng-container matColumnDef="CHK">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                </th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    <label>
                                        <input class="form-check-input" type="checkbox" name="CHK{{element.CODE}}"
                                            [(ngModel)]="element.CHK">
                                        <span></span>
                                    </label>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="CODE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CODE</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">{{element.CODE}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PART_NO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_NO</th>
                                <td mat-cell *matCellDef="let element">
                                    <a title="{{element.PART_NO}}" class="link-primary"
                                        (click)="TableSelect(element)"><b>{{element.PART_NO}}</b></a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PART_SUPL">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Supplier PART NO</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.PART_SUPL}}</td>
                            </ng-container>
                            <ng-container matColumnDef="PART_NAME">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_NAME</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.PART_NAME}}</td>
                            </ng-container>
                            <ng-container matColumnDef="BOM_GROUP">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>BOM_GROUP</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.BOM_GROUP}}</td>
                            </ng-container>
                            <ng-container matColumnDef="MODEL">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>LINE (FA)</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">{{element.MODEL}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="PART_FamilyPC">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Family (PC)</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.PART_FamilyPC}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Packing_Unit">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Packing_Unit</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Packing_Unit}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Item_TypeK">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Item_Type (K)</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Item_TypeK}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Item_TypeE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Item_Type (E)</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Item_TypeE}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Location">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Location}}</td>
                            </ng-container>
                            <ng-container matColumnDef="PART_USE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_USE</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.PART_USE}}</td>
                            </ng-container>
                            <ng-container matColumnDef="PART_ENCNO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_ENCNO</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.PART_ENCNO}}</td>
                            </ng-container>
                            <ng-container matColumnDef="PART_ECN_DATE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_ECN_DATE</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.PART_ECN_DATE |
                                    date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Creation_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation_date</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Creation_date |
                                    date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Creation_User">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation_User</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Creation_User}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Update_Date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Update_Date</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Update_Date |
                                    date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Update_User">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Update_User</th>
                                <td mat-cell *matCellDef="let element" (click)="TableSelect(element)">
                                    {{element.Update_User}}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="tspartService.DisplayColumns002">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: tspartService.DisplayColumns002;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #tspartPaginator="matPaginator"
                            [pageSizeOptions]="[10,20,50,100,200,500,1000]" [pageSize]="10"
                            [showFirstLastButtons]></mat-paginator>
                    </div>
                </div>
                <div class="col s12 m6 l12" *ngIf="Tag002">
                    <div class="row">
                        <div class="col s12 m12 l3">
                            <div>
                                <label>PART NO</label>
                                <input placeholder="PART NO" [(ngModel)]="tspartService.BaseParameter.SearchString"
                                    name="tspartService.BaseParameter.SearchString" type="text" class="form-control">
                            </div>
                            <div>
                                <label>TYPE</label>
                                <select class="browser-default form-select" name="ParentID"
                                    [(ngModel)]="tspartService.BaseParameter.ParentID">
                                    <option *ngFor="let item of tscodeService.ListFilter;" [value]="item.CD_IDX">
                                        {{item.CD_NM_EN}}
                                    </option>
                                </select>
                            </div>
                            <div class="KhungOverflow">
                                <table *ngIf="!NotificationService.IsMobile" mat-table matSort
                                    #tspartSortTabPage2="matSort" [dataSource]="tspartService.DataSourceTabPage2">
                                    <ng-container matColumnDef="PART_IDX">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_CODE</th>
                                        <td mat-cell *matCellDef="let element" (click)="TableSelectTabPage2(element)">
                                            {{element.PART_IDX}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="PART_NO">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_NO</th>
                                        <td mat-cell *matCellDef="let element" (click)="TableSelectTabPage2(element)">
                                            <a title="{{element.PART_NO}}" class="link-primary"
                                                (click)="TableSelectTabPage2(element)"><b>{{element.PART_NO}}</b></a>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="tspartService.DisplayColumns003">
                                    </tr>
                                    <tr mat-row *matRowDef="let row; columns: tspartService.DisplayColumns003;">
                                    </tr>
                                </table>
                                <mat-paginator *ngIf="!NotificationService.IsMobile"
                                    #tspartPaginatorTabPage2="matPaginator"
                                    [pageSizeOptions]="[10,20,50,100,200,500,1000]" [pageSize]="10"
                                    [showFirstLastButtons]></mat-paginator>
                            </div>
                        </div>
                        <div class="col s12 m12 l9">
                            <div class="row">
                                <div class="col s12 m12 l4">
                                    <div>
                                        <label>PART_NO</label>
                                        <input placeholder="PART_NO" [(ngModel)]="tspart_ecnService.FormData.PART_NO"
                                            name="tspart_ecnService.FormData.PART_NO" type="text" class="form-control" [disabled]="IsPART_NOTabPage2">
                                    </div>
                                </div>
                                <div class="col s12 m12 l4">
                                    <div>
                                        <label>PART_ENCNO</label>
                                        <input placeholder="PART_ENCNO"
                                            [(ngModel)]="tspart_ecnService.FormData.PART_ENCNO"
                                            name="tspart_ecnService.FormData.PART_ENCNO" type="text"
                                            class="form-control" [disabled]="IsPART_ENCNOTabPage2">
                                    </div>
                                </div>
                                <div class="col s12 m12 l4">
                                    <div>
                                        <a title="File Manager" (click)="FileManager()"
                                            class="btn waves-effect waves-light green darken-1">File Manager</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m12 l4">
                                    <div>
                                        <label>PART_ECN_DATE</label>
                                        <input
                                            [ngModel]="tspart_ecnService.FormData.PART_ECN_DATE | date:'yyyy-MM-dd'"
                                            style="text-align: right;" (ngModelChange)="DatePART_ECN_DATE($event)"
                                            [ngModelOptions]="{ updateOn: 'blur' }" type="date" class="form-control"
                                            autocomplete="off" [disabled]="IsPART_ECN_DATETabPage2">
                                    </div>
                                </div>
                                <div class="col s12 m12 l4">
                                    <div>
                                        <label>DWG_NO</label>
                                        <input placeholder="DWG_NO" [(ngModel)]="tspart_ecnService.FormData.DWG_NO"
                                            name="tspart_ecnService.FormData.DWG_NO" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col s12 m12 l4">
                                    <div>
                                        <label>DWG_FILE_GRP</label>
                                        <input placeholder="DWG_FILE_GRP"
                                            [(ngModel)]="tspart_ecnService.FormData.DWG_FILE_GRP"
                                            name="tspart_ecnService.FormData.DWG_FILE_GRP" type="text"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="KhungOverflow">
                                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tspart_ecnSort="matSort"
                                    [dataSource]="tspart_ecnService.DataSource">
                                    <ng-container matColumnDef="No">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            No
                                        </th>
                                        <td mat-cell *matCellDef="let element; index as i;">
                                            <div *ngIf="tspart_ecnPaginator">
                                                {{
                                                tspart_ecnPaginator.pageSize *
                                                tspart_ecnPaginator.pageIndex + i + 1
                                                }}
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="PART_NO">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_NO</th>
                                        <td mat-cell *matCellDef="let element"
                                            (click)="TableSelectTabPage2_001(element)">
                                            {{element.PART_NO}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="PART_NAME">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_NAME</th>
                                        <td mat-cell *matCellDef="let element" (click)="TableSelectTabPage2_001(element)">{{element.PART_NAME}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="PARTECN_IDX">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PARTECN_IDX</th>
                                        <td mat-cell *matCellDef="let element">{{element.PARTECN_IDX}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="PART_IDX">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_IDX</th>
                                        <td mat-cell *matCellDef="let element">{{element.PART_IDX}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="PART_ENCNO">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_ENCNO</th>
                                        <td mat-cell *matCellDef="let element" (click)="TableSelectTabPage2_001(element)">{{element.PART_ENCNO}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="PART_ECN_DATE">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_ECN_DATE</th>
                                        <td mat-cell *matCellDef="let element" (click)="TableSelectTabPage2_001(element)">{{element.PART_ECN_DATE |
                                            date:'dd/MM/yyyy'}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="DWG_NO">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DWG_NO</th>
                                        <td mat-cell *matCellDef="let element">{{element.DWG_NO}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="DWG_FILE_GRP">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DWG_FILE_GRP</th>
                                        <td mat-cell *matCellDef="let element">{{element.DWG_FILE_GRP}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="DWG_FILE_EXPOR">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DWG_FILE_EXPOR</th>
                                        <td mat-cell *matCellDef="let element">{{element.DWG_FILE_EXPOR}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="PART_ECN_USENY">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PART_ECN_USENY</th>
                                        <td mat-cell *matCellDef="let element">{{element.PART_ECN_USENY}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="CREATE_DTM">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
                                        <td mat-cell *matCellDef="let element">{{element.CREATE_DTM |
                                            date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="CREATE_USER">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
                                        <td mat-cell *matCellDef="let element">{{element.CREATE_USER}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="UPDATE_DTM">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
                                        <td mat-cell *matCellDef="let element">{{element.UPDATE_DTM}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="UPDATE_USER">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
                                        <td mat-cell *matCellDef="let element">{{element.UPDATE_USER}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="FVWR">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Viewer</th>
                                        <td mat-cell *matCellDef="let element">{{element.FVWR}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="ADDFILE">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>File down</th>
                                        <td mat-cell *matCellDef="let element">{{element.ADDFILE}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="Save">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <a (click)="tspart_ecnSave(element)"
                                                class="btn-floating waves-effect waves-light cyan" title="Save">
                                                <i class="material-icons">save</i>
                                            </a>&nbsp;&nbsp;&nbsp;
                                            <a *ngIf="element.PARTECN_IDX>0" (click)="tspart_ecnDelete(element)"
                                                class="btn-floating waves-effect waves-light red"
                                                style="padding-top: 3px;" title="Delete">
                                                <i class="material-icons">delete_outline</i>
                                            </a>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="tspart_ecnService.DisplayColumns002">
                                    </tr>
                                    <tr mat-row *matRowDef="let row; columns: tspart_ecnService.DisplayColumns002;">
                                    </tr>
                                </table>
                                <mat-paginator *ngIf="!NotificationService.IsMobile" #tspart_ecnPaginator="matPaginator"
                                    [pageSizeOptions]="[10,20,50,100]" [pageSize]="10"
                                    [showFirstLastButtons]></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l12" *ngIf="Tag003">
                    Tag003
                </div>
            </div>
           
        </div>
    </div>
</div>
<app-loading *ngIf="tspartService.IsShowLoading"></app-loading>