<div class="col s12 m12 l9">
    <h5 class="card-title"><b>help_keyword</b></h5>
</div>
<div class="col s12 m12 l3">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="Save()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>help_keyword_id</label>
<input placeholder="help_keyword_id" [(ngModel)]="help_keywordService.FormData.help_keyword_id" name="help_keywordService.FormData.help_keyword_id" type="text" class="form-control">
</div>
<div>
<label>name</label>
<input placeholder="name" [(ngModel)]="help_keywordService.FormData.name" name="help_keywordService.FormData.name" type="text" class="form-control">
</div>

</div>


