
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    aatable:
                    <b>{{aatableService.FormData.Name}} [{{aatableService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/aatable" title="aatable">aatable</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/aatable" title="aatable">aatable</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="aatableAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="aatableSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>ID</label>
<input placeholder="ID" [(ngModel)]="aatableService.FormData.ID" name="aatableService.FormData.ID" type="text" class="form-control">
</div>
<div>
<label>Name</label>
<input placeholder="Name" [(ngModel)]="aatableService.FormData.Name" name="aatableService.FormData.Name" type="text" class="form-control">
</div>
<div>
<label>Email</label>
<input placeholder="Email" [(ngModel)]="aatableService.FormData.Email" name="aatableService.FormData.Email" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="aatableService.IsShowLoading"></app-loading>
