<div class="col s12 m12 l10">
    <h5 class="card-title"><b>apqp_code</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="apqp_codeSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>CD_IDX</label>
<input placeholder="CD_IDX" [(ngModel)]="apqp_codeService.FormData.CD_IDX" name="apqp_codeService.FormData.CD_IDX" type="text" class="form-control">
</div>
<div>
<label>CDGR_IDX</label>
<input placeholder="CDGR_IDX" [(ngModel)]="apqp_codeService.FormData.CDGR_IDX" name="apqp_codeService.FormData.CDGR_IDX" type="text" class="form-control">
</div>
<div>
<label>CD_SYS_NOTE</label>
<input placeholder="CD_SYS_NOTE" [(ngModel)]="apqp_codeService.FormData.CD_SYS_NOTE" name="apqp_codeService.FormData.CD_SYS_NOTE" type="text" class="form-control">
</div>
<div>
<label>CD_NM_GRP</label>
<input placeholder="CD_NM_GRP" [(ngModel)]="apqp_codeService.FormData.CD_NM_GRP" name="apqp_codeService.FormData.CD_NM_GRP" type="text" class="form-control">
</div>
<div>
<label>CD_NM</label>
<input placeholder="CD_NM" [(ngModel)]="apqp_codeService.FormData.CD_NM" name="apqp_codeService.FormData.CD_NM" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="apqp_codeService.FormData.CREATE_DTM" name="apqp_codeService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="apqp_codeService.FormData.CREATE_USER" name="apqp_codeService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="apqp_codeService.FormData.UPDATE_DTM" name="apqp_codeService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="apqp_codeService.FormData.UPDATE_USER" name="apqp_codeService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


