
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    kr_inspctn_st:
                    <b>{{kr_inspctn_stService.FormData.Name}} [{{kr_inspctn_stService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/kr_inspctn_st" title="kr_inspctn_st">kr_inspctn_st</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/kr_inspctn_st" title="kr_inspctn_st">kr_inspctn_st</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="kr_inspctn_stAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="kr_inspctn_stSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>KR_INSPCTN_IDX</label>
<input placeholder="KR_INSPCTN_IDX" [(ngModel)]="kr_inspctn_stService.FormData.KR_INSPCTN_IDX" name="kr_inspctn_stService.FormData.KR_INSPCTN_IDX" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_PARTIDX</label>
<input placeholder="KR_INSPCTN_PARTIDX" [(ngModel)]="kr_inspctn_stService.FormData.KR_INSPCTN_PARTIDX" name="kr_inspctn_stService.FormData.KR_INSPCTN_PARTIDX" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_EO</label>
<input placeholder="KR_INSPCTN_EO" [(ngModel)]="kr_inspctn_stService.FormData.KR_INSPCTN_EO" name="kr_inspctn_stService.FormData.KR_INSPCTN_EO" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_VER</label>
<input placeholder="KR_INSPCTN_VER" [(ngModel)]="kr_inspctn_stService.FormData.KR_INSPCTN_VER" name="kr_inspctn_stService.FormData.KR_INSPCTN_VER" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_DATE</label>
<input placeholder="KR_INSPCTN_DATE" [(ngModel)]="kr_inspctn_stService.FormData.KR_INSPCTN_DATE" name="kr_inspctn_stService.FormData.KR_INSPCTN_DATE" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_NO</label>
<input placeholder="KR_INSPCTN_NO" [(ngModel)]="kr_inspctn_stService.FormData.KR_INSPCTN_NO" name="kr_inspctn_stService.FormData.KR_INSPCTN_NO" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_TEXT</label>
<input placeholder="KR_INSPCTN_TEXT" [(ngModel)]="kr_inspctn_stService.FormData.KR_INSPCTN_TEXT" name="kr_inspctn_stService.FormData.KR_INSPCTN_TEXT" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_ST</label>
<input placeholder="KR_INSPCTN_ST" [(ngModel)]="kr_inspctn_stService.FormData.KR_INSPCTN_ST" name="kr_inspctn_stService.FormData.KR_INSPCTN_ST" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_MIN</label>
<input placeholder="KR_INSPCTN_MIN" [(ngModel)]="kr_inspctn_stService.FormData.KR_INSPCTN_MIN" name="kr_inspctn_stService.FormData.KR_INSPCTN_MIN" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_MAX</label>
<input placeholder="KR_INSPCTN_MAX" [(ngModel)]="kr_inspctn_stService.FormData.KR_INSPCTN_MAX" name="kr_inspctn_stService.FormData.KR_INSPCTN_MAX" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="kr_inspctn_stService.FormData.CREATE_DTM" name="kr_inspctn_stService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="kr_inspctn_stService.FormData.CREATE_USER" name="kr_inspctn_stService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="kr_inspctn_stService.FormData.UPDATE_DTM" name="kr_inspctn_stService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="kr_inspctn_stService.FormData.UPDATE_USER" name="kr_inspctn_stService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="kr_inspctn_stService.IsShowLoading"></app-loading>
