<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    kr_inspctn_test
                    <span *ngIf="kr_inspctn_testService.List">({{kr_inspctn_testService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/kr_inspctn_test" title="kr_inspctn_test">kr_inspctn_test</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/kr_inspctn_test" title="kr_inspctn_test">kr_inspctn_test</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="kr_inspctn_testService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="kr_inspctn_testSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="kr_inspctn_testSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #kr_inspctn_testSort="matSort"
                       [dataSource]="kr_inspctn_testService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="kr_inspctn_testPaginator">
                                {{
                                    kr_inspctn_testPaginator.pageSize *
                                    kr_inspctn_testPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="KR_INSPCTN_TEST_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_TEST_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_TEST_IDX" name="KR_INSPCTN_TEST_IDX{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_TEST_IDX">
</td>
</ng-container>
<ng-container matColumnDef="KR_INSPCTN_CODE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_CODE</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_CODE" name="KR_INSPCTN_CODE{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_CODE">
</td>
</ng-container>
<ng-container matColumnDef="KR_INSPCTN_PARTIDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_PARTIDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_PARTIDX" name="KR_INSPCTN_PARTIDX{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_PARTIDX">
</td>
</ng-container>
<ng-container matColumnDef="KR_INSPCTN_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_IDX" name="KR_INSPCTN_IDX{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_IDX">
</td>
</ng-container>
<ng-container matColumnDef="KR_INSPCTN_DATE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_DATE</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_DATE" name="KR_INSPCTN_DATE{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_DATE">
</td>
</ng-container>
<ng-container matColumnDef="KR_INSPCTN_TEXT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_TEXT</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_TEXT" name="KR_INSPCTN_TEXT{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_TEXT">
</td>
</ng-container>
<ng-container matColumnDef="KR_INSPCTN_N">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_N</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_N" name="KR_INSPCTN_N{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_N">
</td>
</ng-container>
<ng-container matColumnDef="KR_INSPCTN_X1">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_X1</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_X1" name="KR_INSPCTN_X1{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_X1">
</td>
</ng-container>
<ng-container matColumnDef="KR_INSPCTN_X2">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_X2</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_X2" name="KR_INSPCTN_X2{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_X2">
</td>
</ng-container>
<ng-container matColumnDef="KR_INSPCTN_X3">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_X3</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_X3" name="KR_INSPCTN_X3{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_X3">
</td>
</ng-container>
<ng-container matColumnDef="KR_INSPCTN_X4">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_X4</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_X4" name="KR_INSPCTN_X4{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_X4">
</td>
</ng-container>
<ng-container matColumnDef="KR_INSPCTN_X5">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_X5</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_X5" name="KR_INSPCTN_X5{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_X5">
</td>
</ng-container>
<ng-container matColumnDef="KR_INSPCTN_RUS">
<th mat-header-cell *matHeaderCellDef mat-sort-header>KR_INSPCTN_RUS</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="KR_INSPCTN_RUS" name="KR_INSPCTN_RUS{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.KR_INSPCTN_RUS">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_DTM" name="UPDATE_DTM{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.UPDATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_USER" name="UPDATE_USER{{element.KR_INSPCTN_TEST_IDX}}" [(ngModel)]="element.UPDATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="kr_inspctn_testSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.KR_INSPCTN_TEST_IDX>0" (click)="kr_inspctn_testDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="kr_inspctn_testService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: kr_inspctn_testService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #kr_inspctn_testPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="kr_inspctn_testService.IsShowLoading"></app-loading>
