<div class="col s12 m12 l10">
    <h5 class="card-title"><b>kr_tdd_poplan</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="kr_tdd_poplanSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TDD_PP_IDX</label>
<input placeholder="TDD_PP_IDX" [(ngModel)]="kr_tdd_poplanService.FormData.TDD_PP_IDX" name="kr_tdd_poplanService.FormData.TDD_PP_IDX" type="text" class="form-control">
</div>
<div>
<label>TDD_PO_TYPE</label>
<input placeholder="TDD_PO_TYPE" [(ngModel)]="kr_tdd_poplanService.FormData.TDD_PO_TYPE" name="kr_tdd_poplanService.FormData.TDD_PO_TYPE" type="text" class="form-control">
</div>
<div>
<label>TDD_POCODE</label>
<input placeholder="TDD_POCODE" [(ngModel)]="kr_tdd_poplanService.FormData.TDD_POCODE" name="kr_tdd_poplanService.FormData.TDD_POCODE" type="text" class="form-control">
</div>
<div>
<label>TDD_POCSTM</label>
<input placeholder="TDD_POCSTM" [(ngModel)]="kr_tdd_poplanService.FormData.TDD_POCSTM" name="kr_tdd_poplanService.FormData.TDD_POCSTM" type="text" class="form-control">
</div>
<div>
<label>TDD_PP_PNIDX</label>
<input placeholder="TDD_PP_PNIDX" [(ngModel)]="kr_tdd_poplanService.FormData.TDD_PP_PNIDX" name="kr_tdd_poplanService.FormData.TDD_PP_PNIDX" type="text" class="form-control">
</div>
<div>
<label>TDD_PP_DT</label>
<input placeholder="TDD_PP_DT" [(ngModel)]="kr_tdd_poplanService.FormData.TDD_PP_DT" name="kr_tdd_poplanService.FormData.TDD_PP_DT" type="text" class="form-control">
</div>
<div>
<label>TDD_PP_QTY</label>
<input placeholder="TDD_PP_QTY" [(ngModel)]="kr_tdd_poplanService.FormData.TDD_PP_QTY" name="kr_tdd_poplanService.FormData.TDD_PP_QTY" type="text" class="form-control">
</div>
<div>
<label>TDD_PP_PACK</label>
<input placeholder="TDD_PP_PACK" [(ngModel)]="kr_tdd_poplanService.FormData.TDD_PP_PACK" name="kr_tdd_poplanService.FormData.TDD_PP_PACK" type="text" class="form-control">
</div>
<div>
<label>TDD_DSCN_YN</label>
<input placeholder="TDD_DSCN_YN" [(ngModel)]="kr_tdd_poplanService.FormData.TDD_DSCN_YN" name="kr_tdd_poplanService.FormData.TDD_DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>TDD_REMARK</label>
<input placeholder="TDD_REMARK" [(ngModel)]="kr_tdd_poplanService.FormData.TDD_REMARK" name="kr_tdd_poplanService.FormData.TDD_REMARK" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="kr_tdd_poplanService.FormData.CREATE_DTM" name="kr_tdd_poplanService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="kr_tdd_poplanService.FormData.CREATE_USER" name="kr_tdd_poplanService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="kr_tdd_poplanService.FormData.UPDATE_DTM" name="kr_tdd_poplanService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="kr_tdd_poplanService.FormData.UPDATE_USER" name="kr_tdd_poplanService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


