<div class="col s12 m12 l10">
    <h5 class="card-title"><b>kr_tiivtr</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="kr_tiivtrSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>IV_IDX</label>
<input placeholder="IV_IDX" [(ngModel)]="kr_tiivtrService.FormData.IV_IDX" name="kr_tiivtrService.FormData.IV_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="kr_tiivtrService.FormData.PART_IDX" name="kr_tiivtrService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>LOC_IDX</label>
<input placeholder="LOC_IDX" [(ngModel)]="kr_tiivtrService.FormData.LOC_IDX" name="kr_tiivtrService.FormData.LOC_IDX" type="text" class="form-control">
</div>
<div>
<label>QTY</label>
<input placeholder="QTY" [(ngModel)]="kr_tiivtrService.FormData.QTY" name="kr_tiivtrService.FormData.QTY" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="kr_tiivtrService.FormData.CREATE_DTM" name="kr_tiivtrService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="kr_tiivtrService.FormData.CREATE_USER" name="kr_tiivtrService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="kr_tiivtrService.FormData.UPDATE_DTM" name="kr_tiivtrService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="kr_tiivtrService.FormData.UPDATE_USER" name="kr_tiivtrService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


