<div class="col s12 m12 l10">
    <h5 class="card-title"><b>kr_tdpdmtim_tmp</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="kr_tdpdmtim_tmpSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>KR_TDPDMTIN_IDX</label>
<input placeholder="KR_TDPDMTIN_IDX" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_IDX" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_IDX" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_POCODE</label>
<input placeholder="KR_TDPDMTIN_POCODE" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_POCODE" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_POCODE" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_PLTNO</label>
<input placeholder="KR_TDPDMTIN_PLTNO" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_PLTNO" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_PLTNO" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_PART_NO</label>
<input placeholder="KR_TDPDMTIN_PART_NO" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_PART_NO" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_PART_NO" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_SNP</label>
<input placeholder="KR_TDPDMTIN_SNP" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_SNP" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_SNP" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_VLID_GRP</label>
<input placeholder="KR_TDPDMTIN_VLID_GRP" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_VLID_GRP" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_VLID_GRP" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_DTM</label>
<input placeholder="KR_TDPDMTIN_DTM" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_DTM" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_DTM" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_BARCODE</label>
<input placeholder="KR_TDPDMTIN_BARCODE" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_BARCODE" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_BARCODE" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_REMARK</label>
<input placeholder="KR_TDPDMTIN_REMARK" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_REMARK" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_REMARK" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_DSNY</label>
<input placeholder="KR_TDPDMTIN_DSNY" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_DSNY" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_DSNY" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_GRUPCD</label>
<input placeholder="KR_TDPDMTIN_GRUPCD" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_GRUPCD" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_GRUPCD" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_INSPNY</label>
<input placeholder="KR_TDPDMTIN_INSPNY" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_INSPNY" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_INSPNY" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_MIDX</label>
<input placeholder="KR_TDPDMTIN_MIDX" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_MIDX" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_MIDX" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.CREATE_DTM" name="kr_tdpdmtim_tmpService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.CREATE_USER" name="kr_tdpdmtim_tmpService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.UPDATE_DTM" name="kr_tdpdmtim_tmpService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.UPDATE_USER" name="kr_tdpdmtim_tmpService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


