
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    kr_tdpdmtim_tmp:
                    <b>{{kr_tdpdmtim_tmpService.FormData.Name}} [{{kr_tdpdmtim_tmpService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/kr_tdpdmtim_tmp" title="kr_tdpdmtim_tmp">kr_tdpdmtim_tmp</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/kr_tdpdmtim_tmp" title="kr_tdpdmtim_tmp">kr_tdpdmtim_tmp</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="kr_tdpdmtim_tmpAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="kr_tdpdmtim_tmpSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>KR_TDPDMTIN_IDX</label>
<input placeholder="KR_TDPDMTIN_IDX" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_IDX" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_IDX" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_POCODE</label>
<input placeholder="KR_TDPDMTIN_POCODE" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_POCODE" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_POCODE" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_PLTNO</label>
<input placeholder="KR_TDPDMTIN_PLTNO" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_PLTNO" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_PLTNO" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_PART_NO</label>
<input placeholder="KR_TDPDMTIN_PART_NO" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_PART_NO" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_PART_NO" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_SNP</label>
<input placeholder="KR_TDPDMTIN_SNP" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_SNP" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_SNP" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_VLID_GRP</label>
<input placeholder="KR_TDPDMTIN_VLID_GRP" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_VLID_GRP" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_VLID_GRP" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_DTM</label>
<input placeholder="KR_TDPDMTIN_DTM" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_DTM" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_DTM" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_BARCODE</label>
<input placeholder="KR_TDPDMTIN_BARCODE" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_BARCODE" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_BARCODE" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_REMARK</label>
<input placeholder="KR_TDPDMTIN_REMARK" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_REMARK" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_REMARK" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_DSNY</label>
<input placeholder="KR_TDPDMTIN_DSNY" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_DSNY" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_DSNY" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_GRUPCD</label>
<input placeholder="KR_TDPDMTIN_GRUPCD" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_GRUPCD" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_GRUPCD" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_INSPNY</label>
<input placeholder="KR_TDPDMTIN_INSPNY" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_INSPNY" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_INSPNY" type="text" class="form-control">
</div>
<div>
<label>KR_TDPDMTIN_MIDX</label>
<input placeholder="KR_TDPDMTIN_MIDX" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_MIDX" name="kr_tdpdmtim_tmpService.FormData.KR_TDPDMTIN_MIDX" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.CREATE_DTM" name="kr_tdpdmtim_tmpService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.CREATE_USER" name="kr_tdpdmtim_tmpService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.UPDATE_DTM" name="kr_tdpdmtim_tmpService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="kr_tdpdmtim_tmpService.FormData.UPDATE_USER" name="kr_tdpdmtim_tmpService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="kr_tdpdmtim_tmpService.IsShowLoading"></app-loading>
