
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    kr_tdpdmtim_tmp_out:
                    <b>{{kr_tdpdmtim_tmp_outService.FormData.Name}} [{{kr_tdpdmtim_tmp_outService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/kr_tdpdmtim_tmp_out" title="kr_tdpdmtim_tmp_out">kr_tdpdmtim_tmp_out</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/kr_tdpdmtim_tmp_out" title="kr_tdpdmtim_tmp_out">kr_tdpdmtim_tmp_out</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="kr_tdpdmtim_tmp_outAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="kr_tdpdmtim_tmp_outSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>PDMTIN_IDX</label>
<input placeholder="PDMTIN_IDX" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.PDMTIN_IDX" name="kr_tdpdmtim_tmp_outService.FormData.PDMTIN_IDX" type="text" class="form-control">
</div>
<div>
<label>VLID_PART_IDX</label>
<input placeholder="VLID_PART_IDX" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.VLID_PART_IDX" name="kr_tdpdmtim_tmp_outService.FormData.VLID_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>VLID_PART_SNP</label>
<input placeholder="VLID_PART_SNP" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.VLID_PART_SNP" name="kr_tdpdmtim_tmp_outService.FormData.VLID_PART_SNP" type="text" class="form-control">
</div>
<div>
<label>VLID_GRP</label>
<input placeholder="VLID_GRP" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.VLID_GRP" name="kr_tdpdmtim_tmp_outService.FormData.VLID_GRP" type="text" class="form-control">
</div>
<div>
<label>VLID_DTM</label>
<input placeholder="VLID_DTM" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.VLID_DTM" name="kr_tdpdmtim_tmp_outService.FormData.VLID_DTM" type="text" class="form-control">
</div>
<div>
<label>VLID_BARCODE</label>
<input placeholder="VLID_BARCODE" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.VLID_BARCODE" name="kr_tdpdmtim_tmp_outService.FormData.VLID_BARCODE" type="text" class="form-control">
</div>
<div>
<label>VLID_REMARK</label>
<input placeholder="VLID_REMARK" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.VLID_REMARK" name="kr_tdpdmtim_tmp_outService.FormData.VLID_REMARK" type="text" class="form-control">
</div>
<div>
<label>TDPDOTPLMU</label>
<input placeholder="TDPDOTPLMU" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.TDPDOTPLMU" name="kr_tdpdmtim_tmp_outService.FormData.TDPDOTPLMU" type="text" class="form-control">
</div>
<div>
<label>PDOTPL_IDX</label>
<input placeholder="PDOTPL_IDX" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.PDOTPL_IDX" name="kr_tdpdmtim_tmp_outService.FormData.PDOTPL_IDX" type="text" class="form-control">
</div>
<div>
<label>TSCOST_IDX</label>
<input placeholder="TSCOST_IDX" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.TSCOST_IDX" name="kr_tdpdmtim_tmp_outService.FormData.TSCOST_IDX" type="text" class="form-control">
</div>
<div>
<label>BARCD_LOC</label>
<input placeholder="BARCD_LOC" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.BARCD_LOC" name="kr_tdpdmtim_tmp_outService.FormData.BARCD_LOC" type="text" class="form-control">
</div>
<div>
<label>VLID_DSCN_YN</label>
<input placeholder="VLID_DSCN_YN" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.VLID_DSCN_YN" name="kr_tdpdmtim_tmp_outService.FormData.VLID_DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>INSPCTN_YN</label>
<input placeholder="INSPCTN_YN" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.INSPCTN_YN" name="kr_tdpdmtim_tmp_outService.FormData.INSPCTN_YN" type="text" class="form-control">
</div>
<div>
<label>INSPCTN_GRUP_CODE</label>
<input placeholder="INSPCTN_GRUP_CODE" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.INSPCTN_GRUP_CODE" name="kr_tdpdmtim_tmp_outService.FormData.INSPCTN_GRUP_CODE" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.CREATE_DTM" name="kr_tdpdmtim_tmp_outService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.CREATE_USER" name="kr_tdpdmtim_tmp_outService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.UPDATE_DTM" name="kr_tdpdmtim_tmp_outService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="kr_tdpdmtim_tmp_outService.FormData.UPDATE_USER" name="kr_tdpdmtim_tmp_outService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="kr_tdpdmtim_tmp_outService.IsShowLoading"></app-loading>
