<div class="col s12 m12 l10">
    <h5 class="card-title"><b>kr_tdpdotpl_inpo</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="kr_tdpdotpl_inpoSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PDOTPL_INPO_IDX</label>
<input placeholder="PDOTPL_INPO_IDX" [(ngModel)]="kr_tdpdotpl_inpoService.FormData.PDOTPL_INPO_IDX" name="kr_tdpdotpl_inpoService.FormData.PDOTPL_INPO_IDX" type="text" class="form-control">
</div>
<div>
<label>PO_CODE</label>
<input placeholder="PO_CODE" [(ngModel)]="kr_tdpdotpl_inpoService.FormData.PO_CODE" name="kr_tdpdotpl_inpoService.FormData.PO_CODE" type="text" class="form-control">
</div>
<div>
<label>PART_NO</label>
<input placeholder="PART_NO" [(ngModel)]="kr_tdpdotpl_inpoService.FormData.PART_NO" name="kr_tdpdotpl_inpoService.FormData.PART_NO" type="text" class="form-control">
</div>
<div>
<label>PART_SNP</label>
<input placeholder="PART_SNP" [(ngModel)]="kr_tdpdotpl_inpoService.FormData.PART_SNP" name="kr_tdpdotpl_inpoService.FormData.PART_SNP" type="text" class="form-control">
</div>
<div>
<label>PO_QTY</label>
<input placeholder="PO_QTY" [(ngModel)]="kr_tdpdotpl_inpoService.FormData.PO_QTY" name="kr_tdpdotpl_inpoService.FormData.PO_QTY" type="text" class="form-control">
</div>
<div>
<label>IN_QTY</label>
<input placeholder="IN_QTY" [(ngModel)]="kr_tdpdotpl_inpoService.FormData.IN_QTY" name="kr_tdpdotpl_inpoService.FormData.IN_QTY" type="text" class="form-control">
</div>
<div>
<label>DONE_YN</label>
<input placeholder="DONE_YN" [(ngModel)]="kr_tdpdotpl_inpoService.FormData.DONE_YN" name="kr_tdpdotpl_inpoService.FormData.DONE_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="kr_tdpdotpl_inpoService.FormData.CREATE_DTM" name="kr_tdpdotpl_inpoService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="kr_tdpdotpl_inpoService.FormData.CREATE_USER" name="kr_tdpdotpl_inpoService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="kr_tdpdotpl_inpoService.FormData.UPDATE_DTM" name="kr_tdpdotpl_inpoService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="kr_tdpdotpl_inpoService.FormData.UPDATE_USER" name="kr_tdpdotpl_inpoService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


