
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    pd_asset_mm:
                    <b>{{pd_asset_mmService.FormData.Name}} [{{pd_asset_mmService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/pd_asset_mm" title="pd_asset_mm">pd_asset_mm</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/pd_asset_mm" title="pd_asset_mm">pd_asset_mm</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="pd_asset_mmAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="pd_asset_mmSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>PD_ASSET_IDX</label>
<input placeholder="PD_ASSET_IDX" [(ngModel)]="pd_asset_mmService.FormData.PD_ASSET_IDX" name="pd_asset_mmService.FormData.PD_ASSET_IDX" type="text" class="form-control">
</div>
<div>
<label>PDP_ASSET_ID</label>
<input placeholder="PDP_ASSET_ID" [(ngModel)]="pd_asset_mmService.FormData.PDP_ASSET_ID" name="pd_asset_mmService.FormData.PDP_ASSET_ID" type="text" class="form-control">
</div>
<div>
<label>PDP_ASSET_INDATE</label>
<input placeholder="PDP_ASSET_INDATE" [(ngModel)]="pd_asset_mmService.FormData.PDP_ASSET_INDATE" name="pd_asset_mmService.FormData.PDP_ASSET_INDATE" type="text" class="form-control">
</div>
<div>
<label>PDP_ASSET_NAME</label>
<input placeholder="PDP_ASSET_NAME" [(ngModel)]="pd_asset_mmService.FormData.PDP_ASSET_NAME" name="pd_asset_mmService.FormData.PDP_ASSET_NAME" type="text" class="form-control">
</div>
<div>
<label>PDP_ASSET_SPC</label>
<input placeholder="PDP_ASSET_SPC" [(ngModel)]="pd_asset_mmService.FormData.PDP_ASSET_SPC" name="pd_asset_mmService.FormData.PDP_ASSET_SPC" type="text" class="form-control">
</div>
<div>
<label>PDP_DEPA</label>
<input placeholder="PDP_DEPA" [(ngModel)]="pd_asset_mmService.FormData.PDP_DEPA" name="pd_asset_mmService.FormData.PDP_DEPA" type="text" class="form-control">
</div>
<div>
<label>PDP_DEPA_USER</label>
<input placeholder="PDP_DEPA_USER" [(ngModel)]="pd_asset_mmService.FormData.PDP_DEPA_USER" name="pd_asset_mmService.FormData.PDP_DEPA_USER" type="text" class="form-control">
</div>
<div>
<label>PDP_DEPA_USERDT</label>
<input placeholder="PDP_DEPA_USERDT" [(ngModel)]="pd_asset_mmService.FormData.PDP_DEPA_USERDT" name="pd_asset_mmService.FormData.PDP_DEPA_USERDT" type="text" class="form-control">
</div>
<div>
<label>PDP_DEPA_DYN</label>
<input placeholder="PDP_DEPA_DYN" [(ngModel)]="pd_asset_mmService.FormData.PDP_DEPA_DYN" name="pd_asset_mmService.FormData.PDP_DEPA_DYN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="pd_asset_mmService.FormData.CREATE_DTM" name="pd_asset_mmService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="pd_asset_mmService.FormData.CREATE_USER" name="pd_asset_mmService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="pd_asset_mmService.FormData.UPDATE_DTM" name="pd_asset_mmService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="pd_asset_mmService.FormData.UPDATE_USER" name="pd_asset_mmService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="pd_asset_mmService.IsShowLoading"></app-loading>
