<div class="col s12 m12 l10">
    <h5 class="card-title"><b>pd_cmpny_part</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="pd_cmpny_partSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PD_CMPNY_PART_IDX</label>
<input placeholder="PD_CMPNY_PART_IDX" [(ngModel)]="pd_cmpny_partService.FormData.PD_CMPNY_PART_IDX" name="pd_cmpny_partService.FormData.PD_CMPNY_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>CMPNY_IDX</label>
<input placeholder="CMPNY_IDX" [(ngModel)]="pd_cmpny_partService.FormData.CMPNY_IDX" name="pd_cmpny_partService.FormData.CMPNY_IDX" type="text" class="form-control">
</div>
<div>
<label>PDPART_IDX</label>
<input placeholder="PDPART_IDX" [(ngModel)]="pd_cmpny_partService.FormData.PDPART_IDX" name="pd_cmpny_partService.FormData.PDPART_IDX" type="text" class="form-control">
</div>
<div>
<label>DSC_YN</label>
<input placeholder="DSC_YN" [(ngModel)]="pd_cmpny_partService.FormData.DSC_YN" name="pd_cmpny_partService.FormData.DSC_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="pd_cmpny_partService.FormData.CREATE_DTM" name="pd_cmpny_partService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="pd_cmpny_partService.FormData.CREATE_USER" name="pd_cmpny_partService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="pd_cmpny_partService.FormData.UPDATE_DTM" name="pd_cmpny_partService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="pd_cmpny_partService.FormData.UPDATE_USER" name="pd_cmpny_partService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


