<div class="col s12 m12 l10">
    <h5 class="card-title"><b>pd_inout_part</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="pd_inout_partSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PD_INPUT_PART_IDX</label>
<input placeholder="PD_INPUT_PART_IDX" [(ngModel)]="pd_inout_partService.FormData.PD_INPUT_PART_IDX" name="pd_inout_partService.FormData.PD_INPUT_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>ORDER_IDX</label>
<input placeholder="ORDER_IDX" [(ngModel)]="pd_inout_partService.FormData.ORDER_IDX" name="pd_inout_partService.FormData.ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>PDPART_IDX</label>
<input placeholder="PDPART_IDX" [(ngModel)]="pd_inout_partService.FormData.PDPART_IDX" name="pd_inout_partService.FormData.PDPART_IDX" type="text" class="form-control">
</div>
<div>
<label>DSC_INOUT</label>
<input placeholder="DSC_INOUT" [(ngModel)]="pd_inout_partService.FormData.DSC_INOUT" name="pd_inout_partService.FormData.DSC_INOUT" type="text" class="form-control">
</div>
<div>
<label>PUR_QTY</label>
<input placeholder="PUR_QTY" [(ngModel)]="pd_inout_partService.FormData.PUR_QTY" name="pd_inout_partService.FormData.PUR_QTY" type="text" class="form-control">
</div>
<div>
<label>PUR_TIME</label>
<input placeholder="PUR_TIME" [(ngModel)]="pd_inout_partService.FormData.PUR_TIME" name="pd_inout_partService.FormData.PUR_TIME" type="text" class="form-control">
</div>
<div>
<label>OUT_USER</label>
<input placeholder="OUT_USER" [(ngModel)]="pd_inout_partService.FormData.OUT_USER" name="pd_inout_partService.FormData.OUT_USER" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="pd_inout_partService.FormData.CREATE_DTM" name="pd_inout_partService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="pd_inout_partService.FormData.CREATE_USER" name="pd_inout_partService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="pd_inout_partService.FormData.UPDATE_DTM" name="pd_inout_partService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="pd_inout_partService.FormData.UPDATE_USER" name="pd_inout_partService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


