<div class="col s12 m12 l10">
    <h5 class="card-title"><b>pdpart_addlist</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="pdpart_addlistSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PDPART_AL_IDX</label>
<input placeholder="PDPART_AL_IDX" [(ngModel)]="pdpart_addlistService.FormData.PDPART_AL_IDX" name="pdpart_addlistService.FormData.PDPART_AL_IDX" type="text" class="form-control">
</div>
<div>
<label>PN_NM_AL</label>
<input placeholder="PN_NM_AL" [(ngModel)]="pdpart_addlistService.FormData.PN_NM_AL" name="pdpart_addlistService.FormData.PN_NM_AL" type="text" class="form-control">
</div>
<div>
<label>PN_V_AL</label>
<input placeholder="PN_V_AL" [(ngModel)]="pdpart_addlistService.FormData.PN_V_AL" name="pdpart_addlistService.FormData.PN_V_AL" type="text" class="form-control">
</div>
<div>
<label>PSPEC_V_AL</label>
<input placeholder="PSPEC_V_AL" [(ngModel)]="pdpart_addlistService.FormData.PSPEC_V_AL" name="pdpart_addlistService.FormData.PSPEC_V_AL" type="text" class="form-control">
</div>
<div>
<label>PN_K_AL</label>
<input placeholder="PN_K_AL" [(ngModel)]="pdpart_addlistService.FormData.PN_K_AL" name="pdpart_addlistService.FormData.PN_K_AL" type="text" class="form-control">
</div>
<div>
<label>PSPEC_K_AL</label>
<input placeholder="PSPEC_K_AL" [(ngModel)]="pdpart_addlistService.FormData.PSPEC_K_AL" name="pdpart_addlistService.FormData.PSPEC_K_AL" type="text" class="form-control">
</div>
<div>
<label>PQTY_AL</label>
<input placeholder="PQTY_AL" [(ngModel)]="pdpart_addlistService.FormData.PQTY_AL" name="pdpart_addlistService.FormData.PQTY_AL" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="pdpart_addlistService.FormData.CREATE_DTM" name="pdpart_addlistService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="pdpart_addlistService.FormData.CREATE_USER" name="pdpart_addlistService.FormData.CREATE_USER" type="text" class="form-control">
</div>

</div>


