<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tdd_ct_st</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tdd_ct_stSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TDD_CT_IDX</label>
<input placeholder="TDD_CT_IDX" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_IDX" name="tdd_ct_stService.FormData.TDD_CT_IDX" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_PNIDX</label>
<input placeholder="TDD_CT_PNIDX" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_PNIDX" name="tdd_ct_stService.FormData.TDD_CT_PNIDX" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_DT</label>
<input placeholder="TDD_CT_DT" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_DT" name="tdd_ct_stService.FormData.TDD_CT_DT" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_QTY</label>
<input placeholder="TDD_CT_QTY" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_QTY" name="tdd_ct_stService.FormData.TDD_CT_QTY" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_SUB</label>
<input placeholder="TDD_CT_SUB" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_SUB" name="tdd_ct_stService.FormData.TDD_CT_SUB" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_FA</label>
<input placeholder="TDD_CT_FA" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_FA" name="tdd_ct_stService.FormData.TDD_CT_FA" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_RO</label>
<input placeholder="TDD_CT_RO" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_RO" name="tdd_ct_stService.FormData.TDD_CT_RO" type="text" class="form-control">
</div>
<div>
<label>TDD_MPP</label>
<input placeholder="TDD_MPP" [(ngModel)]="tdd_ct_stService.FormData.TDD_MPP" name="tdd_ct_stService.FormData.TDD_MPP" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_BEDT</label>
<input placeholder="TDD_CT_BEDT" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_BEDT" name="tdd_ct_stService.FormData.TDD_CT_BEDT" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_BEQTY</label>
<input placeholder="TDD_CT_BEQTY" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_BEQTY" name="tdd_ct_stService.FormData.TDD_CT_BEQTY" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdd_ct_stService.FormData.CREATE_DTM" name="tdd_ct_stService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdd_ct_stService.FormData.CREATE_USER" name="tdd_ct_stService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tdd_ct_stService.FormData.UPDATE_DTM" name="tdd_ct_stService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tdd_ct_stService.FormData.UPDATE_USER" name="tdd_ct_stService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


