<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tdd_poplan_djg
                    <span *ngIf="tdd_poplan_djgService.List">({{tdd_poplan_djgService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdd_poplan_djg" title="tdd_poplan_djg">tdd_poplan_djg</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdd_poplan_djg" title="tdd_poplan_djg">tdd_poplan_djg</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tdd_poplan_djgService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tdd_poplan_djgSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tdd_poplan_djgSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tdd_poplan_djgSort="matSort"
                       [dataSource]="tdd_poplan_djgService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tdd_poplan_djgPaginator">
                                {{
                                    tdd_poplan_djgPaginator.pageSize *
                                    tdd_poplan_djgPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="TDD_PPD_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_PPD_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_PPD_IDX" name="TDD_PPD_IDX{{element.TDD_PPD_IDX}}" [(ngModel)]="element.TDD_PPD_IDX">
</td>
</ng-container>
<ng-container matColumnDef="TDD_PO_TYPE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_PO_TYPE</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_PO_TYPE" name="TDD_PO_TYPE{{element.TDD_PPD_IDX}}" [(ngModel)]="element.TDD_PO_TYPE">
</td>
</ng-container>
<ng-container matColumnDef="TDD_PPD_PNIDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_PPD_PNIDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_PPD_PNIDX" name="TDD_PPD_PNIDX{{element.TDD_PPD_IDX}}" [(ngModel)]="element.TDD_PPD_PNIDX">
</td>
</ng-container>
<ng-container matColumnDef="TDD_PPD_DT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_PPD_DT</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_PPD_DT" name="TDD_PPD_DT{{element.TDD_PPD_IDX}}" [(ngModel)]="element.TDD_PPD_DT">
</td>
</ng-container>
<ng-container matColumnDef="TDD_PPD_DVC">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_PPD_DVC</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_PPD_DVC" name="TDD_PPD_DVC{{element.TDD_PPD_IDX}}" [(ngModel)]="element.TDD_PPD_DVC">
</td>
</ng-container>
<ng-container matColumnDef="TDD_PPD_QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_PPD_QTY</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_PPD_QTY" name="TDD_PPD_QTY{{element.TDD_PPD_IDX}}" [(ngModel)]="element.TDD_PPD_QTY">
</td>
</ng-container>
<ng-container matColumnDef="TDD_PPD_BEQTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_PPD_BEQTY</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_PPD_BEQTY" name="TDD_PPD_BEQTY{{element.TDD_PPD_IDX}}" [(ngModel)]="element.TDD_PPD_BEQTY">
</td>
</ng-container>
<ng-container matColumnDef="TDD_DSCN_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_DSCN_YN</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_DSCN_YN" name="TDD_DSCN_YN{{element.TDD_PPD_IDX}}" [(ngModel)]="element.TDD_DSCN_YN">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.TDD_PPD_IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.TDD_PPD_IDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_DTM" name="UPDATE_DTM{{element.TDD_PPD_IDX}}" [(ngModel)]="element.UPDATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_USER" name="UPDATE_USER{{element.TDD_PPD_IDX}}" [(ngModel)]="element.UPDATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tdd_poplan_djgSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.TDD_PPD_IDX>0" (click)="tdd_poplan_djgDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tdd_poplan_djgService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tdd_poplan_djgService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tdd_poplan_djgPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tdd_poplan_djgService.IsShowLoading"></app-loading>
