<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tdpdmtim</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tdpdmtimSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PDMTIN_IDX</label>
<input placeholder="PDMTIN_IDX" [(ngModel)]="tdpdmtimService.FormData.PDMTIN_IDX" name="tdpdmtimService.FormData.PDMTIN_IDX" type="text" class="form-control">
</div>
<div>
<label>VLID_PART_IDX</label>
<input placeholder="VLID_PART_IDX" [(ngModel)]="tdpdmtimService.FormData.VLID_PART_IDX" name="tdpdmtimService.FormData.VLID_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>VLID_PART_SNP</label>
<input placeholder="VLID_PART_SNP" [(ngModel)]="tdpdmtimService.FormData.VLID_PART_SNP" name="tdpdmtimService.FormData.VLID_PART_SNP" type="text" class="form-control">
</div>
<div>
<label>VLID_GRP</label>
<input placeholder="VLID_GRP" [(ngModel)]="tdpdmtimService.FormData.VLID_GRP" name="tdpdmtimService.FormData.VLID_GRP" type="text" class="form-control">
</div>
<div>
<label>VLID_DTM</label>
<input placeholder="VLID_DTM" [(ngModel)]="tdpdmtimService.FormData.VLID_DTM" name="tdpdmtimService.FormData.VLID_DTM" type="text" class="form-control">
</div>
<div>
<label>VLID_BARCODE</label>
<input placeholder="VLID_BARCODE" [(ngModel)]="tdpdmtimService.FormData.VLID_BARCODE" name="tdpdmtimService.FormData.VLID_BARCODE" type="text" class="form-control">
</div>
<div>
<label>VLID_REMARK</label>
<input placeholder="VLID_REMARK" [(ngModel)]="tdpdmtimService.FormData.VLID_REMARK" name="tdpdmtimService.FormData.VLID_REMARK" type="text" class="form-control">
</div>
<div>
<label>TDPDOTPLMU_IDX</label>
<input placeholder="TDPDOTPLMU_IDX" [(ngModel)]="tdpdmtimService.FormData.TDPDOTPLMU_IDX" name="tdpdmtimService.FormData.TDPDOTPLMU_IDX" type="text" class="form-control">
</div>
<div>
<label>PDOTPL_IDX</label>
<input placeholder="PDOTPL_IDX" [(ngModel)]="tdpdmtimService.FormData.PDOTPL_IDX" name="tdpdmtimService.FormData.PDOTPL_IDX" type="text" class="form-control">
</div>
<div>
<label>TSCOST_IDX</label>
<input placeholder="TSCOST_IDX" [(ngModel)]="tdpdmtimService.FormData.TSCOST_IDX" name="tdpdmtimService.FormData.TSCOST_IDX" type="text" class="form-control">
</div>
<div>
<label>BARCD_LOC</label>
<input placeholder="BARCD_LOC" [(ngModel)]="tdpdmtimService.FormData.BARCD_LOC" name="tdpdmtimService.FormData.BARCD_LOC" type="text" class="form-control">
</div>
<div>
<label>VLID_DSCN_YN</label>
<input placeholder="VLID_DSCN_YN" [(ngModel)]="tdpdmtimService.FormData.VLID_DSCN_YN" name="tdpdmtimService.FormData.VLID_DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdmtimService.FormData.CREATE_DTM" name="tdpdmtimService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdmtimService.FormData.CREATE_USER" name="tdpdmtimService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tdpdmtimService.FormData.UPDATE_DTM" name="tdpdmtimService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tdpdmtimService.FormData.UPDATE_USER" name="tdpdmtimService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


