<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tdpdotpl_tmp</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tdpdotpl_tmpSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PDOTPL_IDX</label>
<input placeholder="PDOTPL_IDX" [(ngModel)]="tdpdotpl_tmpService.FormData.PDOTPL_IDX" name="tdpdotpl_tmpService.FormData.PDOTPL_IDX" type="text" class="form-control">
</div>
<div>
<label>PO_CODE</label>
<input placeholder="PO_CODE" [(ngModel)]="tdpdotpl_tmpService.FormData.PO_CODE" name="tdpdotpl_tmpService.FormData.PO_CODE" type="text" class="form-control">
</div>
<div>
<label>PART_NO</label>
<input placeholder="PART_NO" [(ngModel)]="tdpdotpl_tmpService.FormData.PART_NO" name="tdpdotpl_tmpService.FormData.PART_NO" type="text" class="form-control">
</div>
<div>
<label>PO_QTY</label>
<input placeholder="PO_QTY" [(ngModel)]="tdpdotpl_tmpService.FormData.PO_QTY" name="tdpdotpl_tmpService.FormData.PO_QTY" type="text" class="form-control">
</div>
<div>
<label>NT_QTY</label>
<input placeholder="NT_QTY" [(ngModel)]="tdpdotpl_tmpService.FormData.NT_QTY" name="tdpdotpl_tmpService.FormData.NT_QTY" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdotpl_tmpService.FormData.CREATE_DTM" name="tdpdotpl_tmpService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdotpl_tmpService.FormData.CREATE_USER" name="tdpdotpl_tmpService.FormData.CREATE_USER" type="text" class="form-control">
</div>

</div>


