
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tdpdmtim_del:
                    <b>{{tdpdmtim_delService.FormData.Name}} [{{tdpdmtim_delService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdmtim_del" title="tdpdmtim_del">tdpdmtim_del</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdmtim_del" title="tdpdmtim_del">tdpdmtim_del</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tdpdmtim_delAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tdpdmtim_delSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>PDMTIN_IDX</label>
<input placeholder="PDMTIN_IDX" [(ngModel)]="tdpdmtim_delService.FormData.PDMTIN_IDX" name="tdpdmtim_delService.FormData.PDMTIN_IDX" type="text" class="form-control">
</div>
<div>
<label>VLID_PART_IDX</label>
<input placeholder="VLID_PART_IDX" [(ngModel)]="tdpdmtim_delService.FormData.VLID_PART_IDX" name="tdpdmtim_delService.FormData.VLID_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>VLID_PART_SNP</label>
<input placeholder="VLID_PART_SNP" [(ngModel)]="tdpdmtim_delService.FormData.VLID_PART_SNP" name="tdpdmtim_delService.FormData.VLID_PART_SNP" type="text" class="form-control">
</div>
<div>
<label>VLID_GRP</label>
<input placeholder="VLID_GRP" [(ngModel)]="tdpdmtim_delService.FormData.VLID_GRP" name="tdpdmtim_delService.FormData.VLID_GRP" type="text" class="form-control">
</div>
<div>
<label>VLID_DTM</label>
<input placeholder="VLID_DTM" [(ngModel)]="tdpdmtim_delService.FormData.VLID_DTM" name="tdpdmtim_delService.FormData.VLID_DTM" type="text" class="form-control">
</div>
<div>
<label>VLID_BARCODE</label>
<input placeholder="VLID_BARCODE" [(ngModel)]="tdpdmtim_delService.FormData.VLID_BARCODE" name="tdpdmtim_delService.FormData.VLID_BARCODE" type="text" class="form-control">
</div>
<div>
<label>VLID_REMARK</label>
<input placeholder="VLID_REMARK" [(ngModel)]="tdpdmtim_delService.FormData.VLID_REMARK" name="tdpdmtim_delService.FormData.VLID_REMARK" type="text" class="form-control">
</div>
<div>
<label>TDPDOTPLMU_IDX</label>
<input placeholder="TDPDOTPLMU_IDX" [(ngModel)]="tdpdmtim_delService.FormData.TDPDOTPLMU_IDX" name="tdpdmtim_delService.FormData.TDPDOTPLMU_IDX" type="text" class="form-control">
</div>
<div>
<label>PDOTPL_IDX</label>
<input placeholder="PDOTPL_IDX" [(ngModel)]="tdpdmtim_delService.FormData.PDOTPL_IDX" name="tdpdmtim_delService.FormData.PDOTPL_IDX" type="text" class="form-control">
</div>
<div>
<label>TSCOST_IDX</label>
<input placeholder="TSCOST_IDX" [(ngModel)]="tdpdmtim_delService.FormData.TSCOST_IDX" name="tdpdmtim_delService.FormData.TSCOST_IDX" type="text" class="form-control">
</div>
<div>
<label>VLID_DSCN_YN</label>
<input placeholder="VLID_DSCN_YN" [(ngModel)]="tdpdmtim_delService.FormData.VLID_DSCN_YN" name="tdpdmtim_delService.FormData.VLID_DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdmtim_delService.FormData.CREATE_DTM" name="tdpdmtim_delService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdmtim_delService.FormData.CREATE_USER" name="tdpdmtim_delService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tdpdmtim_delService.FormData.UPDATE_DTM" name="tdpdmtim_delService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tdpdmtim_delService.FormData.UPDATE_USER" name="tdpdmtim_delService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tdpdmtim_delService.IsShowLoading"></app-loading>
