
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tdpdmtim_tmp:
                    <b>{{tdpdmtim_tmpService.FormData.Name}} [{{tdpdmtim_tmpService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdmtim_tmp" title="tdpdmtim_tmp">tdpdmtim_tmp</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdmtim_tmp" title="tdpdmtim_tmp">tdpdmtim_tmp</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tdpdmtim_tmpAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tdpdmtim_tmpSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>PDTMP_IDX</label>
<input placeholder="PDTMP_IDX" [(ngModel)]="tdpdmtim_tmpService.FormData.PDTMP_IDX" name="tdpdmtim_tmpService.FormData.PDTMP_IDX" type="text" class="form-control">
</div>
<div>
<label>VLID_GRP</label>
<input placeholder="VLID_GRP" [(ngModel)]="tdpdmtim_tmpService.FormData.VLID_GRP" name="tdpdmtim_tmpService.FormData.VLID_GRP" type="text" class="form-control">
</div>
<div>
<label>VLID_USE_YN</label>
<input placeholder="VLID_USE_YN" [(ngModel)]="tdpdmtim_tmpService.FormData.VLID_USE_YN" name="tdpdmtim_tmpService.FormData.VLID_USE_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdmtim_tmpService.FormData.CREATE_DTM" name="tdpdmtim_tmpService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdmtim_tmpService.FormData.CREATE_USER" name="tdpdmtim_tmpService.FormData.CREATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tdpdmtim_tmpService.IsShowLoading"></app-loading>
