<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tdpdotpl</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tdpdotplSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PDOTPL_IDX</label>
<input placeholder="PDOTPL_IDX" [(ngModel)]="tdpdotplService.FormData.PDOTPL_IDX" name="tdpdotplService.FormData.PDOTPL_IDX" type="text" class="form-control">
</div>
<div>
<label>PO_CODE</label>
<input placeholder="PO_CODE" [(ngModel)]="tdpdotplService.FormData.PO_CODE" name="tdpdotplService.FormData.PO_CODE" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="tdpdotplService.FormData.PART_IDX" name="tdpdotplService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX_SNP</label>
<input placeholder="PART_IDX_SNP" [(ngModel)]="tdpdotplService.FormData.PART_IDX_SNP" name="tdpdotplService.FormData.PART_IDX_SNP" type="text" class="form-control">
</div>
<div>
<label>PO_QTY</label>
<input placeholder="PO_QTY" [(ngModel)]="tdpdotplService.FormData.PO_QTY" name="tdpdotplService.FormData.PO_QTY" type="text" class="form-control">
</div>
<div>
<label>NT_QTY</label>
<input placeholder="NT_QTY" [(ngModel)]="tdpdotplService.FormData.NT_QTY" name="tdpdotplService.FormData.NT_QTY" type="text" class="form-control">
</div>
<div>
<label>PACK_QTY</label>
<input placeholder="PACK_QTY" [(ngModel)]="tdpdotplService.FormData.PACK_QTY" name="tdpdotplService.FormData.PACK_QTY" type="text" class="form-control">
</div>
<div>
<label>DONE_YN</label>
<input placeholder="DONE_YN" [(ngModel)]="tdpdotplService.FormData.DONE_YN" name="tdpdotplService.FormData.DONE_YN" type="text" class="form-control">
</div>
<div>
<label>SORTNO</label>
<input placeholder="SORTNO" [(ngModel)]="tdpdotplService.FormData.SORTNO" name="tdpdotplService.FormData.SORTNO" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdotplService.FormData.CREATE_DTM" name="tdpdotplService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdotplService.FormData.CREATE_USER" name="tdpdotplService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tdpdotplService.FormData.UPDATE_DTM" name="tdpdotplService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tdpdotplService.FormData.UPDATE_USER" name="tdpdotplService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


