<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tfg_monitor</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tfg_monitorSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TFG_MO_IDX</label>
<input placeholder="TFG_MO_IDX" [(ngModel)]="tfg_monitorService.FormData.TFG_MO_IDX" name="tfg_monitorService.FormData.TFG_MO_IDX" type="text" class="form-control">
</div>
<div>
<label>TFG_DATE</label>
<input placeholder="TFG_DATE" [(ngModel)]="tfg_monitorService.FormData.TFG_DATE" name="tfg_monitorService.FormData.TFG_DATE" type="text" class="form-control">
</div>
<div>
<label>TFG_CD_IDX</label>
<input placeholder="TFG_CD_IDX" [(ngModel)]="tfg_monitorService.FormData.TFG_CD_IDX" name="tfg_monitorService.FormData.TFG_CD_IDX" type="text" class="form-control">
</div>
<div>
<label>TFG_QTY</label>
<input placeholder="TFG_QTY" [(ngModel)]="tfg_monitorService.FormData.TFG_QTY" name="tfg_monitorService.FormData.TFG_QTY" type="text" class="form-control">
</div>
<div>
<label>TFG_QTYBOX</label>
<input placeholder="TFG_QTYBOX" [(ngModel)]="tfg_monitorService.FormData.TFG_QTYBOX" name="tfg_monitorService.FormData.TFG_QTYBOX" type="text" class="form-control">
</div>
<div>
<label>TFG_TOTL_QTY</label>
<input placeholder="TFG_TOTL_QTY" [(ngModel)]="tfg_monitorService.FormData.TFG_TOTL_QTY" name="tfg_monitorService.FormData.TFG_TOTL_QTY" type="text" class="form-control">
</div>
<div>
<label>TFG_TOTL_QTYBOX</label>
<input placeholder="TFG_TOTL_QTYBOX" [(ngModel)]="tfg_monitorService.FormData.TFG_TOTL_QTYBOX" name="tfg_monitorService.FormData.TFG_TOTL_QTYBOX" type="text" class="form-control">
</div>
<div>
<label>TFG_NTC</label>
<input placeholder="TFG_NTC" [(ngModel)]="tfg_monitorService.FormData.TFG_NTC" name="tfg_monitorService.FormData.TFG_NTC" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tfg_monitorService.FormData.CREATE_DTM" name="tfg_monitorService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tfg_monitorService.FormData.CREATE_USER" name="tfg_monitorService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tfg_monitorService.FormData.UPDATE_DTM" name="tfg_monitorService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tfg_monitorService.FormData.UPDATE_USER" name="tfg_monitorService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


