<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tiivaj_history
                    <span *ngIf="tiivaj_historyService.List">({{tiivaj_historyService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tiivaj_history" title="tiivaj_history">tiivaj_history</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tiivaj_history" title="tiivaj_history">tiivaj_history</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tiivaj_historyService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tiivaj_historySearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tiivaj_historySearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tiivaj_historySort="matSort"
                       [dataSource]="tiivaj_historyService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tiivaj_historyPaginator">
                                {{
                                    tiivaj_historyPaginator.pageSize *
                                    tiivaj_historyPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="IVAJ_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>IVAJ_IDX</th>
<td mat-cell *matCellDef="let element">{{element.IVAJ_IDX}}</td>
</ng-container>
<ng-container matColumnDef="PART_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PART_IDX</th>
<td mat-cell *matCellDef="let element">{{element.PART_IDX}}</td>
</ng-container>
<ng-container matColumnDef="ADJ_SCN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ADJ_SCN</th>
<td mat-cell *matCellDef="let element">{{element.ADJ_SCN}}</td>
</ng-container>
<ng-container matColumnDef="ADJ_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ADJ_DTM</th>
<td mat-cell *matCellDef="let element">{{element.ADJ_DTM}}</td>
</ng-container>
<ng-container matColumnDef="ADJ_QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ADJ_QTY</th>
<td mat-cell *matCellDef="let element">{{element.ADJ_QTY}}</td>
</ng-container>
<ng-container matColumnDef="ADJ_BF_QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ADJ_BF_QTY</th>
<td mat-cell *matCellDef="let element">{{element.ADJ_BF_QTY}}</td>
</ng-container>
<ng-container matColumnDef="ADJ_AF_QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ADJ_AF_QTY</th>
<td mat-cell *matCellDef="let element">{{element.ADJ_AF_QTY}}</td>
</ng-container>
<ng-container matColumnDef="ADJ_RSON">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ADJ_RSON</th>
<td mat-cell *matCellDef="let element">{{element.ADJ_RSON}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_USER}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_USER}}</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tiivaj_historySave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.IVAJ_IDX>0" (click)="tiivaj_historyDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tiivaj_historyService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tiivaj_historyService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tiivaj_historyPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>              
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tiivaj_historyService.IsShowLoading"></app-loading>
