<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tiivaj_lead</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tiivaj_leadSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>IVAJ_IDX</label>
<input placeholder="IVAJ_IDX" [(ngModel)]="tiivaj_leadService.FormData.IVAJ_IDX" name="tiivaj_leadService.FormData.IVAJ_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="tiivaj_leadService.FormData.PART_IDX" name="tiivaj_leadService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>ADJ_SCN</label>
<input placeholder="ADJ_SCN" [(ngModel)]="tiivaj_leadService.FormData.ADJ_SCN" name="tiivaj_leadService.FormData.ADJ_SCN" type="text" class="form-control">
</div>
<div>
<label>ADJ_DTM</label>
<input placeholder="ADJ_DTM" [(ngModel)]="tiivaj_leadService.FormData.ADJ_DTM" name="tiivaj_leadService.FormData.ADJ_DTM" type="text" class="form-control">
</div>
<div>
<label>ADJ_QTY</label>
<input placeholder="ADJ_QTY" [(ngModel)]="tiivaj_leadService.FormData.ADJ_QTY" name="tiivaj_leadService.FormData.ADJ_QTY" type="text" class="form-control">
</div>
<div>
<label>ADJ_BF_QTY</label>
<input placeholder="ADJ_BF_QTY" [(ngModel)]="tiivaj_leadService.FormData.ADJ_BF_QTY" name="tiivaj_leadService.FormData.ADJ_BF_QTY" type="text" class="form-control">
</div>
<div>
<label>ADJ_AF_QTY</label>
<input placeholder="ADJ_AF_QTY" [(ngModel)]="tiivaj_leadService.FormData.ADJ_AF_QTY" name="tiivaj_leadService.FormData.ADJ_AF_QTY" type="text" class="form-control">
</div>
<div>
<label>ADJ_RSON</label>
<input placeholder="ADJ_RSON" [(ngModel)]="tiivaj_leadService.FormData.ADJ_RSON" name="tiivaj_leadService.FormData.ADJ_RSON" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tiivaj_leadService.FormData.CREATE_DTM" name="tiivaj_leadService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tiivaj_leadService.FormData.CREATE_USER" name="tiivaj_leadService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tiivaj_leadService.FormData.UPDATE_DTM" name="tiivaj_leadService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tiivaj_leadService.FormData.UPDATE_USER" name="tiivaj_leadService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


