<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tmbrcd
                    <span *ngIf="tmbrcdService.List">({{tmbrcdService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tmbrcd" title="tmbrcd">tmbrcd</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tmbrcd" title="tmbrcd">tmbrcd</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tmbrcdService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tmbrcdSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tmbrcdSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tmbrcdSort="matSort"
                       [dataSource]="tmbrcdService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tmbrcdPaginator">
                                {{
                                    tmbrcdPaginator.pageSize *
                                    tmbrcdPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="BARCD_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BARCD_IDX</th>
<td mat-cell *matCellDef="let element">{{element.BARCD_IDX}}</td>
</ng-container>
<ng-container matColumnDef="BARCD_ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BARCD_ID</th>
<td mat-cell *matCellDef="let element">{{element.BARCD_ID}}</td>
</ng-container>
<ng-container matColumnDef="PKG_GRP_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PKG_GRP_IDX</th>
<td mat-cell *matCellDef="let element">{{element.PKG_GRP_IDX}}</td>
</ng-container>
<ng-container matColumnDef="PKG_GRP">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PKG_GRP</th>
<td mat-cell *matCellDef="let element">{{element.PKG_GRP}}</td>
</ng-container>
<ng-container matColumnDef="PKG_QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PKG_QTY</th>
<td mat-cell *matCellDef="let element">{{element.PKG_QTY}}</td>
</ng-container>
<ng-container matColumnDef="PKG_OUTQTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PKG_OUTQTY</th>
<td mat-cell *matCellDef="let element">{{element.PKG_OUTQTY}}</td>
</ng-container>
<ng-container matColumnDef="DSCN_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DSCN_YN</th>
<td mat-cell *matCellDef="let element">{{element.DSCN_YN}}</td>
</ng-container>
<ng-container matColumnDef="OUT_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>OUT_DTM</th>
<td mat-cell *matCellDef="let element">{{element.OUT_DTM}}</td>
</ng-container>
<ng-container matColumnDef="MTIN_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MTIN_IDX</th>
<td mat-cell *matCellDef="let element">{{element.MTIN_IDX}}</td>
</ng-container>
<ng-container matColumnDef="BARCD_LOC">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BARCD_LOC</th>
<td mat-cell *matCellDef="let element">{{element.BARCD_LOC}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_USER}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_USER}}</td>
</ng-container>
<ng-container matColumnDef="BBCO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BBCO</th>
<td mat-cell *matCellDef="let element">{{element.BBCO}}</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tmbrcdSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.BARCD_IDX>0" (click)="tmbrcdDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tmbrcdService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tmbrcdService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tmbrcdPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>              
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tmbrcdService.IsShowLoading"></app-loading>
