<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tmbrcd_longterm</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tmbrcd_longtermSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TMBRCD_LONGTERM_IDX</label>
<input placeholder="TMBRCD_LONGTERM_IDX" [(ngModel)]="tmbrcd_longtermService.FormData.TMBRCD_LONGTERM_IDX" name="tmbrcd_longtermService.FormData.TMBRCD_LONGTERM_IDX" type="text" class="form-control">
</div>
<div>
<label>LT_BARCD_IDX</label>
<input placeholder="LT_BARCD_IDX" [(ngModel)]="tmbrcd_longtermService.FormData.LT_BARCD_IDX" name="tmbrcd_longtermService.FormData.LT_BARCD_IDX" type="text" class="form-control">
</div>
<div>
<label>LT_INS_DATE</label>
<input placeholder="LT_INS_DATE" [(ngModel)]="tmbrcd_longtermService.FormData.LT_INS_DATE" name="tmbrcd_longtermService.FormData.LT_INS_DATE" type="text" class="form-control">
</div>
<div>
<label>LT_RUS</label>
<input placeholder="LT_RUS" [(ngModel)]="tmbrcd_longtermService.FormData.LT_RUS" name="tmbrcd_longtermService.FormData.LT_RUS" type="text" class="form-control">
</div>
<div>
<label>LT_STAY</label>
<input placeholder="LT_STAY" [(ngModel)]="tmbrcd_longtermService.FormData.LT_STAY" name="tmbrcd_longtermService.FormData.LT_STAY" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tmbrcd_longtermService.FormData.CREATE_DTM" name="tmbrcd_longtermService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tmbrcd_longtermService.FormData.CREATE_USER" name="tmbrcd_longtermService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tmbrcd_longtermService.FormData.UPDATE_DTM" name="tmbrcd_longtermService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tmbrcd_longtermService.FormData.UPDATE_USER" name="tmbrcd_longtermService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


