
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tmmtin:
                    <b>{{tmmtinService.FormData.Name}} [{{tmmtinService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tmmtin" title="tmmtin">tmmtin</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tmmtin" title="tmmtin">tmmtin</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tmmtinAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tmmtinSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>MTIN_IDX</label>
<input placeholder="MTIN_IDX" [(ngModel)]="tmmtinService.FormData.MTIN_IDX" name="tmmtinService.FormData.MTIN_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="tmmtinService.FormData.PART_IDX" name="tmmtinService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>UTM</label>
<input placeholder="UTM" [(ngModel)]="tmmtinService.FormData.UTM" name="tmmtinService.FormData.UTM" type="text" class="form-control">
</div>
<div>
<label>DESC</label>
<input placeholder="DESC" [(ngModel)]="tmmtinService.FormData.DESC" name="tmmtinService.FormData.DESC" type="text" class="form-control">
</div>
<div>
<label>QTY</label>
<input placeholder="QTY" [(ngModel)]="tmmtinService.FormData.QTY" name="tmmtinService.FormData.QTY" type="text" class="form-control">
</div>
<div>
<label>NET_WT</label>
<input placeholder="NET_WT" [(ngModel)]="tmmtinService.FormData.NET_WT" name="tmmtinService.FormData.NET_WT" type="text" class="form-control">
</div>
<div>
<label>GRS_WT</label>
<input placeholder="GRS_WT" [(ngModel)]="tmmtinService.FormData.GRS_WT" name="tmmtinService.FormData.GRS_WT" type="text" class="form-control">
</div>
<div>
<label>PLET_NO</label>
<input placeholder="PLET_NO" [(ngModel)]="tmmtinService.FormData.PLET_NO" name="tmmtinService.FormData.PLET_NO" type="text" class="form-control">
</div>
<div>
<label>SHPD_NO</label>
<input placeholder="SHPD_NO" [(ngModel)]="tmmtinService.FormData.SHPD_NO" name="tmmtinService.FormData.SHPD_NO" type="text" class="form-control">
</div>
<div>
<label>MTIN_DTM</label>
<input placeholder="MTIN_DTM" [(ngModel)]="tmmtinService.FormData.MTIN_DTM" name="tmmtinService.FormData.MTIN_DTM" type="text" class="form-control">
</div>
<div>
<label>BRCD_PRNT</label>
<input placeholder="BRCD_PRNT" [(ngModel)]="tmmtinService.FormData.BRCD_PRNT" name="tmmtinService.FormData.BRCD_PRNT" type="text" class="form-control">
</div>
<div>
<label>DSCN_YN</label>
<input placeholder="DSCN_YN" [(ngModel)]="tmmtinService.FormData.DSCN_YN" name="tmmtinService.FormData.DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>MTIN_RMK</label>
<input placeholder="MTIN_RMK" [(ngModel)]="tmmtinService.FormData.MTIN_RMK" name="tmmtinService.FormData.MTIN_RMK" type="text" class="form-control">
</div>
<div>
<label>SNP_QTY</label>
<input placeholder="SNP_QTY" [(ngModel)]="tmmtinService.FormData.SNP_QTY" name="tmmtinService.FormData.SNP_QTY" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tmmtinService.FormData.CREATE_DTM" name="tmmtinService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tmmtinService.FormData.CREATE_USER" name="tmmtinService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tmmtinService.FormData.UPDATE_DTM" name="tmmtinService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tmmtinService.FormData.UPDATE_USER" name="tmmtinService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tmmtinService.IsShowLoading"></app-loading>
