
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    torder_bom:
                    <b>{{torder_bomService.FormData.Name}} [{{torder_bomService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torder_bom" title="torder_bom">torder_bom</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torder_bom" title="torder_bom">torder_bom</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="torder_bomAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="torder_bomSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TORDER_BOM_IDX</label>
<input placeholder="TORDER_BOM_IDX" [(ngModel)]="torder_bomService.FormData.TORDER_BOM_IDX" name="torder_bomService.FormData.TORDER_BOM_IDX" type="text" class="form-control">
</div>
<div>
<label>ORDER_IDX</label>
<input placeholder="ORDER_IDX" [(ngModel)]="torder_bomService.FormData.ORDER_IDX" name="torder_bomService.FormData.ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>T1_TOOL_IDX</label>
<input placeholder="T1_TOOL_IDX" [(ngModel)]="torder_bomService.FormData.T1_TOOL_IDX" name="torder_bomService.FormData.T1_TOOL_IDX" type="text" class="form-control">
</div>
<div>
<label>T2_TOOL_IDX</label>
<input placeholder="T2_TOOL_IDX" [(ngModel)]="torder_bomService.FormData.T2_TOOL_IDX" name="torder_bomService.FormData.T2_TOOL_IDX" type="text" class="form-control">
</div>
<div>
<label>ERROR_CHK</label>
<input placeholder="ERROR_CHK" [(ngModel)]="torder_bomService.FormData.ERROR_CHK" name="torder_bomService.FormData.ERROR_CHK" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torder_bomService.FormData.CREATE_DTM" name="torder_bomService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torder_bomService.FormData.CREATE_USER" name="torder_bomService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torder_bomService.FormData.UPDATE_DTM" name="torder_bomService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torder_bomService.FormData.UPDATE_USER" name="torder_bomService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="torder_bomService.IsShowLoading"></app-loading>
