<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torder_bom_spst2</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torder_bom_spst2Save()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TORDER_BOMSPST2_IDX</label>
<input placeholder="TORDER_BOMSPST2_IDX" [(ngModel)]="torder_bom_spst2Service.FormData.TORDER_BOMSPST2_IDX" name="torder_bom_spst2Service.FormData.TORDER_BOMSPST2_IDX" type="text" class="form-control">
</div>
<div>
<label>TORDER_BOMSPST_IDX</label>
<input placeholder="TORDER_BOMSPST_IDX" [(ngModel)]="torder_bom_spst2Service.FormData.TORDER_BOMSPST_IDX" name="torder_bom_spst2Service.FormData.TORDER_BOMSPST_IDX" type="text" class="form-control">
</div>
<div>
<label>TORDER_SPSTORDER_IDX</label>
<input placeholder="TORDER_SPSTORDER_IDX" [(ngModel)]="torder_bom_spst2Service.FormData.TORDER_SPSTORDER_IDX" name="torder_bom_spst2Service.FormData.TORDER_SPSTORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torder_bom_spst2Service.FormData.CREATE_DTM" name="torder_bom_spst2Service.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torder_bom_spst2Service.FormData.CREATE_USER" name="torder_bom_spst2Service.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torder_bom_spst2Service.FormData.UPDATE_DTM" name="torder_bom_spst2Service.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torder_bom_spst2Service.FormData.UPDATE_USER" name="torder_bom_spst2Service.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


