<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    torderlist_wtime
                    <span *ngIf="torderlist_wtimeService.List">({{torderlist_wtimeService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torderlist_wtime" title="torderlist_wtime">torderlist_wtime</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torderlist_wtime" title="torderlist_wtime">torderlist_wtime</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="torderlist_wtimeService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="torderlist_wtimeSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="torderlist_wtimeSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #torderlist_wtimeSort="matSort"
                       [dataSource]="torderlist_wtimeService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="torderlist_wtimePaginator">
                                {{
                                    torderlist_wtimePaginator.pageSize *
                                    torderlist_wtimePaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="TOWT_INDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TOWT_INDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TOWT_INDX" name="TOWT_INDX{{element.TOWT_INDX}}" [(ngModel)]="element.TOWT_INDX">
</td>
</ng-container>
<ng-container matColumnDef="MENU_TEXT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MENU_TEXT</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="MENU_TEXT" name="MENU_TEXT{{element.TOWT_INDX}}" [(ngModel)]="element.MENU_TEXT">
</td>
</ng-container>
<ng-container matColumnDef="USER_ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>USER_ID</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="USER_ID" name="USER_ID{{element.TOWT_INDX}}" [(ngModel)]="element.USER_ID">
</td>
</ng-container>
<ng-container matColumnDef="USER_MC">
<th mat-header-cell *matHeaderCellDef mat-sort-header>USER_MC</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="USER_MC" name="USER_MC{{element.TOWT_INDX}}" [(ngModel)]="element.USER_MC">
</td>
</ng-container>
<ng-container matColumnDef="ORDER_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ORDER_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="ORDER_IDX" name="ORDER_IDX{{element.TOWT_INDX}}" [(ngModel)]="element.ORDER_IDX">
</td>
</ng-container>
<ng-container matColumnDef="S_TIME">
<th mat-header-cell *matHeaderCellDef mat-sort-header>S_TIME</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="S_TIME" name="S_TIME{{element.TOWT_INDX}}" [(ngModel)]="element.S_TIME">
</td>
</ng-container>
<ng-container matColumnDef="E_TIME">
<th mat-header-cell *matHeaderCellDef mat-sort-header>E_TIME</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="E_TIME" name="E_TIME{{element.TOWT_INDX}}" [(ngModel)]="element.E_TIME">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.TOWT_INDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.TOWT_INDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_DTM" name="UPDATE_DTM{{element.TOWT_INDX}}" [(ngModel)]="element.UPDATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_USER" name="UPDATE_USER{{element.TOWT_INDX}}" [(ngModel)]="element.UPDATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="torderlist_wtimeSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.TOWT_INDX>0" (click)="torderlist_wtimeDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="torderlist_wtimeService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: torderlist_wtimeService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #torderlist_wtimePaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="torderlist_wtimeService.IsShowLoading"></app-loading>
