<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torderinspection</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torderinspectionSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>INSPECTION_IDX</label>
<input placeholder="INSPECTION_IDX" [(ngModel)]="torderinspectionService.FormData.INSPECTION_IDX" name="torderinspectionService.FormData.INSPECTION_IDX" type="text" class="form-control">
</div>
<div>
<label>ORDER_IDX</label>
<input placeholder="ORDER_IDX" [(ngModel)]="torderinspectionService.FormData.ORDER_IDX" name="torderinspectionService.FormData.ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>COLSIP</label>
<input placeholder="COLSIP" [(ngModel)]="torderinspectionService.FormData.COLSIP" name="torderinspectionService.FormData.COLSIP" type="text" class="form-control">
</div>
<div>
<label>CCH1</label>
<input placeholder="CCH1" [(ngModel)]="torderinspectionService.FormData.CCH1" name="torderinspectionService.FormData.CCH1" type="text" class="form-control">
</div>
<div>
<label>CCW1</label>
<input placeholder="CCW1" [(ngModel)]="torderinspectionService.FormData.CCW1" name="torderinspectionService.FormData.CCW1" type="text" class="form-control">
</div>
<div>
<label>CCH2</label>
<input placeholder="CCH2" [(ngModel)]="torderinspectionService.FormData.CCH2" name="torderinspectionService.FormData.CCH2" type="text" class="form-control">
</div>
<div>
<label>CCW2</label>
<input placeholder="CCW2" [(ngModel)]="torderinspectionService.FormData.CCW2" name="torderinspectionService.FormData.CCW2" type="text" class="form-control">
</div>
<div>
<label>ICH1</label>
<input placeholder="ICH1" [(ngModel)]="torderinspectionService.FormData.ICH1" name="torderinspectionService.FormData.ICH1" type="text" class="form-control">
</div>
<div>
<label>ICW1</label>
<input placeholder="ICW1" [(ngModel)]="torderinspectionService.FormData.ICW1" name="torderinspectionService.FormData.ICW1" type="text" class="form-control">
</div>
<div>
<label>ICH2</label>
<input placeholder="ICH2" [(ngModel)]="torderinspectionService.FormData.ICH2" name="torderinspectionService.FormData.ICH2" type="text" class="form-control">
</div>
<div>
<label>ICW2</label>
<input placeholder="ICW2" [(ngModel)]="torderinspectionService.FormData.ICW2" name="torderinspectionService.FormData.ICW2" type="text" class="form-control">
</div>
<div>
<label>WIRE_FORCE</label>
<input placeholder="WIRE_FORCE" [(ngModel)]="torderinspectionService.FormData.WIRE_FORCE" name="torderinspectionService.FormData.WIRE_FORCE" type="text" class="form-control">
</div>
<div>
<label>WIRE_LENGTH</label>
<input placeholder="WIRE_LENGTH" [(ngModel)]="torderinspectionService.FormData.WIRE_LENGTH" name="torderinspectionService.FormData.WIRE_LENGTH" type="text" class="form-control">
</div>
<div>
<label>IN_RESILT</label>
<input placeholder="IN_RESILT" [(ngModel)]="torderinspectionService.FormData.IN_RESILT" name="torderinspectionService.FormData.IN_RESILT" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torderinspectionService.FormData.CREATE_DTM" name="torderinspectionService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torderinspectionService.FormData.CREATE_USER" name="torderinspectionService.FormData.CREATE_USER" type="text" class="form-control">
</div>

</div>


