<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torder_barcode_lp</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torder_barcode_lpSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TORDER_BARCODE_IDX</label>
<input placeholder="TORDER_BARCODE_IDX" [(ngModel)]="torder_barcode_lpService.FormData.TORDER_BARCODE_IDX" name="torder_barcode_lpService.FormData.TORDER_BARCODE_IDX" type="text" class="form-control">
</div>
<div>
<label>TORDER_BARCODENM</label>
<input placeholder="TORDER_BARCODENM" [(ngModel)]="torder_barcode_lpService.FormData.TORDER_BARCODENM" name="torder_barcode_lpService.FormData.TORDER_BARCODENM" type="text" class="form-control">
</div>
<div>
<label>ORDER_IDX</label>
<input placeholder="ORDER_IDX" [(ngModel)]="torder_barcode_lpService.FormData.ORDER_IDX" name="torder_barcode_lpService.FormData.ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>Barcode_SEQ</label>
<input placeholder="Barcode_SEQ" [(ngModel)]="torder_barcode_lpService.FormData.Barcode_SEQ" name="torder_barcode_lpService.FormData.Barcode_SEQ" type="text" class="form-control">
</div>
<div>
<label>TORDER_BC_PRNT</label>
<input placeholder="TORDER_BC_PRNT" [(ngModel)]="torder_barcode_lpService.FormData.TORDER_BC_PRNT" name="torder_barcode_lpService.FormData.TORDER_BC_PRNT" type="text" class="form-control">
</div>
<div>
<label>TORDER_BC_WORK</label>
<input placeholder="TORDER_BC_WORK" [(ngModel)]="torder_barcode_lpService.FormData.TORDER_BC_WORK" name="torder_barcode_lpService.FormData.TORDER_BC_WORK" type="text" class="form-control">
</div>
<div>
<label>DSCN_YN</label>
<input placeholder="DSCN_YN" [(ngModel)]="torder_barcode_lpService.FormData.DSCN_YN" name="torder_barcode_lpService.FormData.DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>WORK_START</label>
<input placeholder="WORK_START" [(ngModel)]="torder_barcode_lpService.FormData.WORK_START" name="torder_barcode_lpService.FormData.WORK_START" type="text" class="form-control">
</div>
<div>
<label>WORK_END</label>
<input placeholder="WORK_END" [(ngModel)]="torder_barcode_lpService.FormData.WORK_END" name="torder_barcode_lpService.FormData.WORK_END" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torder_barcode_lpService.FormData.CREATE_DTM" name="torder_barcode_lpService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torder_barcode_lpService.FormData.CREATE_USER" name="torder_barcode_lpService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torder_barcode_lpService.FormData.UPDATE_DTM" name="torder_barcode_lpService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torder_barcode_lpService.FormData.UPDATE_USER" name="torder_barcode_lpService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


