<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torderlist_wtime</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torderlist_wtimeSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TOWT_INDX</label>
<input placeholder="TOWT_INDX" [(ngModel)]="torderlist_wtimeService.FormData.TOWT_INDX" name="torderlist_wtimeService.FormData.TOWT_INDX" type="text" class="form-control">
</div>
<div>
<label>MENU_TEXT</label>
<input placeholder="MENU_TEXT" [(ngModel)]="torderlist_wtimeService.FormData.MENU_TEXT" name="torderlist_wtimeService.FormData.MENU_TEXT" type="text" class="form-control">
</div>
<div>
<label>USER_ID</label>
<input placeholder="USER_ID" [(ngModel)]="torderlist_wtimeService.FormData.USER_ID" name="torderlist_wtimeService.FormData.USER_ID" type="text" class="form-control">
</div>
<div>
<label>USER_MC</label>
<input placeholder="USER_MC" [(ngModel)]="torderlist_wtimeService.FormData.USER_MC" name="torderlist_wtimeService.FormData.USER_MC" type="text" class="form-control">
</div>
<div>
<label>ORDER_IDX</label>
<input placeholder="ORDER_IDX" [(ngModel)]="torderlist_wtimeService.FormData.ORDER_IDX" name="torderlist_wtimeService.FormData.ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>S_TIME</label>
<input placeholder="S_TIME" [(ngModel)]="torderlist_wtimeService.FormData.S_TIME" name="torderlist_wtimeService.FormData.S_TIME" type="text" class="form-control">
</div>
<div>
<label>E_TIME</label>
<input placeholder="E_TIME" [(ngModel)]="torderlist_wtimeService.FormData.E_TIME" name="torderlist_wtimeService.FormData.E_TIME" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torderlist_wtimeService.FormData.CREATE_DTM" name="torderlist_wtimeService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torderlist_wtimeService.FormData.CREATE_USER" name="torderlist_wtimeService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torderlist_wtimeService.FormData.UPDATE_DTM" name="torderlist_wtimeService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torderlist_wtimeService.FormData.UPDATE_USER" name="torderlist_wtimeService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


