<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    torder_bom_not_climp
                    <span *ngIf="torder_bom_not_climpService.List">({{torder_bom_not_climpService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torder_bom_not_climp" title="torder_bom_not_climp">torder_bom_not_climp</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torder_bom_not_climp" title="torder_bom_not_climp">torder_bom_not_climp</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="torder_bom_not_climpService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="torder_bom_not_climpSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="torder_bom_not_climpSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #torder_bom_not_climpSort="matSort"
                       [dataSource]="torder_bom_not_climpService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="torder_bom_not_climpPaginator">
                                {{
                                    torder_bom_not_climpPaginator.pageSize *
                                    torder_bom_not_climpPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="CLIMP_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CLIMP_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CLIMP_IDX" name="CLIMP_IDX{{element.CLIMP_IDX}}" [(ngModel)]="element.CLIMP_IDX">
</td>
</ng-container>
<ng-container matColumnDef="CLIMP_TERM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CLIMP_TERM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CLIMP_TERM" name="CLIMP_TERM{{element.CLIMP_IDX}}" [(ngModel)]="element.CLIMP_TERM">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="torder_bom_not_climpSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.CLIMP_IDX>0" (click)="torder_bom_not_climpDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="torder_bom_not_climpService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: torder_bom_not_climpService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #torder_bom_not_climpPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="torder_bom_not_climpService.IsShowLoading"></app-loading>
