<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torderlist_spst</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torderlist_spstSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>ORDER_IDX</label>
<input placeholder="ORDER_IDX" [(ngModel)]="torderlist_spstService.FormData.ORDER_IDX" name="torderlist_spstService.FormData.ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>OR_NO</label>
<input placeholder="OR_NO" [(ngModel)]="torderlist_spstService.FormData.OR_NO" name="torderlist_spstService.FormData.OR_NO" type="text" class="form-control">
</div>
<div>
<label>WORK_WEEK</label>
<input placeholder="WORK_WEEK" [(ngModel)]="torderlist_spstService.FormData.WORK_WEEK" name="torderlist_spstService.FormData.WORK_WEEK" type="text" class="form-control">
</div>
<div>
<label>PO_DT</label>
<input placeholder="PO_DT" [(ngModel)]="torderlist_spstService.FormData.PO_DT" name="torderlist_spstService.FormData.PO_DT" type="text" class="form-control">
</div>
<div>
<label>LEAD_NO</label>
<input placeholder="LEAD_NO" [(ngModel)]="torderlist_spstService.FormData.LEAD_NO" name="torderlist_spstService.FormData.LEAD_NO" type="text" class="form-control">
</div>
<div>
<label>PO_QTY</label>
<input placeholder="PO_QTY" [(ngModel)]="torderlist_spstService.FormData.PO_QTY" name="torderlist_spstService.FormData.PO_QTY" type="text" class="form-control">
</div>
<div>
<label>SAFTY_QTY</label>
<input placeholder="SAFTY_QTY" [(ngModel)]="torderlist_spstService.FormData.SAFTY_QTY" name="torderlist_spstService.FormData.SAFTY_QTY" type="text" class="form-control">
</div>
<div>
<label>MC</label>
<input placeholder="MC" [(ngModel)]="torderlist_spstService.FormData.MC" name="torderlist_spstService.FormData.MC" type="text" class="form-control">
</div>
<div>
<label>BUNDLE_SIZE</label>
<input placeholder="BUNDLE_SIZE" [(ngModel)]="torderlist_spstService.FormData.BUNDLE_SIZE" name="torderlist_spstService.FormData.BUNDLE_SIZE" type="text" class="form-control">
</div>
<div>
<label>PERFORMN</label>
<input placeholder="PERFORMN" [(ngModel)]="torderlist_spstService.FormData.PERFORMN" name="torderlist_spstService.FormData.PERFORMN" type="text" class="form-control">
</div>
<div>
<label>CONDITION</label>
<input placeholder="CONDITION" [(ngModel)]="torderlist_spstService.FormData.CONDITION" name="torderlist_spstService.FormData.CONDITION" type="text" class="form-control">
</div>
<div>
<label>LEAD_COUNT</label>
<input placeholder="LEAD_COUNT" [(ngModel)]="torderlist_spstService.FormData.LEAD_COUNT" name="torderlist_spstService.FormData.LEAD_COUNT" type="text" class="form-control">
</div>
<div>
<label>PO_YN</label>
<input placeholder="PO_YN" [(ngModel)]="torderlist_spstService.FormData.PO_YN" name="torderlist_spstService.FormData.PO_YN" type="text" class="form-control">
</div>
<div>
<label>DSCN_YN</label>
<input placeholder="DSCN_YN" [(ngModel)]="torderlist_spstService.FormData.DSCN_YN" name="torderlist_spstService.FormData.DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>ERROR_YN</label>
<input placeholder="ERROR_YN" [(ngModel)]="torderlist_spstService.FormData.ERROR_YN" name="torderlist_spstService.FormData.ERROR_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torderlist_spstService.FormData.CREATE_DTM" name="torderlist_spstService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torderlist_spstService.FormData.CREATE_USER" name="torderlist_spstService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torderlist_spstService.FormData.UPDATE_DTM" name="torderlist_spstService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torderlist_spstService.FormData.UPDATE_USER" name="torderlist_spstService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
<div>
<label>FCTRY_NM</label>
<input placeholder="FCTRY_NM" [(ngModel)]="torderlist_spstService.FormData.FCTRY_NM" name="torderlist_spstService.FormData.FCTRY_NM" type="text" class="form-control">
</div>
<div>
<label>REP</label>
<input placeholder="REP" [(ngModel)]="torderlist_spstService.FormData.REP" name="torderlist_spstService.FormData.REP" type="text" class="form-control">
</div>
<div>
<label>TORDER_FG</label>
<input placeholder="TORDER_FG" [(ngModel)]="torderlist_spstService.FormData.TORDER_FG" name="torderlist_spstService.FormData.TORDER_FG" type="text" class="form-control">
</div>
<div>
<label>TOEXCEL_QTY</label>
<input placeholder="TOEXCEL_QTY" [(ngModel)]="torderlist_spstService.FormData.TOEXCEL_QTY" name="torderlist_spstService.FormData.TOEXCEL_QTY" type="text" class="form-control">
</div>

</div>


