
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    torder_bom_not_climp:
                    <b>{{torder_bom_not_climpService.FormData.Name}} [{{torder_bom_not_climpService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torder_bom_not_climp" title="torder_bom_not_climp">torder_bom_not_climp</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torder_bom_not_climp" title="torder_bom_not_climp">torder_bom_not_climp</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="torder_bom_not_climpAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="torder_bom_not_climpSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>CLIMP_IDX</label>
<input placeholder="CLIMP_IDX" [(ngModel)]="torder_bom_not_climpService.FormData.CLIMP_IDX" name="torder_bom_not_climpService.FormData.CLIMP_IDX" type="text" class="form-control">
</div>
<div>
<label>CLIMP_TERM</label>
<input placeholder="CLIMP_TERM" [(ngModel)]="torder_bom_not_climpService.FormData.CLIMP_TERM" name="torder_bom_not_climpService.FormData.CLIMP_TERM" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="torder_bom_not_climpService.IsShowLoading"></app-loading>
