
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    torderlist_lplist:
                    <b>{{torderlist_lplistService.FormData.Name}} [{{torderlist_lplistService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torderlist_lplist" title="torderlist_lplist">torderlist_lplist</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torderlist_lplist" title="torderlist_lplist">torderlist_lplist</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="torderlist_lplistAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="torderlist_lplistSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TORDERLIST_LPLIST_IDX</label>
<input placeholder="TORDERLIST_LPLIST_IDX" [(ngModel)]="torderlist_lplistService.FormData.TORDERLIST_LPLIST_IDX" name="torderlist_lplistService.FormData.TORDERLIST_LPLIST_IDX" type="text" class="form-control">
</div>
<div>
<label>LPLIST_LEADNO</label>
<input placeholder="LPLIST_LEADNO" [(ngModel)]="torderlist_lplistService.FormData.LPLIST_LEADNO" name="torderlist_lplistService.FormData.LPLIST_LEADNO" type="text" class="form-control">
</div>
<div>
<label>LPLIST_DYN</label>
<input placeholder="LPLIST_DYN" [(ngModel)]="torderlist_lplistService.FormData.LPLIST_DYN" name="torderlist_lplistService.FormData.LPLIST_DYN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torderlist_lplistService.FormData.CREATE_DTM" name="torderlist_lplistService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torderlist_lplistService.FormData.CREATE_USER" name="torderlist_lplistService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torderlist_lplistService.FormData.UPDATE_DTM" name="torderlist_lplistService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torderlist_lplistService.FormData.UPDATE_USER" name="torderlist_lplistService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="torderlist_lplistService.IsShowLoading"></app-loading>
