<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torderinspection_sw</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torderinspection_swSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>INSPECTION_IDX</label>
<input placeholder="INSPECTION_IDX" [(ngModel)]="torderinspection_swService.FormData.INSPECTION_IDX" name="torderinspection_swService.FormData.INSPECTION_IDX" type="text" class="form-control">
</div>
<div>
<label>ORDER_IDX</label>
<input placeholder="ORDER_IDX" [(ngModel)]="torderinspection_swService.FormData.ORDER_IDX" name="torderinspection_swService.FormData.ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>LOC_LRJ</label>
<input placeholder="LOC_LRJ" [(ngModel)]="torderinspection_swService.FormData.LOC_LRJ" name="torderinspection_swService.FormData.LOC_LRJ" type="text" class="form-control">
</div>
<div>
<label>COLSIP</label>
<input placeholder="COLSIP" [(ngModel)]="torderinspection_swService.FormData.COLSIP" name="torderinspection_swService.FormData.COLSIP" type="text" class="form-control">
</div>
<div>
<label>CCH</label>
<input placeholder="CCH" [(ngModel)]="torderinspection_swService.FormData.CCH" name="torderinspection_swService.FormData.CCH" type="text" class="form-control">
</div>
<div>
<label>CCW</label>
<input placeholder="CCW" [(ngModel)]="torderinspection_swService.FormData.CCW" name="torderinspection_swService.FormData.CCW" type="text" class="form-control">
</div>
<div>
<label>ICH</label>
<input placeholder="ICH" [(ngModel)]="torderinspection_swService.FormData.ICH" name="torderinspection_swService.FormData.ICH" type="text" class="form-control">
</div>
<div>
<label>ICW</label>
<input placeholder="ICW" [(ngModel)]="torderinspection_swService.FormData.ICW" name="torderinspection_swService.FormData.ICW" type="text" class="form-control">
</div>
<div>
<label>WIRE_FORCE</label>
<input placeholder="WIRE_FORCE" [(ngModel)]="torderinspection_swService.FormData.WIRE_FORCE" name="torderinspection_swService.FormData.WIRE_FORCE" type="text" class="form-control">
</div>
<div>
<label>IN_RESILT</label>
<input placeholder="IN_RESILT" [(ngModel)]="torderinspection_swService.FormData.IN_RESILT" name="torderinspection_swService.FormData.IN_RESILT" type="text" class="form-control">
</div>

</div>


