<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torderinspection_spst</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torderinspection_spstSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>INSPECTION_IDX</label>
<input placeholder="INSPECTION_IDX" [(ngModel)]="torderinspection_spstService.FormData.INSPECTION_IDX" name="torderinspection_spstService.FormData.INSPECTION_IDX" type="text" class="form-control">
</div>
<div>
<label>ORDER_IDX</label>
<input placeholder="ORDER_IDX" [(ngModel)]="torderinspection_spstService.FormData.ORDER_IDX" name="torderinspection_spstService.FormData.ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>COLSIP</label>
<input placeholder="COLSIP" [(ngModel)]="torderinspection_spstService.FormData.COLSIP" name="torderinspection_spstService.FormData.COLSIP" type="text" class="form-control">
</div>
<div>
<label>RES_H</label>
<input placeholder="RES_H" [(ngModel)]="torderinspection_spstService.FormData.RES_H" name="torderinspection_spstService.FormData.RES_H" type="text" class="form-control">
</div>
<div>
<label>RES_V</label>
<input placeholder="RES_V" [(ngModel)]="torderinspection_spstService.FormData.RES_V" name="torderinspection_spstService.FormData.RES_V" type="text" class="form-control">
</div>
<div>
<label>IN_RESILT</label>
<input placeholder="IN_RESILT" [(ngModel)]="torderinspection_spstService.FormData.IN_RESILT" name="torderinspection_spstService.FormData.IN_RESILT" type="text" class="form-control">
</div>

</div>


