<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torderlist_sw</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torderlist_swSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>ORDER_IDX</label>
<input placeholder="ORDER_IDX" [(ngModel)]="torderlist_swService.FormData.ORDER_IDX" name="torderlist_swService.FormData.ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>MC</label>
<input placeholder="MC" [(ngModel)]="torderlist_swService.FormData.MC" name="torderlist_swService.FormData.MC" type="text" class="form-control">
</div>
<div>
<label>TOT_QTY</label>
<input placeholder="TOT_QTY" [(ngModel)]="torderlist_swService.FormData.TOT_QTY" name="torderlist_swService.FormData.TOT_QTY" type="text" class="form-control">
</div>
<div>
<label>PERFORMN</label>
<input placeholder="PERFORMN" [(ngModel)]="torderlist_swService.FormData.PERFORMN" name="torderlist_swService.FormData.PERFORMN" type="text" class="form-control">
</div>
<div>
<label>CONDITION</label>
<input placeholder="CONDITION" [(ngModel)]="torderlist_swService.FormData.CONDITION" name="torderlist_swService.FormData.CONDITION" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torderlist_swService.FormData.CREATE_DTM" name="torderlist_swService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torderlist_swService.FormData.CREATE_USER" name="torderlist_swService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torderlist_swService.FormData.UPDATE_DTM" name="torderlist_swService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torderlist_swService.FormData.UPDATE_USER" name="torderlist_swService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


