<div class="col s12 m12 l10">
    <h5 class="card-title"><b>trackmtim_lt_insp</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="trackmtim_lt_inspSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>LT_INSP_IDX</label>
<input placeholder="LT_INSP_IDX" [(ngModel)]="trackmtim_lt_inspService.FormData.LT_INSP_IDX" name="trackmtim_lt_inspService.FormData.LT_INSP_IDX" type="text" class="form-control">
</div>
<div>
<label>TRACKMTIN_IDX</label>
<input placeholder="TRACKMTIN_IDX" [(ngModel)]="trackmtim_lt_inspService.FormData.TRACKMTIN_IDX" name="trackmtim_lt_inspService.FormData.TRACKMTIN_IDX" type="text" class="form-control">
</div>
<div>
<label>INSP_DATE</label>
<input placeholder="INSP_DATE" [(ngModel)]="trackmtim_lt_inspService.FormData.INSP_DATE" name="trackmtim_lt_inspService.FormData.INSP_DATE" type="text" class="form-control">
</div>
<div>
<label>INSP_QTY</label>
<input placeholder="INSP_QTY" [(ngModel)]="trackmtim_lt_inspService.FormData.INSP_QTY" name="trackmtim_lt_inspService.FormData.INSP_QTY" type="text" class="form-control">
</div>
<div>
<label>OK_QTY</label>
<input placeholder="OK_QTY" [(ngModel)]="trackmtim_lt_inspService.FormData.OK_QTY" name="trackmtim_lt_inspService.FormData.OK_QTY" type="text" class="form-control">
</div>
<div>
<label>NG_QTY</label>
<input placeholder="NG_QTY" [(ngModel)]="trackmtim_lt_inspService.FormData.NG_QTY" name="trackmtim_lt_inspService.FormData.NG_QTY" type="text" class="form-control">
</div>
<div>
<label>INSP_RESULT</label>
<input placeholder="INSP_RESULT" [(ngModel)]="trackmtim_lt_inspService.FormData.INSP_RESULT" name="trackmtim_lt_inspService.FormData.INSP_RESULT" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="trackmtim_lt_inspService.FormData.CREATE_DTM" name="trackmtim_lt_inspService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="trackmtim_lt_inspService.FormData.CREATE_USER" name="trackmtim_lt_inspService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="trackmtim_lt_inspService.FormData.UPDATE_DTM" name="trackmtim_lt_inspService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="trackmtim_lt_inspService.FormData.UPDATE_USER" name="trackmtim_lt_inspService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


