<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsauth
                    <span *ngIf="tsauthService.List">({{tsauthService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsauth" title="tsauth">tsauth</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsauth" title="tsauth">tsauth</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tsauthService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tsauthSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tsauthSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tsauthSort="matSort"
                       [dataSource]="tsauthService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tsauthPaginator">
                                {{
                                    tsauthPaginator.pageSize *
                                    tsauthPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="AUTH_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>AUTH_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="AUTH_IDX" name="AUTH_IDX{{element.AUTH_IDX}}" [(ngModel)]="element.AUTH_IDX">
</td>
</ng-container>
<ng-container matColumnDef="AUTH_ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>AUTH_ID</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="AUTH_ID" name="AUTH_ID{{element.AUTH_IDX}}" [(ngModel)]="element.AUTH_ID">
</td>
</ng-container>
<ng-container matColumnDef="AUTH_NM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>AUTH_NM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="AUTH_NM" name="AUTH_NM{{element.AUTH_IDX}}" [(ngModel)]="element.AUTH_NM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.AUTH_IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.AUTH_IDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_DTM" name="UPDATE_DTM{{element.AUTH_IDX}}" [(ngModel)]="element.UPDATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_USER" name="UPDATE_USER{{element.AUTH_IDX}}" [(ngModel)]="element.UPDATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tsauthSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.AUTH_IDX>0" (click)="tsauthDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tsauthService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tsauthService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tsauthPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsauthService.IsShowLoading"></app-loading>
