<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsbom_ver02_tmp1
                    <span *ngIf="tsbom_ver02_tmp1Service.List">({{tsbom_ver02_tmp1Service.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsbom_ver02_tmp1" title="tsbom_ver02_tmp1">tsbom_ver02_tmp1</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsbom_ver02_tmp1" title="tsbom_ver02_tmp1">tsbom_ver02_tmp1</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tsbom_ver02_tmp1Service.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tsbom_ver02_tmp1Search()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tsbom_ver02_tmp1Search()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tsbom_ver02_tmp1Sort="matSort"
                       [dataSource]="tsbom_ver02_tmp1Service.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tsbom_ver02_tmp1Paginator">
                                {{
                                    tsbom_ver02_tmp1Paginator.pageSize *
                                    tsbom_ver02_tmp1Paginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="BOM_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BOM_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="BOM_IDX" name="BOM_IDX{{element.BOM_IDX}}" [(ngModel)]="element.BOM_IDX">
</td>
</ng-container>
<ng-container matColumnDef="PAREN_PART_NO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PAREN_PART_NO</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="PAREN_PART_NO" name="PAREN_PART_NO{{element.BOM_IDX}}" [(ngModel)]="element.PAREN_PART_NO">
</td>
</ng-container>
<ng-container matColumnDef="PAREN_EO_NO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PAREN_EO_NO</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="PAREN_EO_NO" name="PAREN_EO_NO{{element.BOM_IDX}}" [(ngModel)]="element.PAREN_EO_NO">
</td>
</ng-container>
<ng-container matColumnDef="PART_NO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PART_NO</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="PART_NO" name="PART_NO{{element.BOM_IDX}}" [(ngModel)]="element.PART_NO">
</td>
</ng-container>
<ng-container matColumnDef="BOM_GRUP">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BOM_GRUP</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="BOM_GRUP" name="BOM_GRUP{{element.BOM_IDX}}" [(ngModel)]="element.BOM_GRUP">
</td>
</ng-container>
<ng-container matColumnDef="BOM_DES">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BOM_DES</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="BOM_DES" name="BOM_DES{{element.BOM_IDX}}" [(ngModel)]="element.BOM_DES">
</td>
</ng-container>
<ng-container matColumnDef="BOM_RMK">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BOM_RMK</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="BOM_RMK" name="BOM_RMK{{element.BOM_IDX}}" [(ngModel)]="element.BOM_RMK">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tsbom_ver02_tmp1Save(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.BOM_IDX>0" (click)="tsbom_ver02_tmp1Delete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tsbom_ver02_tmp1Service.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tsbom_ver02_tmp1Service.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tsbom_ver02_tmp1Paginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsbom_ver02_tmp1Service.IsShowLoading"></app-loading>
