
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsbom_list:
                    <b>{{tsbom_listService.FormData.Name}} [{{tsbom_listService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsbom_list" title="tsbom_list">tsbom_list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsbom_list" title="tsbom_list">tsbom_list</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tsbom_listAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tsbom_listSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>BOM_LIST_IDX</label>
<input placeholder="BOM_LIST_IDX" [(ngModel)]="tsbom_listService.FormData.BOM_LIST_IDX" name="tsbom_listService.FormData.BOM_LIST_IDX" type="text" class="form-control">
</div>
<div>
<label>PAREN_PART_NO</label>
<input placeholder="PAREN_PART_NO" [(ngModel)]="tsbom_listService.FormData.PAREN_PART_NO" name="tsbom_listService.FormData.PAREN_PART_NO" type="text" class="form-control">
</div>
<div>
<label>PART_NO</label>
<input placeholder="PART_NO" [(ngModel)]="tsbom_listService.FormData.PART_NO" name="tsbom_listService.FormData.PART_NO" type="text" class="form-control">
</div>
<div>
<label>PART_NONM</label>
<input placeholder="PART_NONM" [(ngModel)]="tsbom_listService.FormData.PART_NONM" name="tsbom_listService.FormData.PART_NONM" type="text" class="form-control">
</div>
<div>
<label>BOM_DES</label>
<input placeholder="BOM_DES" [(ngModel)]="tsbom_listService.FormData.BOM_DES" name="tsbom_listService.FormData.BOM_DES" type="text" class="form-control">
</div>
<div>
<label>BOM_UNIT</label>
<input placeholder="BOM_UNIT" [(ngModel)]="tsbom_listService.FormData.BOM_UNIT" name="tsbom_listService.FormData.BOM_UNIT" type="text" class="form-control">
</div>
<div>
<label>BOM_GRUP</label>
<input placeholder="BOM_GRUP" [(ngModel)]="tsbom_listService.FormData.BOM_GRUP" name="tsbom_listService.FormData.BOM_GRUP" type="text" class="form-control">
</div>
<div>
<label>BOM_RMK</label>
<input placeholder="BOM_RMK" [(ngModel)]="tsbom_listService.FormData.BOM_RMK" name="tsbom_listService.FormData.BOM_RMK" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsbom_listService.FormData.CREATE_DTM" name="tsbom_listService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsbom_listService.FormData.CREATE_USER" name="tsbom_listService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsbom_listService.FormData.UPDATE_DTM" name="tsbom_listService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsbom_listService.FormData.UPDATE_USER" name="tsbom_listService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsbom_listService.IsShowLoading"></app-loading>
