<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsbom</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsbomSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>BOM_IDX</label>
<input placeholder="BOM_IDX" [(ngModel)]="tsbomService.FormData.BOM_IDX" name="tsbomService.FormData.BOM_IDX" type="text" class="form-control">
</div>
<div>
<label>PAREN_PART_IDX</label>
<input placeholder="PAREN_PART_IDX" [(ngModel)]="tsbomService.FormData.PAREN_PART_IDX" name="tsbomService.FormData.PAREN_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="tsbomService.FormData.PART_IDX" name="tsbomService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>BOM_US</label>
<input placeholder="BOM_US" [(ngModel)]="tsbomService.FormData.BOM_US" name="tsbomService.FormData.BOM_US" type="text" class="form-control">
</div>
<div>
<label>BOM_DSYN</label>
<input placeholder="BOM_DSYN" [(ngModel)]="tsbomService.FormData.BOM_DSYN" name="tsbomService.FormData.BOM_DSYN" type="text" class="form-control">
</div>
<div>
<label>BOM_REMARK</label>
<input placeholder="BOM_REMARK" [(ngModel)]="tsbomService.FormData.BOM_REMARK" name="tsbomService.FormData.BOM_REMARK" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsbomService.FormData.CREATE_DTM" name="tsbomService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsbomService.FormData.CREATE_USER" name="tsbomService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsbomService.FormData.UPDATE_DTM" name="tsbomService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsbomService.FormData.UPDATE_USER" name="tsbomService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


