<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsbom_ver02_po</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsbom_ver02_poSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>BOM_IDX</label>
<input placeholder="BOM_IDX" [(ngModel)]="tsbom_ver02_poService.FormData.BOM_IDX" name="tsbom_ver02_poService.FormData.BOM_IDX" type="text" class="form-control">
</div>
<div>
<label>PO_DATE</label>
<input placeholder="PO_DATE" [(ngModel)]="tsbom_ver02_poService.FormData.PO_DATE" name="tsbom_ver02_poService.FormData.PO_DATE" type="text" class="form-control">
</div>
<div>
<label>PAREN_PART_IDX</label>
<input placeholder="PAREN_PART_IDX" [(ngModel)]="tsbom_ver02_poService.FormData.PAREN_PART_IDX" name="tsbom_ver02_poService.FormData.PAREN_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>PAREN_EO_IDX</label>
<input placeholder="PAREN_EO_IDX" [(ngModel)]="tsbom_ver02_poService.FormData.PAREN_EO_IDX" name="tsbom_ver02_poService.FormData.PAREN_EO_IDX" type="text" class="form-control">
</div>
<div>
<label>PO_QTY</label>
<input placeholder="PO_QTY" [(ngModel)]="tsbom_ver02_poService.FormData.PO_QTY" name="tsbom_ver02_poService.FormData.PO_QTY" type="text" class="form-control">
</div>
<div>
<label>DSYN</label>
<input placeholder="DSYN" [(ngModel)]="tsbom_ver02_poService.FormData.DSYN" name="tsbom_ver02_poService.FormData.DSYN" type="text" class="form-control">
</div>
<div>
<label>PO_GRUP</label>
<input placeholder="PO_GRUP" [(ngModel)]="tsbom_ver02_poService.FormData.PO_GRUP" name="tsbom_ver02_poService.FormData.PO_GRUP" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsbom_ver02_poService.FormData.CREATE_DTM" name="tsbom_ver02_poService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsbom_ver02_poService.FormData.CREATE_USER" name="tsbom_ver02_poService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsbom_ver02_poService.FormData.UPDATE_DTM" name="tsbom_ver02_poService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsbom_ver02_poService.FormData.UPDATE_USER" name="tsbom_ver02_poService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


