
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsbom:
                    <b>{{tsbomService.FormData.Name}} [{{tsbomService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsbom" title="tsbom">tsbom</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsbom" title="tsbom">tsbom</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tsbomAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tsbomSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>BOM_IDX</label>
<input placeholder="BOM_IDX" [(ngModel)]="tsbomService.FormData.BOM_IDX" name="tsbomService.FormData.BOM_IDX" type="text" class="form-control">
</div>
<div>
<label>PAREN_PART_IDX</label>
<input placeholder="PAREN_PART_IDX" [(ngModel)]="tsbomService.FormData.PAREN_PART_IDX" name="tsbomService.FormData.PAREN_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="tsbomService.FormData.PART_IDX" name="tsbomService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>BOM_US</label>
<input placeholder="BOM_US" [(ngModel)]="tsbomService.FormData.BOM_US" name="tsbomService.FormData.BOM_US" type="text" class="form-control">
</div>
<div>
<label>BOM_DSYN</label>
<input placeholder="BOM_DSYN" [(ngModel)]="tsbomService.FormData.BOM_DSYN" name="tsbomService.FormData.BOM_DSYN" type="text" class="form-control">
</div>
<div>
<label>BOM_REMARK</label>
<input placeholder="BOM_REMARK" [(ngModel)]="tsbomService.FormData.BOM_REMARK" name="tsbomService.FormData.BOM_REMARK" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsbomService.FormData.CREATE_DTM" name="tsbomService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsbomService.FormData.CREATE_USER" name="tsbomService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsbomService.FormData.UPDATE_DTM" name="tsbomService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsbomService.FormData.UPDATE_USER" name="tsbomService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsbomService.IsShowLoading"></app-loading>
