<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsbom_ver02_tmp1</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsbom_ver02_tmp1Save()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>BOM_IDX</label>
<input placeholder="BOM_IDX" [(ngModel)]="tsbom_ver02_tmp1Service.FormData.BOM_IDX" name="tsbom_ver02_tmp1Service.FormData.BOM_IDX" type="text" class="form-control">
</div>
<div>
<label>PAREN_PART_NO</label>
<input placeholder="PAREN_PART_NO" [(ngModel)]="tsbom_ver02_tmp1Service.FormData.PAREN_PART_NO" name="tsbom_ver02_tmp1Service.FormData.PAREN_PART_NO" type="text" class="form-control">
</div>
<div>
<label>PAREN_EO_NO</label>
<input placeholder="PAREN_EO_NO" [(ngModel)]="tsbom_ver02_tmp1Service.FormData.PAREN_EO_NO" name="tsbom_ver02_tmp1Service.FormData.PAREN_EO_NO" type="text" class="form-control">
</div>
<div>
<label>PART_NO</label>
<input placeholder="PART_NO" [(ngModel)]="tsbom_ver02_tmp1Service.FormData.PART_NO" name="tsbom_ver02_tmp1Service.FormData.PART_NO" type="text" class="form-control">
</div>
<div>
<label>BOM_GRUP</label>
<input placeholder="BOM_GRUP" [(ngModel)]="tsbom_ver02_tmp1Service.FormData.BOM_GRUP" name="tsbom_ver02_tmp1Service.FormData.BOM_GRUP" type="text" class="form-control">
</div>
<div>
<label>BOM_DES</label>
<input placeholder="BOM_DES" [(ngModel)]="tsbom_ver02_tmp1Service.FormData.BOM_DES" name="tsbom_ver02_tmp1Service.FormData.BOM_DES" type="text" class="form-control">
</div>
<div>
<label>BOM_RMK</label>
<input placeholder="BOM_RMK" [(ngModel)]="tsbom_ver02_tmp1Service.FormData.BOM_RMK" name="tsbom_ver02_tmp1Service.FormData.BOM_RMK" type="text" class="form-control">
</div>

</div>


