<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tscut_st_uph</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tscut_st_uphSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TSCUT_ST_UPH_IDX</label>
<input placeholder="TSCUT_ST_UPH_IDX" [(ngModel)]="tscut_st_uphService.FormData.TSCUT_ST_UPH_IDX" name="tscut_st_uphService.FormData.TSCUT_ST_UPH_IDX" type="text" class="form-control">
</div>
<div>
<label>TSCUT_ST_UPH_RUT</label>
<input placeholder="TSCUT_ST_UPH_RUT" [(ngModel)]="tscut_st_uphService.FormData.TSCUT_ST_UPH_RUT" name="tscut_st_uphService.FormData.TSCUT_ST_UPH_RUT" type="text" class="form-control">
</div>
<div>
<label>TSCUT_ST_UPH_NAME</label>
<input placeholder="TSCUT_ST_UPH_NAME" [(ngModel)]="tscut_st_uphService.FormData.TSCUT_ST_UPH_NAME" name="tscut_st_uphService.FormData.TSCUT_ST_UPH_NAME" type="text" class="form-control">
</div>
<div>
<label>TSCUT_ST_UPH_MIN</label>
<input placeholder="TSCUT_ST_UPH_MIN" [(ngModel)]="tscut_st_uphService.FormData.TSCUT_ST_UPH_MIN" name="tscut_st_uphService.FormData.TSCUT_ST_UPH_MIN" type="text" class="form-control">
</div>
<div>
<label>TSCUT_ST_UPH_MAX</label>
<input placeholder="TSCUT_ST_UPH_MAX" [(ngModel)]="tscut_st_uphService.FormData.TSCUT_ST_UPH_MAX" name="tscut_st_uphService.FormData.TSCUT_ST_UPH_MAX" type="text" class="form-control">
</div>
<div>
<label>TSCUT_ST_UPH_TCNT</label>
<input placeholder="TSCUT_ST_UPH_TCNT" [(ngModel)]="tscut_st_uphService.FormData.TSCUT_ST_UPH_TCNT" name="tscut_st_uphService.FormData.TSCUT_ST_UPH_TCNT" type="text" class="form-control">
</div>
<div>
<label>TSCUT_ST_UPH_SCNT</label>
<input placeholder="TSCUT_ST_UPH_SCNT" [(ngModel)]="tscut_st_uphService.FormData.TSCUT_ST_UPH_SCNT" name="tscut_st_uphService.FormData.TSCUT_ST_UPH_SCNT" type="text" class="form-control">
</div>
<div>
<label>TSCUT_ST_UPH_RUS</label>
<input placeholder="TSCUT_ST_UPH_RUS" [(ngModel)]="tscut_st_uphService.FormData.TSCUT_ST_UPH_RUS" name="tscut_st_uphService.FormData.TSCUT_ST_UPH_RUS" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tscut_st_uphService.FormData.CREATE_DTM" name="tscut_st_uphService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tscut_st_uphService.FormData.CREATE_USER" name="tscut_st_uphService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tscut_st_uphService.FormData.UPDATE_DTM" name="tscut_st_uphService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tscut_st_uphService.FormData.UPDATE_USER" name="tscut_st_uphService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


