<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsnon_oper_andon</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsnon_oper_andonSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TSNON_OPER_MITOR_IDX</label>
<input placeholder="TSNON_OPER_MITOR_IDX" [(ngModel)]="tsnon_oper_andonService.FormData.TSNON_OPER_MITOR_IDX" name="tsnon_oper_andonService.FormData.TSNON_OPER_MITOR_IDX" type="text" class="form-control">
</div>
<div>
<label>TSNON_OPER_MITOR_MCNM</label>
<input placeholder="TSNON_OPER_MITOR_MCNM" [(ngModel)]="tsnon_oper_andonService.FormData.TSNON_OPER_MITOR_MCNM" name="tsnon_oper_andonService.FormData.TSNON_OPER_MITOR_MCNM" type="text" class="form-control">
</div>
<div>
<label>TSNON_OPER_MITOR_NOIC</label>
<input placeholder="TSNON_OPER_MITOR_NOIC" [(ngModel)]="tsnon_oper_andonService.FormData.TSNON_OPER_MITOR_NOIC" name="tsnon_oper_andonService.FormData.TSNON_OPER_MITOR_NOIC" type="text" class="form-control">
</div>
<div>
<label>TSNON_OPER_MITOR_RUNYN</label>
<input placeholder="TSNON_OPER_MITOR_RUNYN" [(ngModel)]="tsnon_oper_andonService.FormData.TSNON_OPER_MITOR_RUNYN" name="tsnon_oper_andonService.FormData.TSNON_OPER_MITOR_RUNYN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsnon_oper_andonService.FormData.CREATE_DTM" name="tsnon_oper_andonService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsnon_oper_andonService.FormData.CREATE_USER" name="tsnon_oper_andonService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsnon_oper_andonService.FormData.UPDATE_DTM" name="tsnon_oper_andonService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsnon_oper_andonService.FormData.UPDATE_USER" name="tsnon_oper_andonService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


