<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsnon_worktime</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsnon_worktimeSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TSNON_WT_IDX</label>
<input placeholder="TSNON_WT_IDX" [(ngModel)]="tsnon_worktimeService.FormData.TSNON_WT_IDX" name="tsnon_worktimeService.FormData.TSNON_WT_IDX" type="text" class="form-control">
</div>
<div>
<label>TSNON_MCIDX</label>
<input placeholder="TSNON_MCIDX" [(ngModel)]="tsnon_worktimeService.FormData.TSNON_MCIDX" name="tsnon_worktimeService.FormData.TSNON_MCIDX" type="text" class="form-control">
</div>
<div>
<label>TSNON_SHIF</label>
<input placeholder="TSNON_SHIF" [(ngModel)]="tsnon_worktimeService.FormData.TSNON_SHIF" name="tsnon_worktimeService.FormData.TSNON_SHIF" type="text" class="form-control">
</div>
<div>
<label>TSNON_DATE</label>
<input placeholder="TSNON_DATE" [(ngModel)]="tsnon_worktimeService.FormData.TSNON_DATE" name="tsnon_worktimeService.FormData.TSNON_DATE" type="text" class="form-control">
</div>
<div>
<label>TSNON_ST</label>
<input placeholder="TSNON_ST" [(ngModel)]="tsnon_worktimeService.FormData.TSNON_ST" name="tsnon_worktimeService.FormData.TSNON_ST" type="text" class="form-control">
</div>
<div>
<label>TSNON_ET</label>
<input placeholder="TSNON_ET" [(ngModel)]="tsnon_worktimeService.FormData.TSNON_ET" name="tsnon_worktimeService.FormData.TSNON_ET" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsnon_worktimeService.FormData.CREATE_DTM" name="tsnon_worktimeService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsnon_worktimeService.FormData.CREATE_USER" name="tsnon_worktimeService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsnon_worktimeService.FormData.UPDATE_DTM" name="tsnon_worktimeService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsnon_worktimeService.FormData.UPDATE_USER" name="tsnon_worktimeService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


