<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tspart_file</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tspart_fileSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PARTFILE_IDX</label>
<input placeholder="PARTFILE_IDX" [(ngModel)]="tspart_fileService.FormData.PARTFILE_IDX" name="tspart_fileService.FormData.PARTFILE_IDX" type="text" class="form-control">
</div>
<div>
<label>DWG_FILE_GRP</label>
<input placeholder="DWG_FILE_GRP" [(ngModel)]="tspart_fileService.FormData.DWG_FILE_GRP" name="tspart_fileService.FormData.DWG_FILE_GRP" type="text" class="form-control">
</div>
<div>
<label>FILE_NO</label>
<input placeholder="FILE_NO" [(ngModel)]="tspart_fileService.FormData.FILE_NO" name="tspart_fileService.FormData.FILE_NO" type="text" class="form-control">
</div>
<div>
<label>FILE_FOLDER</label>
<input placeholder="FILE_FOLDER" [(ngModel)]="tspart_fileService.FormData.FILE_FOLDER" name="tspart_fileService.FormData.FILE_FOLDER" type="text" class="form-control">
</div>
<div>
<label>FILE_NAME</label>
<input placeholder="FILE_NAME" [(ngModel)]="tspart_fileService.FormData.FILE_NAME" name="tspart_fileService.FormData.FILE_NAME" type="text" class="form-control">
</div>
<div>
<label>FILE_REMARK</label>
<input placeholder="FILE_REMARK" [(ngModel)]="tspart_fileService.FormData.FILE_REMARK" name="tspart_fileService.FormData.FILE_REMARK" type="text" class="form-control">
</div>
<div>
<label>FILE_USEYN</label>
<input placeholder="FILE_USEYN" [(ngModel)]="tspart_fileService.FormData.FILE_USEYN" name="tspart_fileService.FormData.FILE_USEYN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tspart_fileService.FormData.CREATE_DTM" name="tspart_fileService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tspart_fileService.FormData.CREATE_USER" name="tspart_fileService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tspart_fileService.FormData.UPDATE_DTM" name="tspart_fileService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tspart_fileService.FormData.UPDATE_USER" name="tspart_fileService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


