<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tspart_addtnl</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tspart_addtnlSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PART_ADDTNL_IDX</label>
<input placeholder="PART_ADDTNL_IDX" [(ngModel)]="tspart_addtnlService.FormData.PART_ADDTNL_IDX" name="tspart_addtnlService.FormData.PART_ADDTNL_IDX" type="text" class="form-control">
</div>
<div>
<label>PARTNO_IDX</label>
<input placeholder="PARTNO_IDX" [(ngModel)]="tspart_addtnlService.FormData.PARTNO_IDX" name="tspart_addtnlService.FormData.PARTNO_IDX" type="text" class="form-control">
</div>
<div>
<label>OP_W</label>
<input placeholder="OP_W" [(ngModel)]="tspart_addtnlService.FormData.OP_W" name="tspart_addtnlService.FormData.OP_W" type="text" class="form-control">
</div>
<div>
<label>OP_L</label>
<input placeholder="OP_L" [(ngModel)]="tspart_addtnlService.FormData.OP_L" name="tspart_addtnlService.FormData.OP_L" type="text" class="form-control">
</div>
<div>
<label>OP_H</label>
<input placeholder="OP_H" [(ngModel)]="tspart_addtnlService.FormData.OP_H" name="tspart_addtnlService.FormData.OP_H" type="text" class="form-control">
</div>
<div>
<label>OP_MRP</label>
<input placeholder="OP_MRP" [(ngModel)]="tspart_addtnlService.FormData.OP_MRP" name="tspart_addtnlService.FormData.OP_MRP" type="text" class="form-control">
</div>
<div>
<label>OP_TMP1</label>
<input placeholder="OP_TMP1" [(ngModel)]="tspart_addtnlService.FormData.OP_TMP1" name="tspart_addtnlService.FormData.OP_TMP1" type="text" class="form-control">
</div>
<div>
<label>OP_TMP2</label>
<input placeholder="OP_TMP2" [(ngModel)]="tspart_addtnlService.FormData.OP_TMP2" name="tspart_addtnlService.FormData.OP_TMP2" type="text" class="form-control">
</div>
<div>
<label>OP_TMP3</label>
<input placeholder="OP_TMP3" [(ngModel)]="tspart_addtnlService.FormData.OP_TMP3" name="tspart_addtnlService.FormData.OP_TMP3" type="text" class="form-control">
</div>
<div>
<label>Weight</label>
<input placeholder="Weight" [(ngModel)]="tspart_addtnlService.FormData.Weight" name="tspart_addtnlService.FormData.Weight" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tspart_addtnlService.FormData.CREATE_DTM" name="tspart_addtnlService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tspart_addtnlService.FormData.CREATE_USER" name="tspart_addtnlService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tspart_addtnlService.FormData.UPDATE_DTM" name="tspart_addtnlService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tspart_addtnlService.FormData.UPDATE_USER" name="tspart_addtnlService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


