
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsurau:
                    <b>{{tsurauService.FormData.Name}} [{{tsurauService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsurau" title="tsurau">tsurau</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsurau" title="tsurau">tsurau</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tsurauAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tsurauSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>USER_AUTH_IDX</label>
<input placeholder="USER_AUTH_IDX" [(ngModel)]="tsurauService.FormData.USER_AUTH_IDX" name="tsurauService.FormData.USER_AUTH_IDX" type="text" class="form-control">
</div>
<div>
<label>USER_IDX</label>
<input placeholder="USER_IDX" [(ngModel)]="tsurauService.FormData.USER_IDX" name="tsurauService.FormData.USER_IDX" type="text" class="form-control">
</div>
<div>
<label>AUTH_IDX</label>
<input placeholder="AUTH_IDX" [(ngModel)]="tsurauService.FormData.AUTH_IDX" name="tsurauService.FormData.AUTH_IDX" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsurauService.FormData.CREATE_DTM" name="tsurauService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsurauService.FormData.CREATE_USER" name="tsurauService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsurauService.FormData.UPDATE_DTM" name="tsurauService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsurauService.FormData.UPDATE_USER" name="tsurauService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsurauService.IsShowLoading"></app-loading>
