<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsuser_super</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsuser_superSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>USER_IDX</label>
<input placeholder="USER_IDX" [(ngModel)]="tsuser_superService.FormData.USER_IDX" name="tsuser_superService.FormData.USER_IDX" type="text" class="form-control">
</div>
<div>
<label>USER_ID_NAME</label>
<input placeholder="USER_ID_NAME" [(ngModel)]="tsuser_superService.FormData.USER_ID_NAME" name="tsuser_superService.FormData.USER_ID_NAME" type="text" class="form-control">
</div>
<div>
<label>NAS_TEST_SER</label>
<input placeholder="NAS_TEST_SER" [(ngModel)]="tsuser_superService.FormData.NAS_TEST_SER" name="tsuser_superService.FormData.NAS_TEST_SER" type="text" class="form-control">
</div>
<div>
<label>LOC_TEST_SER</label>
<input placeholder="LOC_TEST_SER" [(ngModel)]="tsuser_superService.FormData.LOC_TEST_SER" name="tsuser_superService.FormData.LOC_TEST_SER" type="text" class="form-control">
</div>
<div>
<label>DESC_YN</label>
<input placeholder="DESC_YN" [(ngModel)]="tsuser_superService.FormData.DESC_YN" name="tsuser_superService.FormData.DESC_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsuser_superService.FormData.CREATE_DTM" name="tsuser_superService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsuser_superService.FormData.CREATE_USER" name="tsuser_superService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsuser_superService.FormData.UPDATE_DTM" name="tsuser_superService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsuser_superService.FormData.UPDATE_USER" name="tsuser_superService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


