
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsyear_inventory_hist:
                    <b>{{tsyear_inventory_histService.FormData.Name}} [{{tsyear_inventory_histService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsyear_inventory_hist" title="tsyear_inventory_hist">tsyear_inventory_hist</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsyear_inventory_hist" title="tsyear_inventory_hist">tsyear_inventory_hist</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tsyear_inventory_histAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tsyear_inventory_histSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TSYEAR_INV_IDX</label>
<input placeholder="TSYEAR_INV_IDX" [(ngModel)]="tsyear_inventory_histService.FormData.TSYEAR_INV_IDX" name="tsyear_inventory_histService.FormData.TSYEAR_INV_IDX" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_INV_YEAR</label>
<input placeholder="TSYEAR_INV_YEAR" [(ngModel)]="tsyear_inventory_histService.FormData.TSYEAR_INV_YEAR" name="tsyear_inventory_histService.FormData.TSYEAR_INV_YEAR" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_INV_SERIALNO</label>
<input placeholder="TSYEAR_INV_SERIALNO" [(ngModel)]="tsyear_inventory_histService.FormData.TSYEAR_INV_SERIALNO" name="tsyear_inventory_histService.FormData.TSYEAR_INV_SERIALNO" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_INV_DEPART</label>
<input placeholder="TSYEAR_INV_DEPART" [(ngModel)]="tsyear_inventory_histService.FormData.TSYEAR_INV_DEPART" name="tsyear_inventory_histService.FormData.TSYEAR_INV_DEPART" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_INV_PKILOC</label>
<input placeholder="TSYEAR_INV_PKILOC" [(ngModel)]="tsyear_inventory_histService.FormData.TSYEAR_INV_PKILOC" name="tsyear_inventory_histService.FormData.TSYEAR_INV_PKILOC" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_INV_PART_TNM</label>
<input placeholder="TSYEAR_INV_PART_TNM" [(ngModel)]="tsyear_inventory_histService.FormData.TSYEAR_INV_PART_TNM" name="tsyear_inventory_histService.FormData.TSYEAR_INV_PART_TNM" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_INV_PART_IDX</label>
<input placeholder="TSYEAR_INV_PART_IDX" [(ngModel)]="tsyear_inventory_histService.FormData.TSYEAR_INV_PART_IDX" name="tsyear_inventory_histService.FormData.TSYEAR_INV_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_INV_QTY</label>
<input placeholder="TSYEAR_INV_QTY" [(ngModel)]="tsyear_inventory_histService.FormData.TSYEAR_INV_QTY" name="tsyear_inventory_histService.FormData.TSYEAR_INV_QTY" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_INV_DSNY</label>
<input placeholder="TSYEAR_INV_DSNY" [(ngModel)]="tsyear_inventory_histService.FormData.TSYEAR_INV_DSNY" name="tsyear_inventory_histService.FormData.TSYEAR_INV_DSNY" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_INV_MESNO</label>
<input placeholder="TSYEAR_INV_MESNO" [(ngModel)]="tsyear_inventory_histService.FormData.TSYEAR_INV_MESNO" name="tsyear_inventory_histService.FormData.TSYEAR_INV_MESNO" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_INV_ANM</label>
<input placeholder="TSYEAR_INV_ANM" [(ngModel)]="tsyear_inventory_histService.FormData.TSYEAR_INV_ANM" name="tsyear_inventory_histService.FormData.TSYEAR_INV_ANM" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_INV_DJGLOC</label>
<input placeholder="TSYEAR_INV_DJGLOC" [(ngModel)]="tsyear_inventory_histService.FormData.TSYEAR_INV_DJGLOC" name="tsyear_inventory_histService.FormData.TSYEAR_INV_DJGLOC" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsyear_inventory_histService.FormData.CREATE_DTM" name="tsyear_inventory_histService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsyear_inventory_histService.FormData.CREATE_USER" name="tsyear_inventory_histService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsyear_inventory_histService.FormData.UPDATE_DTM" name="tsyear_inventory_histService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsyear_inventory_histService.FormData.UPDATE_USER" name="tsyear_inventory_histService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsyear_inventory_histService.IsShowLoading"></app-loading>
