<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsyear_group_inv</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsyear_group_invSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TSYEAR_GROUP_IDX</label>
<input placeholder="TSYEAR_GROUP_IDX" [(ngModel)]="tsyear_group_invService.FormData.TSYEAR_GROUP_IDX" name="tsyear_group_invService.FormData.TSYEAR_GROUP_IDX" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_YEAR</label>
<input placeholder="TSYEAR_YEAR" [(ngModel)]="tsyear_group_invService.FormData.TSYEAR_YEAR" name="tsyear_group_invService.FormData.TSYEAR_YEAR" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_MESNO</label>
<input placeholder="TSYEAR_MESNO" [(ngModel)]="tsyear_group_invService.FormData.TSYEAR_MESNO" name="tsyear_group_invService.FormData.TSYEAR_MESNO" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_DEPART</label>
<input placeholder="TSYEAR_DEPART" [(ngModel)]="tsyear_group_invService.FormData.TSYEAR_DEPART" name="tsyear_group_invService.FormData.TSYEAR_DEPART" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_PKILOC</label>
<input placeholder="TSYEAR_PKILOC" [(ngModel)]="tsyear_group_invService.FormData.TSYEAR_PKILOC" name="tsyear_group_invService.FormData.TSYEAR_PKILOC" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_INPUTER</label>
<input placeholder="TSYEAR_INPUTER" [(ngModel)]="tsyear_group_invService.FormData.TSYEAR_INPUTER" name="tsyear_group_invService.FormData.TSYEAR_INPUTER" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_SERIAL_NO1</label>
<input placeholder="TSYEAR_SERIAL_NO1" [(ngModel)]="tsyear_group_invService.FormData.TSYEAR_SERIAL_NO1" name="tsyear_group_invService.FormData.TSYEAR_SERIAL_NO1" type="text" class="form-control">
</div>
<div>
<label>TSYEAR_SERIAL_NO2</label>
<input placeholder="TSYEAR_SERIAL_NO2" [(ngModel)]="tsyear_group_invService.FormData.TSYEAR_SERIAL_NO2" name="tsyear_group_invService.FormData.TSYEAR_SERIAL_NO2" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsyear_group_invService.FormData.CREATE_DTM" name="tsyear_group_invService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsyear_group_invService.FormData.CREATE_USER" name="tsyear_group_invService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsyear_group_invService.FormData.UPDATE_DTM" name="tsyear_group_invService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsyear_group_invService.FormData.UPDATE_USER" name="tsyear_group_invService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


