<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsyear_group_inv_hist
                    <span *ngIf="tsyear_group_inv_histService.List">({{tsyear_group_inv_histService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsyear_group_inv_hist" title="tsyear_group_inv_hist">tsyear_group_inv_hist</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsyear_group_inv_hist" title="tsyear_group_inv_hist">tsyear_group_inv_hist</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tsyear_group_inv_histService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tsyear_group_inv_histSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tsyear_group_inv_histSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tsyear_group_inv_histSort="matSort"
                       [dataSource]="tsyear_group_inv_histService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tsyear_group_inv_histPaginator">
                                {{
                                    tsyear_group_inv_histPaginator.pageSize *
                                    tsyear_group_inv_histPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="TSYEAR_GROUP_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TSYEAR_GROUP_IDX</th>
<td mat-cell *matCellDef="let element">{{element.TSYEAR_GROUP_IDX}}</td>
</ng-container>
<ng-container matColumnDef="TSYEAR_YEAR">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TSYEAR_YEAR</th>
<td mat-cell *matCellDef="let element">{{element.TSYEAR_YEAR}}</td>
</ng-container>
<ng-container matColumnDef="TSYEAR_MESNO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TSYEAR_MESNO</th>
<td mat-cell *matCellDef="let element">{{element.TSYEAR_MESNO}}</td>
</ng-container>
<ng-container matColumnDef="TSYEAR_DEPART">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TSYEAR_DEPART</th>
<td mat-cell *matCellDef="let element">{{element.TSYEAR_DEPART}}</td>
</ng-container>
<ng-container matColumnDef="TSYEAR_PKILOC">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TSYEAR_PKILOC</th>
<td mat-cell *matCellDef="let element">{{element.TSYEAR_PKILOC}}</td>
</ng-container>
<ng-container matColumnDef="TSYEAR_INPUTER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TSYEAR_INPUTER</th>
<td mat-cell *matCellDef="let element">{{element.TSYEAR_INPUTER}}</td>
</ng-container>
<ng-container matColumnDef="TSYEAR_SERIAL_NO1">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TSYEAR_SERIAL_NO1</th>
<td mat-cell *matCellDef="let element">{{element.TSYEAR_SERIAL_NO1}}</td>
</ng-container>
<ng-container matColumnDef="TSYEAR_SERIAL_NO2">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TSYEAR_SERIAL_NO2</th>
<td mat-cell *matCellDef="let element">{{element.TSYEAR_SERIAL_NO2}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_USER}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_USER}}</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tsyear_group_inv_histSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.TSYEAR_GROUP_IDX>0" (click)="tsyear_group_inv_histDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tsyear_group_inv_histService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tsyear_group_inv_histService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tsyear_group_inv_histPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>              
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsyear_group_inv_histService.IsShowLoading"></app-loading>
