
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    ttc_order:
                    <b>{{ttc_orderService.FormData.Name}} [{{ttc_orderService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttc_order" title="ttc_order">ttc_order</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttc_order" title="ttc_order">ttc_order</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="ttc_orderAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="ttc_orderSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TTC_PO_INX</label>
<input placeholder="TTC_PO_INX" [(ngModel)]="ttc_orderService.FormData.TTC_PO_INX" name="ttc_orderService.FormData.TTC_PO_INX" type="text" class="form-control">
</div>
<div>
<label>TTC_PN_IDX</label>
<input placeholder="TTC_PN_IDX" [(ngModel)]="ttc_orderService.FormData.TTC_PN_IDX" name="ttc_orderService.FormData.TTC_PN_IDX" type="text" class="form-control">
</div>
<div>
<label>TTC_PO_DT</label>
<input placeholder="TTC_PO_DT" [(ngModel)]="ttc_orderService.FormData.TTC_PO_DT" name="ttc_orderService.FormData.TTC_PO_DT" type="text" class="form-control">
</div>
<div>
<label>TTC_PO</label>
<input placeholder="TTC_PO" [(ngModel)]="ttc_orderService.FormData.TTC_PO" name="ttc_orderService.FormData.TTC_PO" type="text" class="form-control">
</div>
<div>
<label>PERFORMN</label>
<input placeholder="PERFORMN" [(ngModel)]="ttc_orderService.FormData.PERFORMN" name="ttc_orderService.FormData.PERFORMN" type="text" class="form-control">
</div>
<div>
<label>CONDITION</label>
<input placeholder="CONDITION" [(ngModel)]="ttc_orderService.FormData.CONDITION" name="ttc_orderService.FormData.CONDITION" type="text" class="form-control">
</div>
<div>
<label>DSCN_YN</label>
<input placeholder="DSCN_YN" [(ngModel)]="ttc_orderService.FormData.DSCN_YN" name="ttc_orderService.FormData.DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>ERROR_YN</label>
<input placeholder="ERROR_YN" [(ngModel)]="ttc_orderService.FormData.ERROR_YN" name="ttc_orderService.FormData.ERROR_YN" type="text" class="form-control">
</div>
<div>
<label>TTC_ENG</label>
<input placeholder="TTC_ENG" [(ngModel)]="ttc_orderService.FormData.TTC_ENG" name="ttc_orderService.FormData.TTC_ENG" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="ttc_orderService.FormData.CREATE_DTM" name="ttc_orderService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="ttc_orderService.FormData.CREATE_USER" name="ttc_orderService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="ttc_orderService.FormData.UPDATE_DTM" name="ttc_orderService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="ttc_orderService.FormData.UPDATE_USER" name="ttc_orderService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="ttc_orderService.IsShowLoading"></app-loading>
