<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    ttc_part
                    <span *ngIf="ttc_partService.List">({{ttc_partService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttc_part" title="ttc_part">ttc_part</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttc_part" title="ttc_part">ttc_part</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="ttc_partService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="ttc_partSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="ttc_partSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #ttc_partSort="matSort"
                       [dataSource]="ttc_partService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="ttc_partPaginator">
                                {{
                                    ttc_partPaginator.pageSize *
                                    ttc_partPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="TTC_PART_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TTC_PART_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TTC_PART_IDX" name="TTC_PART_IDX{{element.TTC_PART_IDX}}" [(ngModel)]="element.TTC_PART_IDX">
</td>
</ng-container>
<ng-container matColumnDef="TC_PART_NM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TC_PART_NM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TC_PART_NM" name="TC_PART_NM{{element.TTC_PART_IDX}}" [(ngModel)]="element.TC_PART_NM">
</td>
</ng-container>
<ng-container matColumnDef="TC_DESC">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TC_DESC</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TC_DESC" name="TC_DESC{{element.TTC_PART_IDX}}" [(ngModel)]="element.TC_DESC">
</td>
</ng-container>
<ng-container matColumnDef="RAW_PART_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>RAW_PART_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="RAW_PART_IDX" name="RAW_PART_IDX{{element.TTC_PART_IDX}}" [(ngModel)]="element.RAW_PART_IDX">
</td>
</ng-container>
<ng-container matColumnDef="TC_SIZE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TC_SIZE</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TC_SIZE" name="TC_SIZE{{element.TTC_PART_IDX}}" [(ngModel)]="element.TC_SIZE">
</td>
</ng-container>
<ng-container matColumnDef="TC_MC">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TC_MC</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TC_MC" name="TC_MC{{element.TTC_PART_IDX}}" [(ngModel)]="element.TC_MC">
</td>
</ng-container>
<ng-container matColumnDef="TC_PACKUNIT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TC_PACKUNIT</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TC_PACKUNIT" name="TC_PACKUNIT{{element.TTC_PART_IDX}}" [(ngModel)]="element.TC_PACKUNIT">
</td>
</ng-container>
<ng-container matColumnDef="TC_LOC">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TC_LOC</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TC_LOC" name="TC_LOC{{element.TTC_PART_IDX}}" [(ngModel)]="element.TC_LOC">
</td>
</ng-container>
<ng-container matColumnDef="TC_W_S">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TC_W_S</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TC_W_S" name="TC_W_S{{element.TTC_PART_IDX}}" [(ngModel)]="element.TC_W_S">
</td>
</ng-container>
<ng-container matColumnDef="TC_W_MS">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TC_W_MS</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TC_W_MS" name="TC_W_MS{{element.TTC_PART_IDX}}" [(ngModel)]="element.TC_W_MS">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.TTC_PART_IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.TTC_PART_IDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_DTM" name="UPDATE_DTM{{element.TTC_PART_IDX}}" [(ngModel)]="element.UPDATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_USER" name="UPDATE_USER{{element.TTC_PART_IDX}}" [(ngModel)]="element.UPDATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="ttc_partSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.TTC_PART_IDX>0" (click)="ttc_partDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="ttc_partService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ttc_partService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #ttc_partPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="ttc_partService.IsShowLoading"></app-loading>
