<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    ttoolmaster2
                    <span *ngIf="ttoolmaster2Service.List">({{ttoolmaster2Service.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttoolmaster2" title="ttoolmaster2">ttoolmaster2</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttoolmaster2" title="ttoolmaster2">ttoolmaster2</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="ttoolmaster2Service.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="ttoolmaster2Search()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="ttoolmaster2Search()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #ttoolmaster2Sort="matSort"
                       [dataSource]="ttoolmaster2Service.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="ttoolmaster2Paginator">
                                {{
                                    ttoolmaster2Paginator.pageSize *
                                    ttoolmaster2Paginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="TOOLMASTER_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TOOLMASTER_IDX</th>
<td mat-cell *matCellDef="let element">{{element.TOOLMASTER_IDX}}</td>
</ng-container>
<ng-container matColumnDef="TOOL_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TOOL_IDX</th>
<td mat-cell *matCellDef="let element">{{element.TOOL_IDX}}</td>
</ng-container>
<ng-container matColumnDef="SEQ">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SEQ</th>
<td mat-cell *matCellDef="let element">{{element.SEQ}}</td>
</ng-container>
<ng-container matColumnDef="TOT_WK_CNT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TOT_WK_CNT</th>
<td mat-cell *matCellDef="let element">{{element.TOT_WK_CNT}}</td>
</ng-container>
<ng-container matColumnDef="WK_CNT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>WK_CNT</th>
<td mat-cell *matCellDef="let element">{{element.WK_CNT}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_USER}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_USER}}</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="ttoolmaster2Save(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.TOOLMASTER_IDX>0" (click)="ttoolmaster2Delete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="ttoolmaster2Service.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ttoolmaster2Service.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #ttoolmaster2Paginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>              
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="ttoolmaster2Service.IsShowLoading"></app-loading>
