<div class="col s12 m12 l10">
    <h5 class="card-title"><b>ttoolhistory</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="ttoolhistorySave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TOOL_HIS_IDX</label>
<input placeholder="TOOL_HIS_IDX" [(ngModel)]="ttoolhistoryService.FormData.TOOL_HIS_IDX" name="ttoolhistoryService.FormData.TOOL_HIS_IDX" type="text" class="form-control">
</div>
<div>
<label>WORK_DTM</label>
<input placeholder="WORK_DTM" [(ngModel)]="ttoolhistoryService.FormData.WORK_DTM" name="ttoolhistoryService.FormData.WORK_DTM" type="text" class="form-control">
</div>
<div>
<label>TOOL_IDX</label>
<input placeholder="TOOL_IDX" [(ngModel)]="ttoolhistoryService.FormData.TOOL_IDX" name="ttoolhistoryService.FormData.TOOL_IDX" type="text" class="form-control">
</div>
<div>
<label>WK_QTY</label>
<input placeholder="WK_QTY" [(ngModel)]="ttoolhistoryService.FormData.WK_QTY" name="ttoolhistoryService.FormData.WK_QTY" type="text" class="form-control">
</div>
<div>
<label>TOT_QTY</label>
<input placeholder="TOT_QTY" [(ngModel)]="ttoolhistoryService.FormData.TOT_QTY" name="ttoolhistoryService.FormData.TOT_QTY" type="text" class="form-control">
</div>
<div>
<label>CONTENT</label>
<input placeholder="CONTENT" [(ngModel)]="ttoolhistoryService.FormData.CONTENT" name="ttoolhistoryService.FormData.CONTENT" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="ttoolhistoryService.FormData.CREATE_DTM" name="ttoolhistoryService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="ttoolhistoryService.FormData.CREATE_USER" name="ttoolhistoryService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="ttoolhistoryService.FormData.UPDATE_DTM" name="ttoolhistoryService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="ttoolhistoryService.FormData.UPDATE_USER" name="ttoolhistoryService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


