<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    ttoolhistory
                    <span *ngIf="ttoolhistoryService.List">({{ttoolhistoryService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttoolhistory" title="ttoolhistory">ttoolhistory</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttoolhistory" title="ttoolhistory">ttoolhistory</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="ttoolhistoryService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="ttoolhistorySearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="ttoolhistorySearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #ttoolhistorySort="matSort"
                       [dataSource]="ttoolhistoryService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="ttoolhistoryPaginator">
                                {{
                                    ttoolhistoryPaginator.pageSize *
                                    ttoolhistoryPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="TOOL_HIS_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TOOL_HIS_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TOOL_HIS_IDX" name="TOOL_HIS_IDX{{element.TOOL_HIS_IDX}}" [(ngModel)]="element.TOOL_HIS_IDX">
</td>
</ng-container>
<ng-container matColumnDef="WORK_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>WORK_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="WORK_DTM" name="WORK_DTM{{element.TOOL_HIS_IDX}}" [(ngModel)]="element.WORK_DTM">
</td>
</ng-container>
<ng-container matColumnDef="TOOL_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TOOL_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TOOL_IDX" name="TOOL_IDX{{element.TOOL_HIS_IDX}}" [(ngModel)]="element.TOOL_IDX">
</td>
</ng-container>
<ng-container matColumnDef="WK_QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>WK_QTY</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="WK_QTY" name="WK_QTY{{element.TOOL_HIS_IDX}}" [(ngModel)]="element.WK_QTY">
</td>
</ng-container>
<ng-container matColumnDef="TOT_QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TOT_QTY</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TOT_QTY" name="TOT_QTY{{element.TOOL_HIS_IDX}}" [(ngModel)]="element.TOT_QTY">
</td>
</ng-container>
<ng-container matColumnDef="CONTENT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CONTENT</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CONTENT" name="CONTENT{{element.TOOL_HIS_IDX}}" [(ngModel)]="element.CONTENT">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.TOOL_HIS_IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.TOOL_HIS_IDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_DTM" name="UPDATE_DTM{{element.TOOL_HIS_IDX}}" [(ngModel)]="element.UPDATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_USER" name="UPDATE_USER{{element.TOOL_HIS_IDX}}" [(ngModel)]="element.UPDATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="ttoolhistorySave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.TOOL_HIS_IDX>0" (click)="ttoolhistoryDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="ttoolhistoryService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ttoolhistoryService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #ttoolhistoryPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="ttoolhistoryService.IsShowLoading"></app-loading>
