
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tuser_log_chk:
                    <b>{{tuser_log_chkService.FormData.Name}} [{{tuser_log_chkService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tuser_log_chk" title="tuser_log_chk">tuser_log_chk</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tuser_log_chk" title="tuser_log_chk">tuser_log_chk</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tuser_log_chkAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tuser_log_chkSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TUSER_IDX</label>
<input placeholder="TUSER_IDX" [(ngModel)]="tuser_log_chkService.FormData.TUSER_IDX" name="tuser_log_chkService.FormData.TUSER_IDX" type="text" class="form-control">
</div>
<div>
<label>TS_USERID</label>
<input placeholder="TS_USERID" [(ngModel)]="tuser_log_chkService.FormData.TS_USERID" name="tuser_log_chkService.FormData.TS_USERID" type="text" class="form-control">
</div>
<div>
<label>TS_USER_IP</label>
<input placeholder="TS_USER_IP" [(ngModel)]="tuser_log_chkService.FormData.TS_USER_IP" name="tuser_log_chkService.FormData.TS_USER_IP" type="text" class="form-control">
</div>
<div>
<label>TS_USER_CNN</label>
<input placeholder="TS_USER_CNN" [(ngModel)]="tuser_log_chkService.FormData.TS_USER_CNN" name="tuser_log_chkService.FormData.TS_USER_CNN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tuser_log_chkService.FormData.CREATE_DTM" name="tuser_log_chkService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tuser_log_chkService.FormData.CREATE_USER" name="tuser_log_chkService.FormData.CREATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tuser_log_chkService.IsShowLoading"></app-loading>
