<div class="col s12 m12 l10">
    <h5 class="card-title"><b>twtool</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="twtoolSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TOOLWORK_IDX</label>
<input placeholder="TOOLWORK_IDX" [(ngModel)]="twtoolService.FormData.TOOLWORK_IDX" name="twtoolService.FormData.TOOLWORK_IDX" type="text" class="form-control">
</div>
<div>
<label>TOOL_IDX</label>
<input placeholder="TOOL_IDX" [(ngModel)]="twtoolService.FormData.TOOL_IDX" name="twtoolService.FormData.TOOL_IDX" type="text" class="form-control">
</div>
<div>
<label>TOOL_WORK</label>
<input placeholder="TOOL_WORK" [(ngModel)]="twtoolService.FormData.TOOL_WORK" name="twtoolService.FormData.TOOL_WORK" type="text" class="form-control">
</div>
<div>
<label>WK_QTY</label>
<input placeholder="WK_QTY" [(ngModel)]="twtoolService.FormData.WK_QTY" name="twtoolService.FormData.WK_QTY" type="text" class="form-control">
</div>
<div>
<label>TOT_WK_QTY</label>
<input placeholder="TOT_WK_QTY" [(ngModel)]="twtoolService.FormData.TOT_WK_QTY" name="twtoolService.FormData.TOT_WK_QTY" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="twtoolService.FormData.CREATE_DTM" name="twtoolService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="twtoolService.FormData.CREATE_USER" name="twtoolService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="twtoolService.FormData.UPDATE_DTM" name="twtoolService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="twtoolService.FormData.UPDATE_USER" name="twtoolService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


