<div class="col s12 m12 l10">
    <h5 class="card-title"><b>xsetting_time</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="xsetting_timeSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>SETTING_IDX</label>
<input placeholder="SETTING_IDX" [(ngModel)]="xsetting_timeService.FormData.SETTING_IDX" name="xsetting_timeService.FormData.SETTING_IDX" type="text" class="form-control">
</div>
<div>
<label>TABLE_NM</label>
<input placeholder="TABLE_NM" [(ngModel)]="xsetting_timeService.FormData.TABLE_NM" name="xsetting_timeService.FormData.TABLE_NM" type="text" class="form-control">
</div>
<div>
<label>SUB_NM</label>
<input placeholder="SUB_NM" [(ngModel)]="xsetting_timeService.FormData.SUB_NM" name="xsetting_timeService.FormData.SUB_NM" type="text" class="form-control">
</div>
<div>
<label>REMARK</label>
<input placeholder="REMARK" [(ngModel)]="xsetting_timeService.FormData.REMARK" name="xsetting_timeService.FormData.REMARK" type="text" class="form-control">
</div>
<div>
<label>BASIC_TIME</label>
<input placeholder="BASIC_TIME" [(ngModel)]="xsetting_timeService.FormData.BASIC_TIME" name="xsetting_timeService.FormData.BASIC_TIME" type="text" class="form-control">
</div>
<div>
<label>UNIT</label>
<input placeholder="UNIT" [(ngModel)]="xsetting_timeService.FormData.UNIT" name="xsetting_timeService.FormData.UNIT" type="text" class="form-control">
</div>
<div>
<label>TIME</label>
<input placeholder="TIME" [(ngModel)]="xsetting_timeService.FormData.TIME" name="xsetting_timeService.FormData.TIME" type="text" class="form-control">
</div>

</div>


