
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    zt_devlpmnt_db:
                    <b>{{zt_devlpmnt_dbService.FormData.Name}} [{{zt_devlpmnt_dbService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/zt_devlpmnt_db" title="zt_devlpmnt_db">zt_devlpmnt_db</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/zt_devlpmnt_db" title="zt_devlpmnt_db">zt_devlpmnt_db</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="zt_devlpmnt_dbAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="zt_devlpmnt_dbSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>DELP_IDX</label>
<input placeholder="DELP_IDX" [(ngModel)]="zt_devlpmnt_dbService.FormData.DELP_IDX" name="zt_devlpmnt_dbService.FormData.DELP_IDX" type="text" class="form-control">
</div>
<div>
<label>DELP_DATE</label>
<input placeholder="DELP_DATE" [(ngModel)]="zt_devlpmnt_dbService.FormData.DELP_DATE" name="zt_devlpmnt_dbService.FormData.DELP_DATE" type="text" class="form-control">
</div>
<div>
<label>DELP_DEPT</label>
<input placeholder="DELP_DEPT" [(ngModel)]="zt_devlpmnt_dbService.FormData.DELP_DEPT" name="zt_devlpmnt_dbService.FormData.DELP_DEPT" type="text" class="form-control">
</div>
<div>
<label>MES_MENU</label>
<input placeholder="MES_MENU" [(ngModel)]="zt_devlpmnt_dbService.FormData.MES_MENU" name="zt_devlpmnt_dbService.FormData.MES_MENU" type="text" class="form-control">
</div>
<div>
<label>DELP_NAME</label>
<input placeholder="DELP_NAME" [(ngModel)]="zt_devlpmnt_dbService.FormData.DELP_NAME" name="zt_devlpmnt_dbService.FormData.DELP_NAME" type="text" class="form-control">
</div>
<div>
<label>DELP_DETIL</label>
<input placeholder="DELP_DETIL" [(ngModel)]="zt_devlpmnt_dbService.FormData.DELP_DETIL" name="zt_devlpmnt_dbService.FormData.DELP_DETIL" type="text" class="form-control">
</div>
<div>
<label>FILE_DSYN</label>
<input placeholder="FILE_DSYN" [(ngModel)]="zt_devlpmnt_dbService.FormData.FILE_DSYN" name="zt_devlpmnt_dbService.FormData.FILE_DSYN" type="text" class="form-control">
</div>
<div>
<label>FILE_NM</label>
<input placeholder="FILE_NM" [(ngModel)]="zt_devlpmnt_dbService.FormData.FILE_NM" name="zt_devlpmnt_dbService.FormData.FILE_NM" type="text" class="form-control">
</div>
<div>
<label>FILE_EX</label>
<input placeholder="FILE_EX" [(ngModel)]="zt_devlpmnt_dbService.FormData.FILE_EX" name="zt_devlpmnt_dbService.FormData.FILE_EX" type="text" class="form-control">
</div>
<div>
<label>FILE_SIZE</label>
<input placeholder="FILE_SIZE" [(ngModel)]="zt_devlpmnt_dbService.FormData.FILE_SIZE" name="zt_devlpmnt_dbService.FormData.FILE_SIZE" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="zt_devlpmnt_dbService.FormData.CREATE_DTM" name="zt_devlpmnt_dbService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="zt_devlpmnt_dbService.FormData.CREATE_USER" name="zt_devlpmnt_dbService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>STATE</label>
<input placeholder="STATE" [(ngModel)]="zt_devlpmnt_dbService.FormData.STATE" name="zt_devlpmnt_dbService.FormData.STATE" type="text" class="form-control">
</div>
<div>
<label>PROGRESS</label>
<input placeholder="PROGRESS" [(ngModel)]="zt_devlpmnt_dbService.FormData.PROGRESS" name="zt_devlpmnt_dbService.FormData.PROGRESS" type="text" class="form-control">
</div>
<div>
<label>DONE_DATE</label>
<input placeholder="DONE_DATE" [(ngModel)]="zt_devlpmnt_dbService.FormData.DONE_DATE" name="zt_devlpmnt_dbService.FormData.DONE_DATE" type="text" class="form-control">
</div>
<div>
<label>MES_VER</label>
<input placeholder="MES_VER" [(ngModel)]="zt_devlpmnt_dbService.FormData.MES_VER" name="zt_devlpmnt_dbService.FormData.MES_VER" type="text" class="form-control">
</div>
<div>
<label>DELP_DELT</label>
<input placeholder="DELP_DELT" [(ngModel)]="zt_devlpmnt_dbService.FormData.DELP_DELT" name="zt_devlpmnt_dbService.FormData.DELP_DELT" type="text" class="form-control">
</div>
<div>
<label>RESULT</label>
<input placeholder="RESULT" [(ngModel)]="zt_devlpmnt_dbService.FormData.RESULT" name="zt_devlpmnt_dbService.FormData.RESULT" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="zt_devlpmnt_dbService.FormData.UPDATE_DTM" name="zt_devlpmnt_dbService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="zt_devlpmnt_dbService.FormData.UPDATE_USER" name="zt_devlpmnt_dbService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
<div>
<label>DEP_PHOTO</label>
<input placeholder="DEP_PHOTO" [(ngModel)]="zt_devlpmnt_dbService.FormData.DEP_PHOTO" name="zt_devlpmnt_dbService.FormData.DEP_PHOTO" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="zt_devlpmnt_dbService.IsShowLoading"></app-loading>
