<div class="col s12 m12 l10">
    <h5 class="card-title"><b>zt_help_db</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="zt_help_dbSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>IDX</label>
<input placeholder="IDX" [(ngModel)]="zt_help_dbService.FormData.IDX" name="zt_help_dbService.FormData.IDX" type="text" class="form-control">
</div>
<div>
<label>MENU_NM</label>
<input placeholder="MENU_NM" [(ngModel)]="zt_help_dbService.FormData.MENU_NM" name="zt_help_dbService.FormData.MENU_NM" type="text" class="form-control">
</div>
<div>
<label>TAB_NAME</label>
<input placeholder="TAB_NAME" [(ngModel)]="zt_help_dbService.FormData.TAB_NAME" name="zt_help_dbService.FormData.TAB_NAME" type="text" class="form-control">
</div>
<div>
<label>REV_NO</label>
<input placeholder="REV_NO" [(ngModel)]="zt_help_dbService.FormData.REV_NO" name="zt_help_dbService.FormData.REV_NO" type="text" class="form-control">
</div>
<div>
<label>FILE_NM</label>
<input placeholder="FILE_NM" [(ngModel)]="zt_help_dbService.FormData.FILE_NM" name="zt_help_dbService.FormData.FILE_NM" type="text" class="form-control">
</div>
<div>
<label>FILE_EX</label>
<input placeholder="FILE_EX" [(ngModel)]="zt_help_dbService.FormData.FILE_EX" name="zt_help_dbService.FormData.FILE_EX" type="text" class="form-control">
</div>
<div>
<label>DN_YN</label>
<input placeholder="DN_YN" [(ngModel)]="zt_help_dbService.FormData.DN_YN" name="zt_help_dbService.FormData.DN_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="zt_help_dbService.FormData.CREATE_DTM" name="zt_help_dbService.FormData.CREATE_DTM" type="text" class="form-control">
</div>

</div>


