<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    zt_log_db
                    <span *ngIf="zt_log_dbService.List">({{zt_log_dbService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/zt_log_db" title="zt_log_db">zt_log_db</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/zt_log_db" title="zt_log_db">zt_log_db</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="zt_log_dbService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="zt_log_dbSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="zt_log_dbSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #zt_log_dbSort="matSort"
                       [dataSource]="zt_log_dbService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="zt_log_dbPaginator">
                                {{
                                    zt_log_dbPaginator.pageSize *
                                    zt_log_dbPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="IDX" name="IDX{{element.IDX}}" [(ngModel)]="element.IDX">
</td>
</ng-container>
<ng-container matColumnDef="MENU_NM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MENU_NM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="MENU_NM" name="MENU_NM{{element.IDX}}" [(ngModel)]="element.MENU_NM">
</td>
</ng-container>
<ng-container matColumnDef="TAB_NAME">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TAB_NAME</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TAB_NAME" name="TAB_NAME{{element.IDX}}" [(ngModel)]="element.TAB_NAME">
</td>
</ng-container>
<ng-container matColumnDef="BUTTON_NM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BUTTON_NM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="BUTTON_NM" name="BUTTON_NM{{element.IDX}}" [(ngModel)]="element.BUTTON_NM">
</td>
</ng-container>
<ng-container matColumnDef="USER_ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>USER_ID</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="USER_ID" name="USER_ID{{element.IDX}}" [(ngModel)]="element.USER_ID">
</td>
</ng-container>
<ng-container matColumnDef="PRG_CODE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PRG_CODE</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="PRG_CODE" name="PRG_CODE{{element.IDX}}" [(ngModel)]="element.PRG_CODE">
</td>
</ng-container>
<ng-container matColumnDef="DN_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DN_YN</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="DN_YN" name="DN_YN{{element.IDX}}" [(ngModel)]="element.DN_YN">
</td>
</ng-container>
<ng-container matColumnDef="DATA_TEXT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DATA_TEXT</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="DATA_TEXT" name="DATA_TEXT{{element.IDX}}" [(ngModel)]="element.DATA_TEXT">
</td>
</ng-container>
<ng-container matColumnDef="SQL_NM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SQL_NM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="SQL_NM" name="SQL_NM{{element.IDX}}" [(ngModel)]="element.SQL_NM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="zt_log_dbSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.IDX>0" (click)="zt_log_dbDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="zt_log_dbService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: zt_log_dbService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #zt_log_dbPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="zt_log_dbService.IsShowLoading"></app-loading>
