
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    zt_log_db:
                    <b>{{zt_log_dbService.FormData.Name}} [{{zt_log_dbService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/zt_log_db" title="zt_log_db">zt_log_db</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/zt_log_db" title="zt_log_db">zt_log_db</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="zt_log_dbAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="zt_log_dbSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>IDX</label>
<input placeholder="IDX" [(ngModel)]="zt_log_dbService.FormData.IDX" name="zt_log_dbService.FormData.IDX" type="text" class="form-control">
</div>
<div>
<label>MENU_NM</label>
<input placeholder="MENU_NM" [(ngModel)]="zt_log_dbService.FormData.MENU_NM" name="zt_log_dbService.FormData.MENU_NM" type="text" class="form-control">
</div>
<div>
<label>TAB_NAME</label>
<input placeholder="TAB_NAME" [(ngModel)]="zt_log_dbService.FormData.TAB_NAME" name="zt_log_dbService.FormData.TAB_NAME" type="text" class="form-control">
</div>
<div>
<label>BUTTON_NM</label>
<input placeholder="BUTTON_NM" [(ngModel)]="zt_log_dbService.FormData.BUTTON_NM" name="zt_log_dbService.FormData.BUTTON_NM" type="text" class="form-control">
</div>
<div>
<label>USER_ID</label>
<input placeholder="USER_ID" [(ngModel)]="zt_log_dbService.FormData.USER_ID" name="zt_log_dbService.FormData.USER_ID" type="text" class="form-control">
</div>
<div>
<label>PRG_CODE</label>
<input placeholder="PRG_CODE" [(ngModel)]="zt_log_dbService.FormData.PRG_CODE" name="zt_log_dbService.FormData.PRG_CODE" type="text" class="form-control">
</div>
<div>
<label>DN_YN</label>
<input placeholder="DN_YN" [(ngModel)]="zt_log_dbService.FormData.DN_YN" name="zt_log_dbService.FormData.DN_YN" type="text" class="form-control">
</div>
<div>
<label>DATA_TEXT</label>
<input placeholder="DATA_TEXT" [(ngModel)]="zt_log_dbService.FormData.DATA_TEXT" name="zt_log_dbService.FormData.DATA_TEXT" type="text" class="form-control">
</div>
<div>
<label>SQL_NM</label>
<input placeholder="SQL_NM" [(ngModel)]="zt_log_dbService.FormData.SQL_NM" name="zt_log_dbService.FormData.SQL_NM" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="zt_log_dbService.FormData.CREATE_DTM" name="zt_log_dbService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="zt_log_dbService.IsShowLoading"></app-loading>
