<div class="row">
    <div class="col s12 m12 l10">
        <h5 class="card-title"><b>tscode</b></h5>
    </div>
    <div class="col s12 m12 l2">
        <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tscodeSave()">
            <i class="material-icons">save</i>
        </a>&nbsp;&nbsp;&nbsp;
        <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
            <i class="material-icons">close</i>
        </a>
    </div>
    <div class="col s12 m12 l6">
        <div>
            <label>CD_IDX</label>
            <input placeholder="CD_IDX" [(ngModel)]="tscodeService.FormData.CD_IDX" name="tscodeService.FormData.CD_IDX"
                type="text" class="form-control" disabled>
        </div>
        <div>
            <label>CDGR_IDX</label>
            <input placeholder="CDGR_IDX" [(ngModel)]="tscodeService.FormData.CDGR_IDX"
                name="tscodeService.FormData.CDGR_IDX" type="text" class="form-control">
        </div>
        <div>
            <label>CD_SYS_NOTE</label>
            <input placeholder="CD_SYS_NOTE" [(ngModel)]="tscodeService.FormData.CD_SYS_NOTE"
                name="tscodeService.FormData.CD_SYS_NOTE" type="text" class="form-control">
        </div>
        <div>
            <label>CD_NM_HAN</label>
            <input placeholder="CD_NM_HAN" [(ngModel)]="tscodeService.FormData.CD_NM_HAN"
                name="tscodeService.FormData.CD_NM_HAN" type="text" class="form-control">
        </div>
        <div>
            <label>CD_NM_EN</label>
            <input placeholder="CD_NM_EN" [(ngModel)]="tscodeService.FormData.CD_NM_EN"
                name="tscodeService.FormData.CD_NM_EN" type="text" class="form-control">
        </div>
    </div>
    <div class="col s12 m12 l6">
        <div>
            <label>CREATE_DTM</label>
            <input [ngModel]="tscodeService.FormData.CREATE_DTM | date:'yyyy-MM-dd HH:mm:ss'" style="text-align: right;"
                (ngModelChange)="DateCREATE_DTM($event)" [ngModelOptions]="{ updateOn: 'blur' }" type="datetime-local"
                class="form-control" autocomplete="off">
        </div>
        <div>
            <label>CREATE_USER</label>
            <input placeholder="CREATE_USER" [(ngModel)]="tscodeService.FormData.CREATE_USER"
                name="tscodeService.FormData.CREATE_USER" type="text" class="form-control">
        </div>
        <div>
            <label>UPDATE_DTM</label>           
            <input [ngModel]="tscodeService.FormData.UPDATE_DTM | date:'yyyy-MM-dd HH:mm:ss'" style="text-align: right;"
                (ngModelChange)="DateUPDATE_DTM($event)" [ngModelOptions]="{ updateOn: 'blur' }" type="date"
                class="form-control" autocomplete="off">
        </div>
        <div>
            <label>UPDATE_USER</label>
            <input placeholder="UPDATE_USER" [(ngModel)]="tscodeService.FormData.UPDATE_USER"
                name="tscodeService.FormData.UPDATE_USER" type="text" class="form-control">
        </div>
    </div>
</div>