<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l3">
                    <h6><b>Sản xuất (KOMAX) (C02)</b></h6>
                </div>
                <div class="col s12 m12 l9">
                    <a title="Search" (click)="Search()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Tìm</a>
                    <a title="Add" (click)="Add()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Thêm</a>
                    <a title="Save" (click)="Save()" class="btn waves-effect waves-light cyan darken-1"
                        style="margin-right: 10px;">Lưu</a>
                    <a title="Delete" (click)="Delete()" class="btn waves-effect waves-light red darken-1"
                        style="margin-right: 10px;">Xoá</a>
                    <a title="Cancel" (click)="Cancel()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Huỷ</a>
                    <a title="Excel Import" (click)="ExcelImport()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Thêm excel</a>
                    <a title="Excel Export" (click)="ExcelExport()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Xuất excel</a>
                    <a title="Print" (click)="Print()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">In</a>
                    <a title="Help" (click)="Help()" class="btn waves-effect waves-light green darken-1"
                        style="margin-right: 10px;">Hỗ trợ</a>
                    <a title="Close" (click)="Close()" class="btn waves-effect waves-light purple darken-1">Đóng</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 l12">
                    <div class="row">
                        <div class="col s12 m12 l2">
                            <h3><b>{{torderlistService.BaseParameter.SearchString}}</b></h3>
                        </div>
                        <div class="col s12 m12 l2">
                            <label>Nội dung không hoạt động</label>
                            <select class="browser-default form-select"
                                [(ngModel)]="tsnon_operService.BaseParameter.SearchString001">
                                <option value="S">
                                    Chuẩn bị thiết bị(S)
                                </option>
                                <option value="I">
                                    Thiếu nguyên vật liệu(I)
                                </option>
                                <option value="Q">
                                    Vấn đề chất lượng(Q)
                                </option>
                                <option value="M">
                                    Máy hư(M)
                                </option>
                                <option value="T">
                                    Đào tạo/ họp(T)
                                </option>
                                <option value="L">
                                    Giờ ăn(L)
                                </option>
                                <option value="Khác(E)">
                                    Khác(E)
                                </option>
                            </select>
                        </div>
                        <div class="col s12 m12 l2">
                            <br />
                            <a title="Stop" (click)="Stop()" class="btn waves-effect waves-light red darken-1">Stop</a>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col s12 m12 l2">
                            <label>Date</label>
                            <input [ngModel]="torderlistService.BaseParameter.Begin | date:'yyyy-MM-dd'"
                                style="text-align: right;" (ngModelChange)="DateBegin($event)"
                                [ngModelOptions]="{ updateOn: 'blur' }" type="date" class="form-control"
                                autocomplete="off">
                        </div>
                        <div class="col s12 m12 l2">
                            <label>Machine</label>
                            <select class="browser-default form-select" name="SearchString005"
                                [(ngModel)]="torderlistService.BaseParameter.SearchString005">
                                <option *ngFor="let item of torderlistService.ListFilter001;" [value]="item.MC">
                                    {{item.MC}}
                                </option>
                            </select>
                        </div>
                        <div class="col s12 m12 l2">
                            <label>Order</label>
                            <select class="browser-default form-select" name="SearchString004"
                                [(ngModel)]="torderlistService.BaseParameter.SearchString004">
                                <option value="">
                                    ALL
                                </option>
                                <option value="Stay">
                                    Stay
                                </option>
                                <option value="Complete">
                                    Complete
                                </option>
                                <option value="Working">
                                    Working
                                </option>
                            </select>
                        </div>
                        <div class="col s12 m12 l2">
                            <label>Lead NO</label>
                            <input placeholder="Lead NO" [(ngModel)]="torderlistService.BaseParameter.SearchString003"
                                name="torderlistService.BaseParameter.SearchString003" type="text" class="form-control">
                        </div>
                        <div class="col s12 m12 l2">
                            <label>TERM</label>
                            <input placeholder="TERM" [(ngModel)]="torderlistService.BaseParameter.SearchString001"
                                name="torderlistService.BaseParameter.SearchString001" type="text" class="form-control">
                        </div>
                        <div class="col s12 m12 l2">
                            <label>SEAL</label>
                            <input placeholder="SEAL" [(ngModel)]="torderlistService.BaseParameter.SearchString002"
                                name="torderlistService.BaseParameter.SearchString002" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l2">
                            <label>
                                <input name="IsSeletAll" type="radio" [(ngModel)]="IsSeletAll" [value]="true"
                                    (change)="IsSeletAllChange()" />
                                <span>Select All</span>
                            </label>
                        </div>
                        <div class="col s12 m12 l2">
                            <label>
                                <input name="IsSeletAll" type="radio" [(ngModel)]="IsSeletAll" [value]="false"
                                    (change)="IsSeletAllChange()" />
                                <span>Inversion of choice</span>
                            </label>
                        </div>
                    </div>
                    <div class="KhungOverflow">
                        <table *ngIf="!NotificationService.IsMobile" mat-table matSort #torderlistSort="matSort"
                            [dataSource]="torderlistService.DataSource">
                            <ng-container matColumnDef="No">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    No
                                </th>
                                <td mat-cell *matCellDef="let element; index as i;">
                                    <div *ngIf="torderlistPaginator">
                                        {{
                                        torderlistPaginator.pageSize *
                                        torderlistPaginator.pageIndex + i + 1
                                        }}
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="ORDER_IDX">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ORDER_IDX</th>
                                <td mat-cell *matCellDef="let element">{{element.ORDER_IDX}}</td>
                            </ng-container>
                            <ng-container matColumnDef="OR_NO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                                <td mat-cell *matCellDef="let element">{{element.OR_NO}}</td>
                            </ng-container>
                            <ng-container matColumnDef="WORK_WEEK">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Week</th>
                                <td mat-cell *matCellDef="let element">{{element.WORK_WEEK}}</td>
                            </ng-container>
                            <ng-container matColumnDef="LEAD_NO">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>LEAD_NO</th>
                                <td mat-cell *matCellDef="let element">{{element.LEAD_NO}}</td>
                            </ng-container>
                            <ng-container matColumnDef="PROJECT">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PROJECT</th>
                                <td mat-cell *matCellDef="let element">{{element.PROJECT}}</td>
                            </ng-container>
                            <ng-container matColumnDef="TOT_QTY">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>TOT_QTY</th>
                                <td mat-cell *matCellDef="let element">{{element.TOT_QTY}}</td>
                            </ng-container>
                            <ng-container matColumnDef="ADJ_AF_QTY">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Safety stock</th>
                                <td mat-cell *matCellDef="let element">{{element.ADJ_AF_QTY}}</td>
                            </ng-container>
                            <ng-container matColumnDef="CUR_LEADS">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CURRENT LEADS</th>
                                <td mat-cell *matCellDef="let element">{{element.CUR_LEADS}}</td>
                            </ng-container>
                            <ng-container matColumnDef="CT_LEADS">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CT_LEADS</th>
                                <td mat-cell *matCellDef="let element">{{element.CT_LEADS}}</td>
                            </ng-container>
                            <ng-container matColumnDef="CT_LEADS_PR">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CT_LEADS_PR</th>
                                <td mat-cell *matCellDef="let element">{{element.CT_LEADS_PR}}</td>
                            </ng-container>
                            <ng-container matColumnDef="GRP">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>GRP</th>
                                <td mat-cell *matCellDef="let element">{{element.GRP}}</td>
                            </ng-container>
                            <ng-container matColumnDef="PRT">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PRT</th>
                                <td mat-cell *matCellDef="let element">{{element.PRT}}</td>
                            </ng-container>
                            <ng-container matColumnDef="DT">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Order_Date</th>
                                <td mat-cell *matCellDef="let element">{{element.DT |
                                    date:'dd/MM/yyyy'}}</td>
                            </ng-container>
                            <ng-container matColumnDef="MC">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>MC</th>
                                <td mat-cell *matCellDef="let element" (click)="MCClick(element)">
                                    <input class="form-control" type="text" placeholder="MC" [(ngModel)]="element.MC"
                                        style="width: 100px;">
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="MC2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>MC2</th>
                                <td mat-cell *matCellDef="let element">{{element.MC2}}</td>
                            </ng-container>
                            <ng-container matColumnDef="BUNDLE_SIZE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>BUNDLE_SIZE</th>
                                <td mat-cell *matCellDef="let element">{{element.BUNDLE_SIZE}}</td>
                            </ng-container>
                            <ng-container matColumnDef="HOOK_RACK">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>HOOK_RACK</th>
                                <td mat-cell *matCellDef="let element">{{element.HOOK_RACK}}</td>
                            </ng-container>
                            <ng-container matColumnDef="WIRE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>WIRE</th>
                                <td mat-cell *matCellDef="let element">{{element.WIRE}}</td>
                            </ng-container>
                            <ng-container matColumnDef="T1_DIR">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>T1_DIR</th>
                                <td mat-cell *matCellDef="let element">{{element.T1_DIR}}</td>
                            </ng-container>
                            <ng-container matColumnDef="TERM1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>TERM1</th>
                                <td mat-cell *matCellDef="let element">{{element.TERM1}}</td>
                            </ng-container>
                            <ng-container matColumnDef="STRIP1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>STRIP1</th>
                                <td mat-cell *matCellDef="let element">{{element.STRIP1}}</td>
                            </ng-container>
                            <ng-container matColumnDef="SEAL1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>SEAL1</th>
                                <td mat-cell *matCellDef="let element">{{element.SEAL1}}</td>
                            </ng-container>
                            <ng-container matColumnDef="CCH_W1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CCH_W1</th>
                                <td mat-cell *matCellDef="let element">{{element.CCH_W1}}</td>
                            </ng-container>
                            <ng-container matColumnDef="ICH_W1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ICH_W1</th>
                                <td mat-cell *matCellDef="let element">{{element.ICH_W1}}</td>
                            </ng-container>
                            <ng-container matColumnDef="T2_DIR">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>T2_DIR</th>
                                <td mat-cell *matCellDef="let element">{{element.T2_DIR}}</td>
                            </ng-container>
                            <ng-container matColumnDef="TERM2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>TERM2</th>
                                <td mat-cell *matCellDef="let element">{{element.TERM2}}</td>
                            </ng-container>
                            <ng-container matColumnDef="STRIP2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>STRIP2</th>
                                <td mat-cell *matCellDef="let element">{{element.STRIP2}}</td>
                            </ng-container>
                            <ng-container matColumnDef="SEAL2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>SEAL2</th>
                                <td mat-cell *matCellDef="let element">{{element.SEAL2}}</td>
                            </ng-container>
                            <ng-container matColumnDef="CCH_W2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CCH_W2</th>
                                <td mat-cell *matCellDef="let element">{{element.CCH_W2}}</td>
                            </ng-container>
                            <ng-container matColumnDef="ICH_W2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>ICH_W2</th>
                                <td mat-cell *matCellDef="let element">{{element.ICH_W2}}</td>
                            </ng-container>
                            <ng-container matColumnDef="SP_ST">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>SP_ST</th>
                                <td mat-cell *matCellDef="let element">{{element.SP_ST}}</td>
                            </ng-container>
                            <ng-container matColumnDef="REP">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>REP</th>
                                <td mat-cell *matCellDef="let element">{{element.REP}}</td>
                            </ng-container>
                            <ng-container matColumnDef="DSCN_YN">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>DSCN_YN</th>
                                <td mat-cell *matCellDef="let element">{{element.DSCN_YN}}</td>
                            </ng-container>
                            <ng-container matColumnDef="PERFORMN">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>PERFORMN</th>
                                <td mat-cell *matCellDef="let element">{{element.PERFORMN}}</td>
                            </ng-container>
                            <ng-container matColumnDef="CONDITION">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CONDITION</th>
                                <td mat-cell *matCellDef="let element">
                                    <a title="{{element.CONDITION}}" (click)="CONDITION(element)"
                                        class="btn waves-effect waves-light green darken-1">{{element.CONDITION}}</a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="CREATE_DTM">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation date</th>
                                <td mat-cell *matCellDef="let element">{{element.CREATE_DTM |
                                    date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            </ng-container>
                            <ng-container matColumnDef="CREATE_USER">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
                                <td mat-cell *matCellDef="let element">{{element.CREATE_USER}}</td>
                            </ng-container>
                            <ng-container matColumnDef="UPDATE_DTM">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
                                <td mat-cell *matCellDef="let element">{{element.UPDATE_DTM}}</td>
                            </ng-container>
                            <ng-container matColumnDef="UPDATE_USER">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
                                <td mat-cell *matCellDef="let element">{{element.UPDATE_USER}}</td>
                            </ng-container>
                            <ng-container matColumnDef="FCTRY_NM">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>FCTRY_NM</th>
                                <td mat-cell *matCellDef="let element">{{element.FCTRY_NM}}</td>
                            </ng-container>
                            <ng-container matColumnDef="MTRL_RQUST">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>MTRL_RQUST</th>
                                <td mat-cell *matCellDef="let element">{{element.MTRL_RQUST}}</td>
                            </ng-container>
                            <ng-container matColumnDef="TORDER_FG">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>TORDER_FG</th>
                                <td mat-cell *matCellDef="let element">{{element.TORDER_FG}}</td>
                            </ng-container>
                            <ng-container matColumnDef="TOEXCEL_QTY">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Excel PO</th>
                                <td mat-cell *matCellDef="let element">{{element.TOEXCEL_QTY}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Save">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <a (click)="torderlistSave(element)"
                                        class="btn-floating waves-effect waves-light cyan" title="Save">
                                        <i class="material-icons">save</i>
                                    </a>&nbsp;&nbsp;&nbsp;
                                    <a *ngIf="element.ORDER_IDX>0" (click)="torderlistDelete(element)"
                                        class="btn-floating waves-effect waves-light red" style="padding-top: 3px;"
                                        title="Delete">
                                        <i class="material-icons">delete_outline</i>
                                    </a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="CHK">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <label>
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="element.CHK">
                                        <span></span>
                                    </label>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="QTY_STOCK">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>HR_STOCK</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <a title="{{element.QTY_STOCK}}"
                                        class="link-primary"><b>{{element.QTY_STOCK}}</b></a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="REM_QTY">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Remaining(F2)</th>
                                <td mat-cell *matCellDef="let element">{{element.REM_QTY}}</td>
                            </ng-container>
                            <ng-container matColumnDef="SUM_QTY">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>TOTAL PO</th>
                                <td mat-cell *matCellDef="let element">{{element.SUM_QTY}}</td>
                            </ng-container>
                            <ng-container matColumnDef="ACT">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>QTY of Work</th>
                                <td mat-cell *matCellDef="let element">{{element.ACT}}</td>
                            </ng-container>
                            <ng-container matColumnDef="LS_DATE">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Work_Date</th>
                                <td mat-cell *matCellDef="let element">{{element.LS_DATE |
                                    date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="torderlistService.DisplayColumns002">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: torderlistService.DisplayColumns002;">
                            </tr>
                        </table>
                        <mat-paginator *ngIf="!NotificationService.IsMobile" #torderlistPaginator="matPaginator"
                            [pageSizeOptions]="[5,10,20,50,100]" [pageSize]="8" [showFirstLastButtons]></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="torderlistService.IsShowLoading"></app-loading>