<div class="col s12 m12 l10">
    <h5 class="card-title"><b>apqp_dlylst</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="apqp_dlylstSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>APQP_DLYLST_IDX</label>
<input placeholder="APQP_DLYLST_IDX" [(ngModel)]="apqp_dlylstService.FormData.APQP_DLYLST_IDX" name="apqp_dlylstService.FormData.APQP_DLYLST_IDX" type="text" class="form-control">
</div>
<div>
<label>APQP_MSTLST_IDX</label>
<input placeholder="APQP_MSTLST_IDX" [(ngModel)]="apqp_dlylstService.FormData.APQP_MSTLST_IDX" name="apqp_dlylstService.FormData.APQP_MSTLST_IDX" type="text" class="form-control">
</div>
<div>
<label>APQP_DLYLST_RNK</label>
<input placeholder="APQP_DLYLST_RNK" [(ngModel)]="apqp_dlylstService.FormData.APQP_DLYLST_RNK" name="apqp_dlylstService.FormData.APQP_DLYLST_RNK" type="text" class="form-control">
</div>
<div>
<label>APQP_DLYLST_NXTDT</label>
<input placeholder="APQP_DLYLST_NXTDT" [(ngModel)]="apqp_dlylstService.FormData.APQP_DLYLST_NXTDT" name="apqp_dlylstService.FormData.APQP_DLYLST_NXTDT" type="text" class="form-control">
</div>
<div>
<label>APQP_DLYLST_NM</label>
<input placeholder="APQP_DLYLST_NM" [(ngModel)]="apqp_dlylstService.FormData.APQP_DLYLST_NM" name="apqp_dlylstService.FormData.APQP_DLYLST_NM" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="apqp_dlylstService.FormData.CREATE_DTM" name="apqp_dlylstService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="apqp_dlylstService.FormData.CREATE_USER" name="apqp_dlylstService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="apqp_dlylstService.FormData.UPDATE_DTM" name="apqp_dlylstService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="apqp_dlylstService.FormData.UPDATE_USER" name="apqp_dlylstService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


