
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    apqp_code:
                    <b>{{apqp_codeService.FormData.Name}} [{{apqp_codeService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/apqp_code" title="apqp_code">apqp_code</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/apqp_code" title="apqp_code">apqp_code</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="apqp_codeAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="apqp_codeSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>CD_IDX</label>
<input placeholder="CD_IDX" [(ngModel)]="apqp_codeService.FormData.CD_IDX" name="apqp_codeService.FormData.CD_IDX" type="text" class="form-control">
</div>
<div>
<label>CDGR_IDX</label>
<input placeholder="CDGR_IDX" [(ngModel)]="apqp_codeService.FormData.CDGR_IDX" name="apqp_codeService.FormData.CDGR_IDX" type="text" class="form-control">
</div>
<div>
<label>CD_SYS_NOTE</label>
<input placeholder="CD_SYS_NOTE" [(ngModel)]="apqp_codeService.FormData.CD_SYS_NOTE" name="apqp_codeService.FormData.CD_SYS_NOTE" type="text" class="form-control">
</div>
<div>
<label>CD_NM_GRP</label>
<input placeholder="CD_NM_GRP" [(ngModel)]="apqp_codeService.FormData.CD_NM_GRP" name="apqp_codeService.FormData.CD_NM_GRP" type="text" class="form-control">
</div>
<div>
<label>CD_NM</label>
<input placeholder="CD_NM" [(ngModel)]="apqp_codeService.FormData.CD_NM" name="apqp_codeService.FormData.CD_NM" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="apqp_codeService.FormData.CREATE_DTM" name="apqp_codeService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="apqp_codeService.FormData.CREATE_USER" name="apqp_codeService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="apqp_codeService.FormData.UPDATE_DTM" name="apqp_codeService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="apqp_codeService.FormData.UPDATE_USER" name="apqp_codeService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="apqp_codeService.IsShowLoading"></app-loading>
