
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    apqp_filelst:
                    <b>{{apqp_filelstService.FormData.Name}} [{{apqp_filelstService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/apqp_filelst" title="apqp_filelst">apqp_filelst</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/apqp_filelst" title="apqp_filelst">apqp_filelst</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="apqp_filelstAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="apqp_filelstSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>APQP_FLLST_IDX</label>
<input placeholder="APQP_FLLST_IDX" [(ngModel)]="apqp_filelstService.FormData.APQP_FLLST_IDX" name="apqp_filelstService.FormData.APQP_FLLST_IDX" type="text" class="form-control">
</div>
<div>
<label>APQP_MSTLST_IDX</label>
<input placeholder="APQP_MSTLST_IDX" [(ngModel)]="apqp_filelstService.FormData.APQP_MSTLST_IDX" name="apqp_filelstService.FormData.APQP_MSTLST_IDX" type="text" class="form-control">
</div>
<div>
<label>APQP_FLLST_RNK</label>
<input placeholder="APQP_FLLST_RNK" [(ngModel)]="apqp_filelstService.FormData.APQP_FLLST_RNK" name="apqp_filelstService.FormData.APQP_FLLST_RNK" type="text" class="form-control">
</div>
<div>
<label>APQP_FLLST_DATE</label>
<input placeholder="APQP_FLLST_DATE" [(ngModel)]="apqp_filelstService.FormData.APQP_FLLST_DATE" name="apqp_filelstService.FormData.APQP_FLLST_DATE" type="text" class="form-control">
</div>
<div>
<label>APQP_FLLST_RVW</label>
<input placeholder="APQP_FLLST_RVW" [(ngModel)]="apqp_filelstService.FormData.APQP_FLLST_RVW" name="apqp_filelstService.FormData.APQP_FLLST_RVW" type="text" class="form-control">
</div>
<div>
<label>APQP_FLLST_NM</label>
<input placeholder="APQP_FLLST_NM" [(ngModel)]="apqp_filelstService.FormData.APQP_FLLST_NM" name="apqp_filelstService.FormData.APQP_FLLST_NM" type="text" class="form-control">
</div>
<div>
<label>APQP_FLLST_ETN</label>
<input placeholder="APQP_FLLST_ETN" [(ngModel)]="apqp_filelstService.FormData.APQP_FLLST_ETN" name="apqp_filelstService.FormData.APQP_FLLST_ETN" type="text" class="form-control">
</div>
<div>
<label>APQP_FLLST_SIZE</label>
<input placeholder="APQP_FLLST_SIZE" [(ngModel)]="apqp_filelstService.FormData.APQP_FLLST_SIZE" name="apqp_filelstService.FormData.APQP_FLLST_SIZE" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="apqp_filelstService.FormData.CREATE_DTM" name="apqp_filelstService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="apqp_filelstService.FormData.CREATE_USER" name="apqp_filelstService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="apqp_filelstService.FormData.UPDATE_DTM" name="apqp_filelstService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="apqp_filelstService.FormData.UPDATE_USER" name="apqp_filelstService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="apqp_filelstService.IsShowLoading"></app-loading>
