<div class="col s12 m12 l10">
    <h5 class="card-title"><b>kr_inspctn_test</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="kr_inspctn_testSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>KR_INSPCTN_TEST_IDX</label>
<input placeholder="KR_INSPCTN_TEST_IDX" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_TEST_IDX" name="kr_inspctn_testService.FormData.KR_INSPCTN_TEST_IDX" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_CODE</label>
<input placeholder="KR_INSPCTN_CODE" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_CODE" name="kr_inspctn_testService.FormData.KR_INSPCTN_CODE" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_PARTIDX</label>
<input placeholder="KR_INSPCTN_PARTIDX" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_PARTIDX" name="kr_inspctn_testService.FormData.KR_INSPCTN_PARTIDX" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_IDX</label>
<input placeholder="KR_INSPCTN_IDX" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_IDX" name="kr_inspctn_testService.FormData.KR_INSPCTN_IDX" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_DATE</label>
<input placeholder="KR_INSPCTN_DATE" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_DATE" name="kr_inspctn_testService.FormData.KR_INSPCTN_DATE" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_TEXT</label>
<input placeholder="KR_INSPCTN_TEXT" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_TEXT" name="kr_inspctn_testService.FormData.KR_INSPCTN_TEXT" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_N</label>
<input placeholder="KR_INSPCTN_N" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_N" name="kr_inspctn_testService.FormData.KR_INSPCTN_N" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_X1</label>
<input placeholder="KR_INSPCTN_X1" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_X1" name="kr_inspctn_testService.FormData.KR_INSPCTN_X1" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_X2</label>
<input placeholder="KR_INSPCTN_X2" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_X2" name="kr_inspctn_testService.FormData.KR_INSPCTN_X2" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_X3</label>
<input placeholder="KR_INSPCTN_X3" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_X3" name="kr_inspctn_testService.FormData.KR_INSPCTN_X3" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_X4</label>
<input placeholder="KR_INSPCTN_X4" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_X4" name="kr_inspctn_testService.FormData.KR_INSPCTN_X4" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_X5</label>
<input placeholder="KR_INSPCTN_X5" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_X5" name="kr_inspctn_testService.FormData.KR_INSPCTN_X5" type="text" class="form-control">
</div>
<div>
<label>KR_INSPCTN_RUS</label>
<input placeholder="KR_INSPCTN_RUS" [(ngModel)]="kr_inspctn_testService.FormData.KR_INSPCTN_RUS" name="kr_inspctn_testService.FormData.KR_INSPCTN_RUS" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="kr_inspctn_testService.FormData.CREATE_DTM" name="kr_inspctn_testService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="kr_inspctn_testService.FormData.CREATE_USER" name="kr_inspctn_testService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="kr_inspctn_testService.FormData.UPDATE_DTM" name="kr_inspctn_testService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="kr_inspctn_testService.FormData.UPDATE_USER" name="kr_inspctn_testService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


