<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    kr_tiivtr
                    <span *ngIf="kr_tiivtrService.List">({{kr_tiivtrService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/kr_tiivtr" title="kr_tiivtr">kr_tiivtr</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/kr_tiivtr" title="kr_tiivtr">kr_tiivtr</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="kr_tiivtrService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="kr_tiivtrSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="kr_tiivtrSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #kr_tiivtrSort="matSort"
                       [dataSource]="kr_tiivtrService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="kr_tiivtrPaginator">
                                {{
                                    kr_tiivtrPaginator.pageSize *
                                    kr_tiivtrPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="IV_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>IV_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="IV_IDX" name="IV_IDX{{element.IV_IDX}}" [(ngModel)]="element.IV_IDX">
</td>
</ng-container>
<ng-container matColumnDef="PART_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PART_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="PART_IDX" name="PART_IDX{{element.IV_IDX}}" [(ngModel)]="element.PART_IDX">
</td>
</ng-container>
<ng-container matColumnDef="LOC_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LOC_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="LOC_IDX" name="LOC_IDX{{element.IV_IDX}}" [(ngModel)]="element.LOC_IDX">
</td>
</ng-container>
<ng-container matColumnDef="QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>QTY</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="QTY" name="QTY{{element.IV_IDX}}" [(ngModel)]="element.QTY">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.IV_IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.IV_IDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_DTM" name="UPDATE_DTM{{element.IV_IDX}}" [(ngModel)]="element.UPDATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_USER" name="UPDATE_USER{{element.IV_IDX}}" [(ngModel)]="element.UPDATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="kr_tiivtrSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.IV_IDX>0" (click)="kr_tiivtrDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="kr_tiivtrService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: kr_tiivtrService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #kr_tiivtrPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="kr_tiivtrService.IsShowLoading"></app-loading>
