<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    pd_cmpny_costfile
                    <span *ngIf="pd_cmpny_costfileService.List">({{pd_cmpny_costfileService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/pd_cmpny_costfile" title="pd_cmpny_costfile">pd_cmpny_costfile</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/pd_cmpny_costfile" title="pd_cmpny_costfile">pd_cmpny_costfile</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="pd_cmpny_costfileService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="pd_cmpny_costfileSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="pd_cmpny_costfileSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #pd_cmpny_costfileSort="matSort"
                       [dataSource]="pd_cmpny_costfileService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="pd_cmpny_costfilePaginator">
                                {{
                                    pd_cmpny_costfilePaginator.pageSize *
                                    pd_cmpny_costfilePaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="PD_CMPNY_PART_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PD_CMPNY_PART_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="PD_CMPNY_PART_IDX" name="PD_CMPNY_PART_IDX{{element.PD_CMPNY_PART_IDX}}" [(ngModel)]="element.PD_CMPNY_PART_IDX">
</td>
</ng-container>
<ng-container matColumnDef="CMPNY_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CMPNY_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CMPNY_IDX" name="CMPNY_IDX{{element.PD_CMPNY_PART_IDX}}" [(ngModel)]="element.CMPNY_IDX">
</td>
</ng-container>
<ng-container matColumnDef="COST_DATE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>COST_DATE</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="COST_DATE" name="COST_DATE{{element.PD_CMPNY_PART_IDX}}" [(ngModel)]="element.COST_DATE">
</td>
</ng-container>
<ng-container matColumnDef="COST_FILENM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>COST_FILENM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="COST_FILENM" name="COST_FILENM{{element.PD_CMPNY_PART_IDX}}" [(ngModel)]="element.COST_FILENM">
</td>
</ng-container>
<ng-container matColumnDef="COST_FILETYPE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>COST_FILETYPE</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="COST_FILETYPE" name="COST_FILETYPE{{element.PD_CMPNY_PART_IDX}}" [(ngModel)]="element.COST_FILETYPE">
</td>
</ng-container>
<ng-container matColumnDef="REMARK">
<th mat-header-cell *matHeaderCellDef mat-sort-header>REMARK</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="REMARK" name="REMARK{{element.PD_CMPNY_PART_IDX}}" [(ngModel)]="element.REMARK">
</td>
</ng-container>
<ng-container matColumnDef="DSN_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DSN_YN</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="DSN_YN" name="DSN_YN{{element.PD_CMPNY_PART_IDX}}" [(ngModel)]="element.DSN_YN">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.PD_CMPNY_PART_IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.PD_CMPNY_PART_IDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_DTM" name="UPDATE_DTM{{element.PD_CMPNY_PART_IDX}}" [(ngModel)]="element.UPDATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_USER" name="UPDATE_USER{{element.PD_CMPNY_PART_IDX}}" [(ngModel)]="element.UPDATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="pd_cmpny_costfileSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.PD_CMPNY_PART_IDX>0" (click)="pd_cmpny_costfileDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="pd_cmpny_costfileService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: pd_cmpny_costfileService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #pd_cmpny_costfilePaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="pd_cmpny_costfileService.IsShowLoading"></app-loading>
