<div class="col s12 m12 l10">
    <h5 class="card-title"><b>pd_mc_orderlist</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="pd_mc_orderlistSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PD_MC_ORDER_IDX</label>
<input placeholder="PD_MC_ORDER_IDX" [(ngModel)]="pd_mc_orderlistService.FormData.PD_MC_ORDER_IDX" name="pd_mc_orderlistService.FormData.PD_MC_ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>PD_PART_IDX</label>
<input placeholder="PD_PART_IDX" [(ngModel)]="pd_mc_orderlistService.FormData.PD_PART_IDX" name="pd_mc_orderlistService.FormData.PD_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>PD_PURDATE</label>
<input placeholder="PD_PURDATE" [(ngModel)]="pd_mc_orderlistService.FormData.PD_PURDATE" name="pd_mc_orderlistService.FormData.PD_PURDATE" type="text" class="form-control">
</div>
<div>
<label>PD_MC_NO</label>
<input placeholder="PD_MC_NO" [(ngModel)]="pd_mc_orderlistService.FormData.PD_MC_NO" name="pd_mc_orderlistService.FormData.PD_MC_NO" type="text" class="form-control">
</div>
<div>
<label>PD_MC_QTY</label>
<input placeholder="PD_MC_QTY" [(ngModel)]="pd_mc_orderlistService.FormData.PD_MC_QTY" name="pd_mc_orderlistService.FormData.PD_MC_QTY" type="text" class="form-control">
</div>
<div>
<label>PD_MC_UNIT</label>
<input placeholder="PD_MC_UNIT" [(ngModel)]="pd_mc_orderlistService.FormData.PD_MC_UNIT" name="pd_mc_orderlistService.FormData.PD_MC_UNIT" type="text" class="form-control">
</div>
<div>
<label>PD_MC_COST</label>
<input placeholder="PD_MC_COST" [(ngModel)]="pd_mc_orderlistService.FormData.PD_MC_COST" name="pd_mc_orderlistService.FormData.PD_MC_COST" type="text" class="form-control">
</div>
<div>
<label>PD_BYORDER</label>
<input placeholder="PD_BYORDER" [(ngModel)]="pd_mc_orderlistService.FormData.PD_BYORDER" name="pd_mc_orderlistService.FormData.PD_BYORDER" type="text" class="form-control">
</div>
<div>
<label>PD_MC_CMPYNM</label>
<input placeholder="PD_MC_CMPYNM" [(ngModel)]="pd_mc_orderlistService.FormData.PD_MC_CMPYNM" name="pd_mc_orderlistService.FormData.PD_MC_CMPYNM" type="text" class="form-control">
</div>
<div>
<label>PD_MC_STAY</label>
<input placeholder="PD_MC_STAY" [(ngModel)]="pd_mc_orderlistService.FormData.PD_MC_STAY" name="pd_mc_orderlistService.FormData.PD_MC_STAY" type="text" class="form-control">
</div>
<div>
<label>PD_MC_APP</label>
<input placeholder="PD_MC_APP" [(ngModel)]="pd_mc_orderlistService.FormData.PD_MC_APP" name="pd_mc_orderlistService.FormData.PD_MC_APP" type="text" class="form-control">
</div>
<div>
<label>PD_MC_REMARK</label>
<input placeholder="PD_MC_REMARK" [(ngModel)]="pd_mc_orderlistService.FormData.PD_MC_REMARK" name="pd_mc_orderlistService.FormData.PD_MC_REMARK" type="text" class="form-control">
</div>
<div>
<label>PD_ORDER_NO</label>
<input placeholder="PD_ORDER_NO" [(ngModel)]="pd_mc_orderlistService.FormData.PD_ORDER_NO" name="pd_mc_orderlistService.FormData.PD_ORDER_NO" type="text" class="form-control">
</div>
<div>
<label>PD_MC_ODDATE</label>
<input placeholder="PD_MC_ODDATE" [(ngModel)]="pd_mc_orderlistService.FormData.PD_MC_ODDATE" name="pd_mc_orderlistService.FormData.PD_MC_ODDATE" type="text" class="form-control">
</div>
<div>
<label>PD_PAYCOST</label>
<input placeholder="PD_PAYCOST" [(ngModel)]="pd_mc_orderlistService.FormData.PD_PAYCOST" name="pd_mc_orderlistService.FormData.PD_PAYCOST" type="text" class="form-control">
</div>
<div>
<label>PD_MC_DSN_YN</label>
<input placeholder="PD_MC_DSN_YN" [(ngModel)]="pd_mc_orderlistService.FormData.PD_MC_DSN_YN" name="pd_mc_orderlistService.FormData.PD_MC_DSN_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="pd_mc_orderlistService.FormData.CREATE_DTM" name="pd_mc_orderlistService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="pd_mc_orderlistService.FormData.CREATE_USER" name="pd_mc_orderlistService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="pd_mc_orderlistService.FormData.UPDATE_DTM" name="pd_mc_orderlistService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="pd_mc_orderlistService.FormData.UPDATE_USER" name="pd_mc_orderlistService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


