
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    pdpart:
                    <b>{{pdpartService.FormData.Name}} [{{pdpartService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/pdpart" title="pdpart">pdpart</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/pdpart" title="pdpart">pdpart</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="pdpartAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="pdpartSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>PDPART_IDX</label>
<input placeholder="PDPART_IDX" [(ngModel)]="pdpartService.FormData.PDPART_IDX" name="pdpartService.FormData.PDPART_IDX" type="text" class="form-control">
</div>
<div>
<label>PN_V</label>
<input placeholder="PN_V" [(ngModel)]="pdpartService.FormData.PN_V" name="pdpartService.FormData.PN_V" type="text" class="form-control">
</div>
<div>
<label>PSPEC_V</label>
<input placeholder="PSPEC_V" [(ngModel)]="pdpartService.FormData.PSPEC_V" name="pdpartService.FormData.PSPEC_V" type="text" class="form-control">
</div>
<div>
<label>PN_K</label>
<input placeholder="PN_K" [(ngModel)]="pdpartService.FormData.PN_K" name="pdpartService.FormData.PN_K" type="text" class="form-control">
</div>
<div>
<label>PSPEC_K</label>
<input placeholder="PSPEC_K" [(ngModel)]="pdpartService.FormData.PSPEC_K" name="pdpartService.FormData.PSPEC_K" type="text" class="form-control">
</div>
<div>
<label>PN_NM</label>
<input placeholder="PN_NM" [(ngModel)]="pdpartService.FormData.PN_NM" name="pdpartService.FormData.PN_NM" type="text" class="form-control">
</div>
<div>
<label>PUNIT_IDX</label>
<input placeholder="PUNIT_IDX" [(ngModel)]="pdpartService.FormData.PUNIT_IDX" name="pdpartService.FormData.PUNIT_IDX" type="text" class="form-control">
</div>
<div>
<label>PQTY</label>
<input placeholder="PQTY" [(ngModel)]="pdpartService.FormData.PQTY" name="pdpartService.FormData.PQTY" type="text" class="form-control">
</div>
<div>
<label>PN_DSCN_YN</label>
<input placeholder="PN_DSCN_YN" [(ngModel)]="pdpartService.FormData.PN_DSCN_YN" name="pdpartService.FormData.PN_DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>PN_GROUP</label>
<input placeholder="PN_GROUP" [(ngModel)]="pdpartService.FormData.PN_GROUP" name="pdpartService.FormData.PN_GROUP" type="text" class="form-control">
</div>
<div>
<label>PN_PHOTO</label>
<input placeholder="PN_PHOTO" [(ngModel)]="pdpartService.FormData.PN_PHOTO" name="pdpartService.FormData.PN_PHOTO" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="pdpartService.FormData.CREATE_DTM" name="pdpartService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="pdpartService.FormData.CREATE_USER" name="pdpartService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="pdpartService.FormData.UPDATE_DTM" name="pdpartService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="pdpartService.FormData.UPDATE_USER" name="pdpartService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="pdpartService.IsShowLoading"></app-loading>
