
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tdd_poplan:
                    <b>{{tdd_poplanService.FormData.Name}} [{{tdd_poplanService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdd_poplan" title="tdd_poplan">tdd_poplan</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdd_poplan" title="tdd_poplan">tdd_poplan</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tdd_poplanAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tdd_poplanSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TDD_PP_IDX</label>
<input placeholder="TDD_PP_IDX" [(ngModel)]="tdd_poplanService.FormData.TDD_PP_IDX" name="tdd_poplanService.FormData.TDD_PP_IDX" type="text" class="form-control">
</div>
<div>
<label>TDD_PO_TYPE</label>
<input placeholder="TDD_PO_TYPE" [(ngModel)]="tdd_poplanService.FormData.TDD_PO_TYPE" name="tdd_poplanService.FormData.TDD_PO_TYPE" type="text" class="form-control">
</div>
<div>
<label>TDD_POCODE</label>
<input placeholder="TDD_POCODE" [(ngModel)]="tdd_poplanService.FormData.TDD_POCODE" name="tdd_poplanService.FormData.TDD_POCODE" type="text" class="form-control">
</div>
<div>
<label>TDD_PP_PNIDX</label>
<input placeholder="TDD_PP_PNIDX" [(ngModel)]="tdd_poplanService.FormData.TDD_PP_PNIDX" name="tdd_poplanService.FormData.TDD_PP_PNIDX" type="text" class="form-control">
</div>
<div>
<label>TDD_PP_DT</label>
<input placeholder="TDD_PP_DT" [(ngModel)]="tdd_poplanService.FormData.TDD_PP_DT" name="tdd_poplanService.FormData.TDD_PP_DT" type="text" class="form-control">
</div>
<div>
<label>TDD_PP_QTY</label>
<input placeholder="TDD_PP_QTY" [(ngModel)]="tdd_poplanService.FormData.TDD_PP_QTY" name="tdd_poplanService.FormData.TDD_PP_QTY" type="text" class="form-control">
</div>
<div>
<label>TDD_PP_NTQTY</label>
<input placeholder="TDD_PP_NTQTY" [(ngModel)]="tdd_poplanService.FormData.TDD_PP_NTQTY" name="tdd_poplanService.FormData.TDD_PP_NTQTY" type="text" class="form-control">
</div>
<div>
<label>TDD_DSCN_YN</label>
<input placeholder="TDD_DSCN_YN" [(ngModel)]="tdd_poplanService.FormData.TDD_DSCN_YN" name="tdd_poplanService.FormData.TDD_DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>TDD_REMK_YN</label>
<input placeholder="TDD_REMK_YN" [(ngModel)]="tdd_poplanService.FormData.TDD_REMK_YN" name="tdd_poplanService.FormData.TDD_REMK_YN" type="text" class="form-control">
</div>
<div>
<label>TDD_REMARK</label>
<input placeholder="TDD_REMARK" [(ngModel)]="tdd_poplanService.FormData.TDD_REMARK" name="tdd_poplanService.FormData.TDD_REMARK" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdd_poplanService.FormData.CREATE_DTM" name="tdd_poplanService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdd_poplanService.FormData.CREATE_USER" name="tdd_poplanService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tdd_poplanService.FormData.UPDATE_DTM" name="tdd_poplanService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tdd_poplanService.FormData.UPDATE_USER" name="tdd_poplanService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tdd_poplanService.IsShowLoading"></app-loading>
