
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tdd_poplan_djg:
                    <b>{{tdd_poplan_djgService.FormData.Name}} [{{tdd_poplan_djgService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdd_poplan_djg" title="tdd_poplan_djg">tdd_poplan_djg</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdd_poplan_djg" title="tdd_poplan_djg">tdd_poplan_djg</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tdd_poplan_djgAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tdd_poplan_djgSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TDD_PPD_IDX</label>
<input placeholder="TDD_PPD_IDX" [(ngModel)]="tdd_poplan_djgService.FormData.TDD_PPD_IDX" name="tdd_poplan_djgService.FormData.TDD_PPD_IDX" type="text" class="form-control">
</div>
<div>
<label>TDD_PO_TYPE</label>
<input placeholder="TDD_PO_TYPE" [(ngModel)]="tdd_poplan_djgService.FormData.TDD_PO_TYPE" name="tdd_poplan_djgService.FormData.TDD_PO_TYPE" type="text" class="form-control">
</div>
<div>
<label>TDD_PPD_PNIDX</label>
<input placeholder="TDD_PPD_PNIDX" [(ngModel)]="tdd_poplan_djgService.FormData.TDD_PPD_PNIDX" name="tdd_poplan_djgService.FormData.TDD_PPD_PNIDX" type="text" class="form-control">
</div>
<div>
<label>TDD_PPD_DT</label>
<input placeholder="TDD_PPD_DT" [(ngModel)]="tdd_poplan_djgService.FormData.TDD_PPD_DT" name="tdd_poplan_djgService.FormData.TDD_PPD_DT" type="text" class="form-control">
</div>
<div>
<label>TDD_PPD_DVC</label>
<input placeholder="TDD_PPD_DVC" [(ngModel)]="tdd_poplan_djgService.FormData.TDD_PPD_DVC" name="tdd_poplan_djgService.FormData.TDD_PPD_DVC" type="text" class="form-control">
</div>
<div>
<label>TDD_PPD_QTY</label>
<input placeholder="TDD_PPD_QTY" [(ngModel)]="tdd_poplan_djgService.FormData.TDD_PPD_QTY" name="tdd_poplan_djgService.FormData.TDD_PPD_QTY" type="text" class="form-control">
</div>
<div>
<label>TDD_PPD_BEQTY</label>
<input placeholder="TDD_PPD_BEQTY" [(ngModel)]="tdd_poplan_djgService.FormData.TDD_PPD_BEQTY" name="tdd_poplan_djgService.FormData.TDD_PPD_BEQTY" type="text" class="form-control">
</div>
<div>
<label>TDD_DSCN_YN</label>
<input placeholder="TDD_DSCN_YN" [(ngModel)]="tdd_poplan_djgService.FormData.TDD_DSCN_YN" name="tdd_poplan_djgService.FormData.TDD_DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdd_poplan_djgService.FormData.CREATE_DTM" name="tdd_poplan_djgService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdd_poplan_djgService.FormData.CREATE_USER" name="tdd_poplan_djgService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tdd_poplan_djgService.FormData.UPDATE_DTM" name="tdd_poplan_djgService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tdd_poplan_djgService.FormData.UPDATE_USER" name="tdd_poplan_djgService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tdd_poplan_djgService.IsShowLoading"></app-loading>
