
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tdd_ct_st:
                    <b>{{tdd_ct_stService.FormData.Name}} [{{tdd_ct_stService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdd_ct_st" title="tdd_ct_st">tdd_ct_st</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdd_ct_st" title="tdd_ct_st">tdd_ct_st</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tdd_ct_stAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tdd_ct_stSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TDD_CT_IDX</label>
<input placeholder="TDD_CT_IDX" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_IDX" name="tdd_ct_stService.FormData.TDD_CT_IDX" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_PNIDX</label>
<input placeholder="TDD_CT_PNIDX" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_PNIDX" name="tdd_ct_stService.FormData.TDD_CT_PNIDX" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_DT</label>
<input placeholder="TDD_CT_DT" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_DT" name="tdd_ct_stService.FormData.TDD_CT_DT" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_QTY</label>
<input placeholder="TDD_CT_QTY" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_QTY" name="tdd_ct_stService.FormData.TDD_CT_QTY" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_SUB</label>
<input placeholder="TDD_CT_SUB" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_SUB" name="tdd_ct_stService.FormData.TDD_CT_SUB" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_FA</label>
<input placeholder="TDD_CT_FA" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_FA" name="tdd_ct_stService.FormData.TDD_CT_FA" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_RO</label>
<input placeholder="TDD_CT_RO" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_RO" name="tdd_ct_stService.FormData.TDD_CT_RO" type="text" class="form-control">
</div>
<div>
<label>TDD_MPP</label>
<input placeholder="TDD_MPP" [(ngModel)]="tdd_ct_stService.FormData.TDD_MPP" name="tdd_ct_stService.FormData.TDD_MPP" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_BEDT</label>
<input placeholder="TDD_CT_BEDT" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_BEDT" name="tdd_ct_stService.FormData.TDD_CT_BEDT" type="text" class="form-control">
</div>
<div>
<label>TDD_CT_BEQTY</label>
<input placeholder="TDD_CT_BEQTY" [(ngModel)]="tdd_ct_stService.FormData.TDD_CT_BEQTY" name="tdd_ct_stService.FormData.TDD_CT_BEQTY" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdd_ct_stService.FormData.CREATE_DTM" name="tdd_ct_stService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdd_ct_stService.FormData.CREATE_USER" name="tdd_ct_stService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tdd_ct_stService.FormData.UPDATE_DTM" name="tdd_ct_stService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tdd_ct_stService.FormData.UPDATE_USER" name="tdd_ct_stService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tdd_ct_stService.IsShowLoading"></app-loading>
