<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tdd_ct_st
                    <span *ngIf="tdd_ct_stService.List">({{tdd_ct_stService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdd_ct_st" title="tdd_ct_st">tdd_ct_st</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdd_ct_st" title="tdd_ct_st">tdd_ct_st</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tdd_ct_stService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tdd_ct_stSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tdd_ct_stSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tdd_ct_stSort="matSort"
                       [dataSource]="tdd_ct_stService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tdd_ct_stPaginator">
                                {{
                                    tdd_ct_stPaginator.pageSize *
                                    tdd_ct_stPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="TDD_CT_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_CT_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_CT_IDX" name="TDD_CT_IDX{{element.TDD_CT_IDX}}" [(ngModel)]="element.TDD_CT_IDX">
</td>
</ng-container>
<ng-container matColumnDef="TDD_CT_PNIDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_CT_PNIDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_CT_PNIDX" name="TDD_CT_PNIDX{{element.TDD_CT_IDX}}" [(ngModel)]="element.TDD_CT_PNIDX">
</td>
</ng-container>
<ng-container matColumnDef="TDD_CT_DT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_CT_DT</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_CT_DT" name="TDD_CT_DT{{element.TDD_CT_IDX}}" [(ngModel)]="element.TDD_CT_DT">
</td>
</ng-container>
<ng-container matColumnDef="TDD_CT_QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_CT_QTY</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_CT_QTY" name="TDD_CT_QTY{{element.TDD_CT_IDX}}" [(ngModel)]="element.TDD_CT_QTY">
</td>
</ng-container>
<ng-container matColumnDef="TDD_CT_SUB">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_CT_SUB</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_CT_SUB" name="TDD_CT_SUB{{element.TDD_CT_IDX}}" [(ngModel)]="element.TDD_CT_SUB">
</td>
</ng-container>
<ng-container matColumnDef="TDD_CT_FA">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_CT_FA</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_CT_FA" name="TDD_CT_FA{{element.TDD_CT_IDX}}" [(ngModel)]="element.TDD_CT_FA">
</td>
</ng-container>
<ng-container matColumnDef="TDD_CT_RO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_CT_RO</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_CT_RO" name="TDD_CT_RO{{element.TDD_CT_IDX}}" [(ngModel)]="element.TDD_CT_RO">
</td>
</ng-container>
<ng-container matColumnDef="TDD_MPP">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_MPP</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_MPP" name="TDD_MPP{{element.TDD_CT_IDX}}" [(ngModel)]="element.TDD_MPP">
</td>
</ng-container>
<ng-container matColumnDef="TDD_CT_BEDT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_CT_BEDT</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_CT_BEDT" name="TDD_CT_BEDT{{element.TDD_CT_IDX}}" [(ngModel)]="element.TDD_CT_BEDT">
</td>
</ng-container>
<ng-container matColumnDef="TDD_CT_BEQTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDD_CT_BEQTY</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDD_CT_BEQTY" name="TDD_CT_BEQTY{{element.TDD_CT_IDX}}" [(ngModel)]="element.TDD_CT_BEQTY">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.TDD_CT_IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.TDD_CT_IDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_DTM" name="UPDATE_DTM{{element.TDD_CT_IDX}}" [(ngModel)]="element.UPDATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_USER" name="UPDATE_USER{{element.TDD_CT_IDX}}" [(ngModel)]="element.UPDATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tdd_ct_stSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.TDD_CT_IDX>0" (click)="tdd_ct_stDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tdd_ct_stService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tdd_ct_stService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tdd_ct_stPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tdd_ct_stService.IsShowLoading"></app-loading>
