<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tdpdmtin_serial
                    <span *ngIf="tdpdmtin_serialService.List">({{tdpdmtin_serialService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdmtin_serial" title="tdpdmtin_serial">tdpdmtin_serial</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdmtin_serial" title="tdpdmtin_serial">tdpdmtin_serial</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tdpdmtin_serialService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tdpdmtin_serialSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tdpdmtin_serialSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tdpdmtin_serialSort="matSort"
                       [dataSource]="tdpdmtin_serialService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tdpdmtin_serialPaginator">
                                {{
                                    tdpdmtin_serialPaginator.pageSize *
                                    tdpdmtin_serialPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="TDPDMTIN_SERIAL_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDPDMTIN_SERIAL_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDPDMTIN_SERIAL_IDX" name="TDPDMTIN_SERIAL_IDX{{element.TDPDMTIN_SERIAL_IDX}}" [(ngModel)]="element.TDPDMTIN_SERIAL_IDX">
</td>
</ng-container>
<ng-container matColumnDef="PART_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PART_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="PART_IDX" name="PART_IDX{{element.TDPDMTIN_SERIAL_IDX}}" [(ngModel)]="element.PART_IDX">
</td>
</ng-container>
<ng-container matColumnDef="TDPD_DATE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TDPD_DATE</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TDPD_DATE" name="TDPD_DATE{{element.TDPDMTIN_SERIAL_IDX}}" [(ngModel)]="element.TDPD_DATE">
</td>
</ng-container>
<ng-container matColumnDef="SEQ_NO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SEQ_NO</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="SEQ_NO" name="SEQ_NO{{element.TDPDMTIN_SERIAL_IDX}}" [(ngModel)]="element.SEQ_NO">
</td>
</ng-container>
<ng-container matColumnDef="SERIAL_NO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>SERIAL_NO</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="SERIAL_NO" name="SERIAL_NO{{element.TDPDMTIN_SERIAL_IDX}}" [(ngModel)]="element.SERIAL_NO">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.TDPDMTIN_SERIAL_IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.TDPDMTIN_SERIAL_IDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tdpdmtin_serialSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.TDPDMTIN_SERIAL_IDX>0" (click)="tdpdmtin_serialDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tdpdmtin_serialService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tdpdmtin_serialService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tdpdmtin_serialPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tdpdmtin_serialService.IsShowLoading"></app-loading>
