<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tdpdotplmu</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tdpdotplmuSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TDPDOTPLMU_IDX</label>
<input placeholder="TDPDOTPLMU_IDX" [(ngModel)]="tdpdotplmuService.FormData.TDPDOTPLMU_IDX" name="tdpdotplmuService.FormData.TDPDOTPLMU_IDX" type="text" class="form-control">
</div>
<div>
<label>PDOTPL_IDX</label>
<input placeholder="PDOTPL_IDX" [(ngModel)]="tdpdotplmuService.FormData.PDOTPL_IDX" name="tdpdotplmuService.FormData.PDOTPL_IDX" type="text" class="form-control">
</div>
<div>
<label>PLET_NO</label>
<input placeholder="PLET_NO" [(ngModel)]="tdpdotplmuService.FormData.PLET_NO" name="tdpdotplmuService.FormData.PLET_NO" type="text" class="form-control">
</div>
<div>
<label>PLET_COMS</label>
<input placeholder="PLET_COMS" [(ngModel)]="tdpdotplmuService.FormData.PLET_COMS" name="tdpdotplmuService.FormData.PLET_COMS" type="text" class="form-control">
</div>
<div>
<label>PDOTPL_DTM</label>
<input placeholder="PDOTPL_DTM" [(ngModel)]="tdpdotplmuService.FormData.PDOTPL_DTM" name="tdpdotplmuService.FormData.PDOTPL_DTM" type="text" class="form-control">
</div>
<div>
<label>QTY</label>
<input placeholder="QTY" [(ngModel)]="tdpdotplmuService.FormData.QTY" name="tdpdotplmuService.FormData.QTY" type="text" class="form-control">
</div>
<div>
<label>SE_QTY</label>
<input placeholder="SE_QTY" [(ngModel)]="tdpdotplmuService.FormData.SE_QTY" name="tdpdotplmuService.FormData.SE_QTY" type="text" class="form-control">
</div>
<div>
<label>DSCN_YN</label>
<input placeholder="DSCN_YN" [(ngModel)]="tdpdotplmuService.FormData.DSCN_YN" name="tdpdotplmuService.FormData.DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdotplmuService.FormData.CREATE_DTM" name="tdpdotplmuService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdotplmuService.FormData.CREATE_USER" name="tdpdotplmuService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tdpdotplmuService.FormData.UPDATE_DTM" name="tdpdotplmuService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tdpdotplmuService.FormData.UPDATE_USER" name="tdpdotplmuService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


