<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tdpdmtim_tmp
                    <span *ngIf="tdpdmtim_tmpService.List">({{tdpdmtim_tmpService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdmtim_tmp" title="tdpdmtim_tmp">tdpdmtim_tmp</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdmtim_tmp" title="tdpdmtim_tmp">tdpdmtim_tmp</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tdpdmtim_tmpService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tdpdmtim_tmpSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tdpdmtim_tmpSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tdpdmtim_tmpSort="matSort"
                       [dataSource]="tdpdmtim_tmpService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tdpdmtim_tmpPaginator">
                                {{
                                    tdpdmtim_tmpPaginator.pageSize *
                                    tdpdmtim_tmpPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="PDTMP_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PDTMP_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="PDTMP_IDX" name="PDTMP_IDX{{element.PDTMP_IDX}}" [(ngModel)]="element.PDTMP_IDX">
</td>
</ng-container>
<ng-container matColumnDef="VLID_GRP">
<th mat-header-cell *matHeaderCellDef mat-sort-header>VLID_GRP</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="VLID_GRP" name="VLID_GRP{{element.PDTMP_IDX}}" [(ngModel)]="element.VLID_GRP">
</td>
</ng-container>
<ng-container matColumnDef="VLID_USE_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>VLID_USE_YN</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="VLID_USE_YN" name="VLID_USE_YN{{element.PDTMP_IDX}}" [(ngModel)]="element.VLID_USE_YN">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.PDTMP_IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.PDTMP_IDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tdpdmtim_tmpSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.PDTMP_IDX>0" (click)="tdpdmtim_tmpDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tdpdmtim_tmpService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tdpdmtim_tmpService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tdpdmtim_tmpPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tdpdmtim_tmpService.IsShowLoading"></app-loading>
