
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tdpdotpl_etc:
                    <b>{{tdpdotpl_etcService.FormData.Name}} [{{tdpdotpl_etcService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdotpl_etc" title="tdpdotpl_etc">tdpdotpl_etc</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdotpl_etc" title="tdpdotpl_etc">tdpdotpl_etc</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tdpdotpl_etcAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tdpdotpl_etcSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TDPDOTPL_ETC_IDX</label>
<input placeholder="TDPDOTPL_ETC_IDX" [(ngModel)]="tdpdotpl_etcService.FormData.TDPDOTPL_ETC_IDX" name="tdpdotpl_etcService.FormData.TDPDOTPL_ETC_IDX" type="text" class="form-control">
</div>
<div>
<label>ETC_PO_CODE</label>
<input placeholder="ETC_PO_CODE" [(ngModel)]="tdpdotpl_etcService.FormData.ETC_PO_CODE" name="tdpdotpl_etcService.FormData.ETC_PO_CODE" type="text" class="form-control">
</div>
<div>
<label>DATE</label>
<input placeholder="DATE" [(ngModel)]="tdpdotpl_etcService.FormData.DATE" name="tdpdotpl_etcService.FormData.DATE" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="tdpdotpl_etcService.FormData.PART_IDX" name="tdpdotpl_etcService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>QTY</label>
<input placeholder="QTY" [(ngModel)]="tdpdotpl_etcService.FormData.QTY" name="tdpdotpl_etcService.FormData.QTY" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdotpl_etcService.FormData.CREATE_DTM" name="tdpdotpl_etcService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdotpl_etcService.FormData.CREATE_USER" name="tdpdotpl_etcService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tdpdotpl_etcService.FormData.UPDATE_DTM" name="tdpdotpl_etcService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tdpdotpl_etcService.FormData.UPDATE_USER" name="tdpdotpl_etcService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tdpdotpl_etcService.IsShowLoading"></app-loading>
