
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tdpdotpl_tmp:
                    <b>{{tdpdotpl_tmpService.FormData.Name}} [{{tdpdotpl_tmpService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdotpl_tmp" title="tdpdotpl_tmp">tdpdotpl_tmp</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdotpl_tmp" title="tdpdotpl_tmp">tdpdotpl_tmp</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tdpdotpl_tmpAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tdpdotpl_tmpSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>PDOTPL_IDX</label>
<input placeholder="PDOTPL_IDX" [(ngModel)]="tdpdotpl_tmpService.FormData.PDOTPL_IDX" name="tdpdotpl_tmpService.FormData.PDOTPL_IDX" type="text" class="form-control">
</div>
<div>
<label>PO_CODE</label>
<input placeholder="PO_CODE" [(ngModel)]="tdpdotpl_tmpService.FormData.PO_CODE" name="tdpdotpl_tmpService.FormData.PO_CODE" type="text" class="form-control">
</div>
<div>
<label>PART_NO</label>
<input placeholder="PART_NO" [(ngModel)]="tdpdotpl_tmpService.FormData.PART_NO" name="tdpdotpl_tmpService.FormData.PART_NO" type="text" class="form-control">
</div>
<div>
<label>PO_QTY</label>
<input placeholder="PO_QTY" [(ngModel)]="tdpdotpl_tmpService.FormData.PO_QTY" name="tdpdotpl_tmpService.FormData.PO_QTY" type="text" class="form-control">
</div>
<div>
<label>NT_QTY</label>
<input placeholder="NT_QTY" [(ngModel)]="tdpdotpl_tmpService.FormData.NT_QTY" name="tdpdotpl_tmpService.FormData.NT_QTY" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdotpl_tmpService.FormData.CREATE_DTM" name="tdpdotpl_tmpService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdotpl_tmpService.FormData.CREATE_USER" name="tdpdotpl_tmpService.FormData.CREATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tdpdotpl_tmpService.IsShowLoading"></app-loading>
