<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tdpdotpl_aloc</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tdpdotpl_alocSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PDOTPL_IDX</label>
<input placeholder="PDOTPL_IDX" [(ngModel)]="tdpdotpl_alocService.FormData.PDOTPL_IDX" name="tdpdotpl_alocService.FormData.PDOTPL_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="tdpdotpl_alocService.FormData.PART_IDX" name="tdpdotpl_alocService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>D_ARRVL</label>
<input placeholder="D_ARRVL" [(ngModel)]="tdpdotpl_alocService.FormData.D_ARRVL" name="tdpdotpl_alocService.FormData.D_ARRVL" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdotpl_alocService.FormData.CREATE_DTM" name="tdpdotpl_alocService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdotpl_alocService.FormData.CREATE_USER" name="tdpdotpl_alocService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tdpdotpl_alocService.FormData.UPDATE_DTM" name="tdpdotpl_alocService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tdpdotpl_alocService.FormData.UPDATE_USER" name="tdpdotpl_alocService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


