<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tdpdmtim_loc</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tdpdmtim_locSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TDLOC_IDX</label>
<input placeholder="TDLOC_IDX" [(ngModel)]="tdpdmtim_locService.FormData.TDLOC_IDX" name="tdpdmtim_locService.FormData.TDLOC_IDX" type="text" class="form-control">
</div>
<div>
<label>TDLOC_PART_IDX</label>
<input placeholder="TDLOC_PART_IDX" [(ngModel)]="tdpdmtim_locService.FormData.TDLOC_PART_IDX" name="tdpdmtim_locService.FormData.TDLOC_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>TDLOC_PARTNO</label>
<input placeholder="TDLOC_PARTNO" [(ngModel)]="tdpdmtim_locService.FormData.TDLOC_PARTNO" name="tdpdmtim_locService.FormData.TDLOC_PARTNO" type="text" class="form-control">
</div>
<div>
<label>TDLOC_COSM</label>
<input placeholder="TDLOC_COSM" [(ngModel)]="tdpdmtim_locService.FormData.TDLOC_COSM" name="tdpdmtim_locService.FormData.TDLOC_COSM" type="text" class="form-control">
</div>
<div>
<label>TDLOC_MOQ</label>
<input placeholder="TDLOC_MOQ" [(ngModel)]="tdpdmtim_locService.FormData.TDLOC_MOQ" name="tdpdmtim_locService.FormData.TDLOC_MOQ" type="text" class="form-control">
</div>
<div>
<label>TDLOC_PARTNM</label>
<input placeholder="TDLOC_PARTNM" [(ngModel)]="tdpdmtim_locService.FormData.TDLOC_PARTNM" name="tdpdmtim_locService.FormData.TDLOC_PARTNM" type="text" class="form-control">
</div>
<div>
<label>TDLOC_LOC</label>
<input placeholder="TDLOC_LOC" [(ngModel)]="tdpdmtim_locService.FormData.TDLOC_LOC" name="tdpdmtim_locService.FormData.TDLOC_LOC" type="text" class="form-control">
</div>
<div>
<label>TDLOC_REMARK</label>
<input placeholder="TDLOC_REMARK" [(ngModel)]="tdpdmtim_locService.FormData.TDLOC_REMARK" name="tdpdmtim_locService.FormData.TDLOC_REMARK" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdmtim_locService.FormData.CREATE_DTM" name="tdpdmtim_locService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdmtim_locService.FormData.CREATE_USER" name="tdpdmtim_locService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tdpdmtim_locService.FormData.UPDATE_DTM" name="tdpdmtim_locService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tdpdmtim_locService.FormData.UPDATE_USER" name="tdpdmtim_locService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


