<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tdpdmtim_tmp</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tdpdmtim_tmpSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PDTMP_IDX</label>
<input placeholder="PDTMP_IDX" [(ngModel)]="tdpdmtim_tmpService.FormData.PDTMP_IDX" name="tdpdmtim_tmpService.FormData.PDTMP_IDX" type="text" class="form-control">
</div>
<div>
<label>VLID_GRP</label>
<input placeholder="VLID_GRP" [(ngModel)]="tdpdmtim_tmpService.FormData.VLID_GRP" name="tdpdmtim_tmpService.FormData.VLID_GRP" type="text" class="form-control">
</div>
<div>
<label>VLID_USE_YN</label>
<input placeholder="VLID_USE_YN" [(ngModel)]="tdpdmtim_tmpService.FormData.VLID_USE_YN" name="tdpdmtim_tmpService.FormData.VLID_USE_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdmtim_tmpService.FormData.CREATE_DTM" name="tdpdmtim_tmpService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdmtim_tmpService.FormData.CREATE_USER" name="tdpdmtim_tmpService.FormData.CREATE_USER" type="text" class="form-control">
</div>

</div>


