<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tdpdotpl_label</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tdpdotpl_labelSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PDOTPL_IDX</label>
<input placeholder="PDOTPL_IDX" [(ngModel)]="tdpdotpl_labelService.FormData.PDOTPL_IDX" name="tdpdotpl_labelService.FormData.PDOTPL_IDX" type="text" class="form-control">
</div>
<div>
<label>PDLB_DATE</label>
<input placeholder="PDLB_DATE" [(ngModel)]="tdpdotpl_labelService.FormData.PDLB_DATE" name="tdpdotpl_labelService.FormData.PDLB_DATE" type="text" class="form-control">
</div>
<div>
<label>LABEL_NO</label>
<input placeholder="LABEL_NO" [(ngModel)]="tdpdotpl_labelService.FormData.LABEL_NO" name="tdpdotpl_labelService.FormData.LABEL_NO" type="text" class="form-control">
</div>
<div>
<label>LABEL_TXT</label>
<input placeholder="LABEL_TXT" [(ngModel)]="tdpdotpl_labelService.FormData.LABEL_TXT" name="tdpdotpl_labelService.FormData.LABEL_TXT" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdotpl_labelService.FormData.CREATE_DTM" name="tdpdotpl_labelService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdotpl_labelService.FormData.CREATE_USER" name="tdpdotpl_labelService.FormData.CREATE_USER" type="text" class="form-control">
</div>

</div>


