<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tdpdmtin_serial</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tdpdmtin_serialSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TDPDMTIN_SERIAL_IDX</label>
<input placeholder="TDPDMTIN_SERIAL_IDX" [(ngModel)]="tdpdmtin_serialService.FormData.TDPDMTIN_SERIAL_IDX" name="tdpdmtin_serialService.FormData.TDPDMTIN_SERIAL_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="tdpdmtin_serialService.FormData.PART_IDX" name="tdpdmtin_serialService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>TDPD_DATE</label>
<input placeholder="TDPD_DATE" [(ngModel)]="tdpdmtin_serialService.FormData.TDPD_DATE" name="tdpdmtin_serialService.FormData.TDPD_DATE" type="text" class="form-control">
</div>
<div>
<label>SEQ_NO</label>
<input placeholder="SEQ_NO" [(ngModel)]="tdpdmtin_serialService.FormData.SEQ_NO" name="tdpdmtin_serialService.FormData.SEQ_NO" type="text" class="form-control">
</div>
<div>
<label>SERIAL_NO</label>
<input placeholder="SERIAL_NO" [(ngModel)]="tdpdmtin_serialService.FormData.SERIAL_NO" name="tdpdmtin_serialService.FormData.SERIAL_NO" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdmtin_serialService.FormData.CREATE_DTM" name="tdpdmtin_serialService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdmtin_serialService.FormData.CREATE_USER" name="tdpdmtin_serialService.FormData.CREATE_USER" type="text" class="form-control">
</div>

</div>


