
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tdpdotpl_label:
                    <b>{{tdpdotpl_labelService.FormData.Name}} [{{tdpdotpl_labelService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdotpl_label" title="tdpdotpl_label">tdpdotpl_label</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tdpdotpl_label" title="tdpdotpl_label">tdpdotpl_label</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tdpdotpl_labelAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tdpdotpl_labelSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>PDOTPL_IDX</label>
<input placeholder="PDOTPL_IDX" [(ngModel)]="tdpdotpl_labelService.FormData.PDOTPL_IDX" name="tdpdotpl_labelService.FormData.PDOTPL_IDX" type="text" class="form-control">
</div>
<div>
<label>PDLB_DATE</label>
<input placeholder="PDLB_DATE" [(ngModel)]="tdpdotpl_labelService.FormData.PDLB_DATE" name="tdpdotpl_labelService.FormData.PDLB_DATE" type="text" class="form-control">
</div>
<div>
<label>LABEL_NO</label>
<input placeholder="LABEL_NO" [(ngModel)]="tdpdotpl_labelService.FormData.LABEL_NO" name="tdpdotpl_labelService.FormData.LABEL_NO" type="text" class="form-control">
</div>
<div>
<label>LABEL_TXT</label>
<input placeholder="LABEL_TXT" [(ngModel)]="tdpdotpl_labelService.FormData.LABEL_TXT" name="tdpdotpl_labelService.FormData.LABEL_TXT" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tdpdotpl_labelService.FormData.CREATE_DTM" name="tdpdotpl_labelService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tdpdotpl_labelService.FormData.CREATE_USER" name="tdpdotpl_labelService.FormData.CREATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tdpdotpl_labelService.IsShowLoading"></app-loading>
