
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tfg_monitor:
                    <b>{{tfg_monitorService.FormData.Name}} [{{tfg_monitorService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tfg_monitor" title="tfg_monitor">tfg_monitor</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tfg_monitor" title="tfg_monitor">tfg_monitor</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tfg_monitorAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tfg_monitorSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TFG_MO_IDX</label>
<input placeholder="TFG_MO_IDX" [(ngModel)]="tfg_monitorService.FormData.TFG_MO_IDX" name="tfg_monitorService.FormData.TFG_MO_IDX" type="text" class="form-control">
</div>
<div>
<label>TFG_DATE</label>
<input placeholder="TFG_DATE" [(ngModel)]="tfg_monitorService.FormData.TFG_DATE" name="tfg_monitorService.FormData.TFG_DATE" type="text" class="form-control">
</div>
<div>
<label>TFG_CD_IDX</label>
<input placeholder="TFG_CD_IDX" [(ngModel)]="tfg_monitorService.FormData.TFG_CD_IDX" name="tfg_monitorService.FormData.TFG_CD_IDX" type="text" class="form-control">
</div>
<div>
<label>TFG_QTY</label>
<input placeholder="TFG_QTY" [(ngModel)]="tfg_monitorService.FormData.TFG_QTY" name="tfg_monitorService.FormData.TFG_QTY" type="text" class="form-control">
</div>
<div>
<label>TFG_QTYBOX</label>
<input placeholder="TFG_QTYBOX" [(ngModel)]="tfg_monitorService.FormData.TFG_QTYBOX" name="tfg_monitorService.FormData.TFG_QTYBOX" type="text" class="form-control">
</div>
<div>
<label>TFG_TOTL_QTY</label>
<input placeholder="TFG_TOTL_QTY" [(ngModel)]="tfg_monitorService.FormData.TFG_TOTL_QTY" name="tfg_monitorService.FormData.TFG_TOTL_QTY" type="text" class="form-control">
</div>
<div>
<label>TFG_TOTL_QTYBOX</label>
<input placeholder="TFG_TOTL_QTYBOX" [(ngModel)]="tfg_monitorService.FormData.TFG_TOTL_QTYBOX" name="tfg_monitorService.FormData.TFG_TOTL_QTYBOX" type="text" class="form-control">
</div>
<div>
<label>TFG_NTC</label>
<input placeholder="TFG_NTC" [(ngModel)]="tfg_monitorService.FormData.TFG_NTC" name="tfg_monitorService.FormData.TFG_NTC" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tfg_monitorService.FormData.CREATE_DTM" name="tfg_monitorService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tfg_monitorService.FormData.CREATE_USER" name="tfg_monitorService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tfg_monitorService.FormData.UPDATE_DTM" name="tfg_monitorService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tfg_monitorService.FormData.UPDATE_USER" name="tfg_monitorService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tfg_monitorService.IsShowLoading"></app-loading>
