
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tiivtr_lead_fg:
                    <b>{{tiivtr_lead_fgService.FormData.Name}} [{{tiivtr_lead_fgService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tiivtr_lead_fg" title="tiivtr_lead_fg">tiivtr_lead_fg</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tiivtr_lead_fg" title="tiivtr_lead_fg">tiivtr_lead_fg</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tiivtr_lead_fgAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tiivtr_lead_fgSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>IV_IDX</label>
<input placeholder="IV_IDX" [(ngModel)]="tiivtr_lead_fgService.FormData.IV_IDX" name="tiivtr_lead_fgService.FormData.IV_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="tiivtr_lead_fgService.FormData.PART_IDX" name="tiivtr_lead_fgService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>LOC_IDX</label>
<input placeholder="LOC_IDX" [(ngModel)]="tiivtr_lead_fgService.FormData.LOC_IDX" name="tiivtr_lead_fgService.FormData.LOC_IDX" type="text" class="form-control">
</div>
<div>
<label>QTY</label>
<input placeholder="QTY" [(ngModel)]="tiivtr_lead_fgService.FormData.QTY" name="tiivtr_lead_fgService.FormData.QTY" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tiivtr_lead_fgService.FormData.CREATE_DTM" name="tiivtr_lead_fgService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tiivtr_lead_fgService.FormData.CREATE_USER" name="tiivtr_lead_fgService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tiivtr_lead_fgService.FormData.UPDATE_DTM" name="tiivtr_lead_fgService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tiivtr_lead_fgService.FormData.UPDATE_USER" name="tiivtr_lead_fgService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tiivtr_lead_fgService.IsShowLoading"></app-loading>
