
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tmbrcd_his:
                    <b>{{tmbrcd_hisService.FormData.Name}} [{{tmbrcd_hisService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tmbrcd_his" title="tmbrcd_his">tmbrcd_his</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tmbrcd_his" title="tmbrcd_his">tmbrcd_his</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tmbrcd_hisAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tmbrcd_hisSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>BARCD_IDX</label>
<input placeholder="BARCD_IDX" [(ngModel)]="tmbrcd_hisService.FormData.BARCD_IDX" name="tmbrcd_hisService.FormData.BARCD_IDX" type="text" class="form-control">
</div>
<div>
<label>BARCD_ID</label>
<input placeholder="BARCD_ID" [(ngModel)]="tmbrcd_hisService.FormData.BARCD_ID" name="tmbrcd_hisService.FormData.BARCD_ID" type="text" class="form-control">
</div>
<div>
<label>PKG_GRP_IDX</label>
<input placeholder="PKG_GRP_IDX" [(ngModel)]="tmbrcd_hisService.FormData.PKG_GRP_IDX" name="tmbrcd_hisService.FormData.PKG_GRP_IDX" type="text" class="form-control">
</div>
<div>
<label>PKG_GRP</label>
<input placeholder="PKG_GRP" [(ngModel)]="tmbrcd_hisService.FormData.PKG_GRP" name="tmbrcd_hisService.FormData.PKG_GRP" type="text" class="form-control">
</div>
<div>
<label>PKG_QTY</label>
<input placeholder="PKG_QTY" [(ngModel)]="tmbrcd_hisService.FormData.PKG_QTY" name="tmbrcd_hisService.FormData.PKG_QTY" type="text" class="form-control">
</div>
<div>
<label>PKG_OUTQTY</label>
<input placeholder="PKG_OUTQTY" [(ngModel)]="tmbrcd_hisService.FormData.PKG_OUTQTY" name="tmbrcd_hisService.FormData.PKG_OUTQTY" type="text" class="form-control">
</div>
<div>
<label>DSCN_YN</label>
<input placeholder="DSCN_YN" [(ngModel)]="tmbrcd_hisService.FormData.DSCN_YN" name="tmbrcd_hisService.FormData.DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>OUT_DTM</label>
<input placeholder="OUT_DTM" [(ngModel)]="tmbrcd_hisService.FormData.OUT_DTM" name="tmbrcd_hisService.FormData.OUT_DTM" type="text" class="form-control">
</div>
<div>
<label>MTIN_IDX</label>
<input placeholder="MTIN_IDX" [(ngModel)]="tmbrcd_hisService.FormData.MTIN_IDX" name="tmbrcd_hisService.FormData.MTIN_IDX" type="text" class="form-control">
</div>
<div>
<label>BARCD_LOC</label>
<input placeholder="BARCD_LOC" [(ngModel)]="tmbrcd_hisService.FormData.BARCD_LOC" name="tmbrcd_hisService.FormData.BARCD_LOC" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tmbrcd_hisService.FormData.CREATE_DTM" name="tmbrcd_hisService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tmbrcd_hisService.FormData.CREATE_USER" name="tmbrcd_hisService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tmbrcd_hisService.FormData.UPDATE_DTM" name="tmbrcd_hisService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tmbrcd_hisService.FormData.UPDATE_USER" name="tmbrcd_hisService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
<div>
<label>BBCO</label>
<input placeholder="BBCO" [(ngModel)]="tmbrcd_hisService.FormData.BBCO" name="tmbrcd_hisService.FormData.BBCO" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tmbrcd_hisService.IsShowLoading"></app-loading>
