<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torder_bom_spst1</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torder_bom_spst1Save()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TORDER_BOMSPST_IDX</label>
<input placeholder="TORDER_BOMSPST_IDX" [(ngModel)]="torder_bom_spst1Service.FormData.TORDER_BOMSPST_IDX" name="torder_bom_spst1Service.FormData.TORDER_BOMSPST_IDX" type="text" class="form-control">
</div>
<div>
<label>TORDER_BARCODENM</label>
<input placeholder="TORDER_BARCODENM" [(ngModel)]="torder_bom_spst1Service.FormData.TORDER_BARCODENM" name="torder_bom_spst1Service.FormData.TORDER_BARCODENM" type="text" class="form-control">
</div>
<div>
<label>BARCODE_QTY</label>
<input placeholder="BARCODE_QTY" [(ngModel)]="torder_bom_spst1Service.FormData.BARCODE_QTY" name="torder_bom_spst1Service.FormData.BARCODE_QTY" type="text" class="form-control">
</div>
<div>
<label>USE_QTY</label>
<input placeholder="USE_QTY" [(ngModel)]="torder_bom_spst1Service.FormData.USE_QTY" name="torder_bom_spst1Service.FormData.USE_QTY" type="text" class="form-control">
</div>
<div>
<label>DSCN_YN</label>
<input placeholder="DSCN_YN" [(ngModel)]="torder_bom_spst1Service.FormData.DSCN_YN" name="torder_bom_spst1Service.FormData.DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torder_bom_spst1Service.FormData.CREATE_DTM" name="torder_bom_spst1Service.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torder_bom_spst1Service.FormData.CREATE_USER" name="torder_bom_spst1Service.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torder_bom_spst1Service.FormData.UPDATE_DTM" name="torder_bom_spst1Service.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torder_bom_spst1Service.FormData.UPDATE_USER" name="torder_bom_spst1Service.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


