
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    torder_spc:
                    <b>{{torder_spcService.FormData.Name}} [{{torder_spcService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torder_spc" title="torder_spc">torder_spc</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torder_spc" title="torder_spc">torder_spc</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="torder_spcAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="torder_spcSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>SPC_IDX</label>
<input placeholder="SPC_IDX" [(ngModel)]="torder_spcService.FormData.SPC_IDX" name="torder_spcService.FormData.SPC_IDX" type="text" class="form-control">
</div>
<div>
<label>SPC_GRP</label>
<input placeholder="SPC_GRP" [(ngModel)]="torder_spcService.FormData.SPC_GRP" name="torder_spcService.FormData.SPC_GRP" type="text" class="form-control">
</div>
<div>
<label>LEAD_IDX</label>
<input placeholder="LEAD_IDX" [(ngModel)]="torder_spcService.FormData.LEAD_IDX" name="torder_spcService.FormData.LEAD_IDX" type="text" class="form-control">
</div>
<div>
<label>TERM_IDX</label>
<input placeholder="TERM_IDX" [(ngModel)]="torder_spcService.FormData.TERM_IDX" name="torder_spcService.FormData.TERM_IDX" type="text" class="form-control">
</div>
<div>
<label>SPC_DATE</label>
<input placeholder="SPC_DATE" [(ngModel)]="torder_spcService.FormData.SPC_DATE" name="torder_spcService.FormData.SPC_DATE" type="text" class="form-control">
</div>
<div>
<label>SPC_ST</label>
<input placeholder="SPC_ST" [(ngModel)]="torder_spcService.FormData.SPC_ST" name="torder_spcService.FormData.SPC_ST" type="text" class="form-control">
</div>
<div>
<label>SPC_MIN</label>
<input placeholder="SPC_MIN" [(ngModel)]="torder_spcService.FormData.SPC_MIN" name="torder_spcService.FormData.SPC_MIN" type="text" class="form-control">
</div>
<div>
<label>SPC_MAX</label>
<input placeholder="SPC_MAX" [(ngModel)]="torder_spcService.FormData.SPC_MAX" name="torder_spcService.FormData.SPC_MAX" type="text" class="form-control">
</div>
<div>
<label>CCH_XN</label>
<input placeholder="CCH_XN" [(ngModel)]="torder_spcService.FormData.CCH_XN" name="torder_spcService.FormData.CCH_XN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torder_spcService.FormData.CREATE_DTM" name="torder_spcService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torder_spcService.FormData.CREATE_USER" name="torder_spcService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torder_spcService.FormData.UPDATE_DTM" name="torder_spcService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torder_spcService.FormData.UPDATE_USER" name="torder_spcService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="torder_spcService.IsShowLoading"></app-loading>
