<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torder_lead_bom_spst</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torder_lead_bom_spstSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>SPST_IDX</label>
<input placeholder="SPST_IDX" [(ngModel)]="torder_lead_bom_spstService.FormData.SPST_IDX" name="torder_lead_bom_spstService.FormData.SPST_IDX" type="text" class="form-control">
</div>
<div>
<label>M_PART_IDX</label>
<input placeholder="M_PART_IDX" [(ngModel)]="torder_lead_bom_spstService.FormData.M_PART_IDX" name="torder_lead_bom_spstService.FormData.M_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>S_PART_IDX</label>
<input placeholder="S_PART_IDX" [(ngModel)]="torder_lead_bom_spstService.FormData.S_PART_IDX" name="torder_lead_bom_spstService.FormData.S_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>RQR_MENT</label>
<input placeholder="RQR_MENT" [(ngModel)]="torder_lead_bom_spstService.FormData.RQR_MENT" name="torder_lead_bom_spstService.FormData.RQR_MENT" type="text" class="form-control">
</div>
<div>
<label>S_LR</label>
<input placeholder="S_LR" [(ngModel)]="torder_lead_bom_spstService.FormData.S_LR" name="torder_lead_bom_spstService.FormData.S_LR" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torder_lead_bom_spstService.FormData.CREATE_DTM" name="torder_lead_bom_spstService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torder_lead_bom_spstService.FormData.CREATE_USER" name="torder_lead_bom_spstService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torder_lead_bom_spstService.FormData.UPDATE_DTM" name="torder_lead_bom_spstService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torder_lead_bom_spstService.FormData.UPDATE_USER" name="torder_lead_bom_spstService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


