
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    torder_bom_spst2:
                    <b>{{torder_bom_spst2Service.FormData.Name}} [{{torder_bom_spst2Service.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torder_bom_spst2" title="torder_bom_spst2">torder_bom_spst2</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torder_bom_spst2" title="torder_bom_spst2">torder_bom_spst2</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="torder_bom_spst2Add()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="torder_bom_spst2Save()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TORDER_BOMSPST2_IDX</label>
<input placeholder="TORDER_BOMSPST2_IDX" [(ngModel)]="torder_bom_spst2Service.FormData.TORDER_BOMSPST2_IDX" name="torder_bom_spst2Service.FormData.TORDER_BOMSPST2_IDX" type="text" class="form-control">
</div>
<div>
<label>TORDER_BOMSPST_IDX</label>
<input placeholder="TORDER_BOMSPST_IDX" [(ngModel)]="torder_bom_spst2Service.FormData.TORDER_BOMSPST_IDX" name="torder_bom_spst2Service.FormData.TORDER_BOMSPST_IDX" type="text" class="form-control">
</div>
<div>
<label>TORDER_SPSTORDER_IDX</label>
<input placeholder="TORDER_SPSTORDER_IDX" [(ngModel)]="torder_bom_spst2Service.FormData.TORDER_SPSTORDER_IDX" name="torder_bom_spst2Service.FormData.TORDER_SPSTORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torder_bom_spst2Service.FormData.CREATE_DTM" name="torder_bom_spst2Service.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torder_bom_spst2Service.FormData.CREATE_USER" name="torder_bom_spst2Service.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torder_bom_spst2Service.FormData.UPDATE_DTM" name="torder_bom_spst2Service.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torder_bom_spst2Service.FormData.UPDATE_USER" name="torder_bom_spst2Service.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="torder_bom_spst2Service.IsShowLoading"></app-loading>
