<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torderlist_lplist</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torderlist_lplistSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TORDERLIST_LPLIST_IDX</label>
<input placeholder="TORDERLIST_LPLIST_IDX" [(ngModel)]="torderlist_lplistService.FormData.TORDERLIST_LPLIST_IDX" name="torderlist_lplistService.FormData.TORDERLIST_LPLIST_IDX" type="text" class="form-control">
</div>
<div>
<label>LPLIST_LEADNO</label>
<input placeholder="LPLIST_LEADNO" [(ngModel)]="torderlist_lplistService.FormData.LPLIST_LEADNO" name="torderlist_lplistService.FormData.LPLIST_LEADNO" type="text" class="form-control">
</div>
<div>
<label>LPLIST_DYN</label>
<input placeholder="LPLIST_DYN" [(ngModel)]="torderlist_lplistService.FormData.LPLIST_DYN" name="torderlist_lplistService.FormData.LPLIST_DYN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torderlist_lplistService.FormData.CREATE_DTM" name="torderlist_lplistService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torderlist_lplistService.FormData.CREATE_USER" name="torderlist_lplistService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torderlist_lplistService.FormData.UPDATE_DTM" name="torderlist_lplistService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torderlist_lplistService.FormData.UPDATE_USER" name="torderlist_lplistService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


