<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torderlist_work</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torderlist_workSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TORDERLIST_WORK_IDX</label>
<input placeholder="TORDERLIST_WORK_IDX" [(ngModel)]="torderlist_workService.FormData.TORDERLIST_WORK_IDX" name="torderlist_workService.FormData.TORDERLIST_WORK_IDX" type="text" class="form-control">
</div>
<div>
<label>TORDERLIST_WORK_MC</label>
<input placeholder="TORDERLIST_WORK_MC" [(ngModel)]="torderlist_workService.FormData.TORDERLIST_WORK_MC" name="torderlist_workService.FormData.TORDERLIST_WORK_MC" type="text" class="form-control">
</div>
<div>
<label>TORDERLIST_WORK_ORDERIDX</label>
<input placeholder="TORDERLIST_WORK_ORDERIDX" [(ngModel)]="torderlist_workService.FormData.TORDERLIST_WORK_ORDERIDX" name="torderlist_workService.FormData.TORDERLIST_WORK_ORDERIDX" type="text" class="form-control">
</div>
<div>
<label>TORDERLIST_WORK_USER</label>
<input placeholder="TORDERLIST_WORK_USER" [(ngModel)]="torderlist_workService.FormData.TORDERLIST_WORK_USER" name="torderlist_workService.FormData.TORDERLIST_WORK_USER" type="text" class="form-control">
</div>

</div>


