
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    torderinspection_lp:
                    <b>{{torderinspection_lpService.FormData.Name}} [{{torderinspection_lpService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torderinspection_lp" title="torderinspection_lp">torderinspection_lp</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/torderinspection_lp" title="torderinspection_lp">torderinspection_lp</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="torderinspection_lpAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="torderinspection_lpSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>INSPECTION_IDX</label>
<input placeholder="INSPECTION_IDX" [(ngModel)]="torderinspection_lpService.FormData.INSPECTION_IDX" name="torderinspection_lpService.FormData.INSPECTION_IDX" type="text" class="form-control">
</div>
<div>
<label>ORDER_IDX</label>
<input placeholder="ORDER_IDX" [(ngModel)]="torderinspection_lpService.FormData.ORDER_IDX" name="torderinspection_lpService.FormData.ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>COLSIP</label>
<input placeholder="COLSIP" [(ngModel)]="torderinspection_lpService.FormData.COLSIP" name="torderinspection_lpService.FormData.COLSIP" type="text" class="form-control">
</div>
<div>
<label>CCH1</label>
<input placeholder="CCH1" [(ngModel)]="torderinspection_lpService.FormData.CCH1" name="torderinspection_lpService.FormData.CCH1" type="text" class="form-control">
</div>
<div>
<label>CCW1</label>
<input placeholder="CCW1" [(ngModel)]="torderinspection_lpService.FormData.CCW1" name="torderinspection_lpService.FormData.CCW1" type="text" class="form-control">
</div>
<div>
<label>CCH2</label>
<input placeholder="CCH2" [(ngModel)]="torderinspection_lpService.FormData.CCH2" name="torderinspection_lpService.FormData.CCH2" type="text" class="form-control">
</div>
<div>
<label>CCW2</label>
<input placeholder="CCW2" [(ngModel)]="torderinspection_lpService.FormData.CCW2" name="torderinspection_lpService.FormData.CCW2" type="text" class="form-control">
</div>
<div>
<label>ICH1</label>
<input placeholder="ICH1" [(ngModel)]="torderinspection_lpService.FormData.ICH1" name="torderinspection_lpService.FormData.ICH1" type="text" class="form-control">
</div>
<div>
<label>ICW1</label>
<input placeholder="ICW1" [(ngModel)]="torderinspection_lpService.FormData.ICW1" name="torderinspection_lpService.FormData.ICW1" type="text" class="form-control">
</div>
<div>
<label>ICH2</label>
<input placeholder="ICH2" [(ngModel)]="torderinspection_lpService.FormData.ICH2" name="torderinspection_lpService.FormData.ICH2" type="text" class="form-control">
</div>
<div>
<label>ICW2</label>
<input placeholder="ICW2" [(ngModel)]="torderinspection_lpService.FormData.ICW2" name="torderinspection_lpService.FormData.ICW2" type="text" class="form-control">
</div>
<div>
<label>WIRE_FORCE</label>
<input placeholder="WIRE_FORCE" [(ngModel)]="torderinspection_lpService.FormData.WIRE_FORCE" name="torderinspection_lpService.FormData.WIRE_FORCE" type="text" class="form-control">
</div>
<div>
<label>IN_RESILT</label>
<input placeholder="IN_RESILT" [(ngModel)]="torderinspection_lpService.FormData.IN_RESILT" name="torderinspection_lpService.FormData.IN_RESILT" type="text" class="form-control">
</div>
<div>
<label>CHK_LR</label>
<input placeholder="CHK_LR" [(ngModel)]="torderinspection_lpService.FormData.CHK_LR" name="torderinspection_lpService.FormData.CHK_LR" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="torderinspection_lpService.IsShowLoading"></app-loading>
