<div class="col s12 m12 l10">
    <h5 class="card-title"><b>torder_bom_sw</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="torder_bom_swSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TORDER_BOM_IDX</label>
<input placeholder="TORDER_BOM_IDX" [(ngModel)]="torder_bom_swService.FormData.TORDER_BOM_IDX" name="torder_bom_swService.FormData.TORDER_BOM_IDX" type="text" class="form-control">
</div>
<div>
<label>ORDER_IDX</label>
<input placeholder="ORDER_IDX" [(ngModel)]="torder_bom_swService.FormData.ORDER_IDX" name="torder_bom_swService.FormData.ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>LOC_LRJ</label>
<input placeholder="LOC_LRJ" [(ngModel)]="torder_bom_swService.FormData.LOC_LRJ" name="torder_bom_swService.FormData.LOC_LRJ" type="text" class="form-control">
</div>
<div>
<label>PERFORMN</label>
<input placeholder="PERFORMN" [(ngModel)]="torder_bom_swService.FormData.PERFORMN" name="torder_bom_swService.FormData.PERFORMN" type="text" class="form-control">
</div>
<div>
<label>DSCN_YN</label>
<input placeholder="DSCN_YN" [(ngModel)]="torder_bom_swService.FormData.DSCN_YN" name="torder_bom_swService.FormData.DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>T1_TOOL_IDX</label>
<input placeholder="T1_TOOL_IDX" [(ngModel)]="torder_bom_swService.FormData.T1_TOOL_IDX" name="torder_bom_swService.FormData.T1_TOOL_IDX" type="text" class="form-control">
</div>
<div>
<label>ERROR_CHK</label>
<input placeholder="ERROR_CHK" [(ngModel)]="torder_bom_swService.FormData.ERROR_CHK" name="torder_bom_swService.FormData.ERROR_CHK" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="torder_bom_swService.FormData.CREATE_DTM" name="torder_bom_swService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="torder_bom_swService.FormData.CREATE_USER" name="torder_bom_swService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="torder_bom_swService.FormData.UPDATE_DTM" name="torder_bom_swService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="torder_bom_swService.FormData.UPDATE_USER" name="torder_bom_swService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


