<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    trackmtim_lt_insp
                    <span *ngIf="trackmtim_lt_inspService.List">({{trackmtim_lt_inspService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/trackmtim_lt_insp" title="trackmtim_lt_insp">trackmtim_lt_insp</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/trackmtim_lt_insp" title="trackmtim_lt_insp">trackmtim_lt_insp</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="trackmtim_lt_inspService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="trackmtim_lt_inspSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="trackmtim_lt_inspSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #trackmtim_lt_inspSort="matSort"
                       [dataSource]="trackmtim_lt_inspService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="trackmtim_lt_inspPaginator">
                                {{
                                    trackmtim_lt_inspPaginator.pageSize *
                                    trackmtim_lt_inspPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="LT_INSP_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LT_INSP_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="LT_INSP_IDX" name="LT_INSP_IDX{{element.LT_INSP_IDX}}" [(ngModel)]="element.LT_INSP_IDX">
</td>
</ng-container>
<ng-container matColumnDef="TRACKMTIN_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TRACKMTIN_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TRACKMTIN_IDX" name="TRACKMTIN_IDX{{element.LT_INSP_IDX}}" [(ngModel)]="element.TRACKMTIN_IDX">
</td>
</ng-container>
<ng-container matColumnDef="INSP_DATE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>INSP_DATE</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="INSP_DATE" name="INSP_DATE{{element.LT_INSP_IDX}}" [(ngModel)]="element.INSP_DATE">
</td>
</ng-container>
<ng-container matColumnDef="INSP_QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>INSP_QTY</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="INSP_QTY" name="INSP_QTY{{element.LT_INSP_IDX}}" [(ngModel)]="element.INSP_QTY">
</td>
</ng-container>
<ng-container matColumnDef="OK_QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>OK_QTY</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="OK_QTY" name="OK_QTY{{element.LT_INSP_IDX}}" [(ngModel)]="element.OK_QTY">
</td>
</ng-container>
<ng-container matColumnDef="NG_QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NG_QTY</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="NG_QTY" name="NG_QTY{{element.LT_INSP_IDX}}" [(ngModel)]="element.NG_QTY">
</td>
</ng-container>
<ng-container matColumnDef="INSP_RESULT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>INSP_RESULT</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="INSP_RESULT" name="INSP_RESULT{{element.LT_INSP_IDX}}" [(ngModel)]="element.INSP_RESULT">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.LT_INSP_IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.LT_INSP_IDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_DTM" name="UPDATE_DTM{{element.LT_INSP_IDX}}" [(ngModel)]="element.UPDATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="UPDATE_USER" name="UPDATE_USER{{element.LT_INSP_IDX}}" [(ngModel)]="element.UPDATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="trackmtim_lt_inspSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.LT_INSP_IDX>0" (click)="trackmtim_lt_inspDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="trackmtim_lt_inspService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: trackmtim_lt_inspService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #trackmtim_lt_inspPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="trackmtim_lt_inspService.IsShowLoading"></app-loading>
