<div class="col s12 m12 l10">
    <h5 class="card-title"><b>track_bc_tmp</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="track_bc_tmpSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TRACK_BC_IDX</label>
<input placeholder="TRACK_BC_IDX" [(ngModel)]="track_bc_tmpService.FormData.TRACK_BC_IDX" name="track_bc_tmpService.FormData.TRACK_BC_IDX" type="text" class="form-control">
</div>
<div>
<label>TRACK_BC_LEAD</label>
<input placeholder="TRACK_BC_LEAD" [(ngModel)]="track_bc_tmpService.FormData.TRACK_BC_LEAD" name="track_bc_tmpService.FormData.TRACK_BC_LEAD" type="text" class="form-control">
</div>
<div>
<label>TRACK_BC_NAME</label>
<input placeholder="TRACK_BC_NAME" [(ngModel)]="track_bc_tmpService.FormData.TRACK_BC_NAME" name="track_bc_tmpService.FormData.TRACK_BC_NAME" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="track_bc_tmpService.FormData.CREATE_DTM" name="track_bc_tmpService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="track_bc_tmpService.FormData.CREATE_USER" name="track_bc_tmpService.FormData.CREATE_USER" type="text" class="form-control">
</div>

</div>


