<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    trackmtim
                    <span *ngIf="trackmtimService.List">({{trackmtimService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/trackmtim" title="trackmtim">trackmtim</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/trackmtim" title="trackmtim">trackmtim</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="trackmtimService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="trackmtimSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="trackmtimSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #trackmtimSort="matSort"
                       [dataSource]="trackmtimService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="trackmtimPaginator">
                                {{
                                    trackmtimPaginator.pageSize *
                                    trackmtimPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="TRACK_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TRACK_IDX</th>
<td mat-cell *matCellDef="let element">{{element.TRACK_IDX}}</td>
</ng-container>
<ng-container matColumnDef="RACK_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>RACK_IDX</th>
<td mat-cell *matCellDef="let element">{{element.RACK_IDX}}</td>
</ng-container>
<ng-container matColumnDef="RACKCODE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>RACKCODE</th>
<td mat-cell *matCellDef="let element">{{element.RACKCODE}}</td>
</ng-container>
<ng-container matColumnDef="TABLE_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TABLE_IDX</th>
<td mat-cell *matCellDef="let element">{{element.TABLE_IDX}}</td>
</ng-container>
<ng-container matColumnDef="TABLE_NM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TABLE_NM</th>
<td mat-cell *matCellDef="let element">{{element.TABLE_NM}}</td>
</ng-container>
<ng-container matColumnDef="LEAD_NM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LEAD_NM</th>
<td mat-cell *matCellDef="let element">{{element.LEAD_NM}}</td>
</ng-container>
<ng-container matColumnDef="BARCODE_NM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>BARCODE_NM</th>
<td mat-cell *matCellDef="let element">{{element.BARCODE_NM}}</td>
</ng-container>
<ng-container matColumnDef="RACKDTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>RACKDTM</th>
<td mat-cell *matCellDef="let element">{{element.RACKDTM}}</td>
</ng-container>
<ng-container matColumnDef="RACKOUT_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>RACKOUT_DTM</th>
<td mat-cell *matCellDef="let element">{{element.RACKOUT_DTM}}</td>
</ng-container>
<ng-container matColumnDef="QTY">
<th mat-header-cell *matHeaderCellDef mat-sort-header>QTY</th>
<td mat-cell *matCellDef="let element">{{element.QTY}}</td>
</ng-container>
<ng-container matColumnDef="RACKIN_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>RACKIN_YN</th>
<td mat-cell *matCellDef="let element">{{element.RACKIN_YN}}</td>
</ng-container>
<ng-container matColumnDef="RACKOUT_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>RACKOUT_YN</th>
<td mat-cell *matCellDef="let element">{{element.RACKOUT_YN}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_USER}}</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="trackmtimSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.TRACK_IDX>0" (click)="trackmtimDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="trackmtimService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: trackmtimService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #trackmtimPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>              
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="trackmtimService.IsShowLoading"></app-loading>
