<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsbom_part_inf</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsbom_part_infSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>INF_BOM_IDX</label>
<input placeholder="INF_BOM_IDX" [(ngModel)]="tsbom_part_infService.FormData.INF_BOM_IDX" name="tsbom_part_infService.FormData.INF_BOM_IDX" type="text" class="form-control">
</div>
<div>
<label>INF_PART_IDX</label>
<input placeholder="INF_PART_IDX" [(ngModel)]="tsbom_part_infService.FormData.INF_PART_IDX" name="tsbom_part_infService.FormData.INF_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>INF_PART_NONM</label>
<input placeholder="INF_PART_NONM" [(ngModel)]="tsbom_part_infService.FormData.INF_PART_NONM" name="tsbom_part_infService.FormData.INF_PART_NONM" type="text" class="form-control">
</div>
<div>
<label>INF_BOM_UNIT</label>
<input placeholder="INF_BOM_UNIT" [(ngModel)]="tsbom_part_infService.FormData.INF_BOM_UNIT" name="tsbom_part_infService.FormData.INF_BOM_UNIT" type="text" class="form-control">
</div>
<div>
<label>INF_BOM_MAKER</label>
<input placeholder="INF_BOM_MAKER" [(ngModel)]="tsbom_part_infService.FormData.INF_BOM_MAKER" name="tsbom_part_infService.FormData.INF_BOM_MAKER" type="text" class="form-control">
</div>
<div>
<label>INF_BOM_WEIGHT</label>
<input placeholder="INF_BOM_WEIGHT" [(ngModel)]="tsbom_part_infService.FormData.INF_BOM_WEIGHT" name="tsbom_part_infService.FormData.INF_BOM_WEIGHT" type="text" class="form-control">
</div>
<div>
<label>INF_BOM_COLOR</label>
<input placeholder="INF_BOM_COLOR" [(ngModel)]="tsbom_part_infService.FormData.INF_BOM_COLOR" name="tsbom_part_infService.FormData.INF_BOM_COLOR" type="text" class="form-control">
</div>
<div>
<label>INF_BOM_MOQ</label>
<input placeholder="INF_BOM_MOQ" [(ngModel)]="tsbom_part_infService.FormData.INF_BOM_MOQ" name="tsbom_part_infService.FormData.INF_BOM_MOQ" type="text" class="form-control">
</div>
<div>
<label>INF_BOM_RMK</label>
<input placeholder="INF_BOM_RMK" [(ngModel)]="tsbom_part_infService.FormData.INF_BOM_RMK" name="tsbom_part_infService.FormData.INF_BOM_RMK" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsbom_part_infService.FormData.CREATE_DTM" name="tsbom_part_infService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsbom_part_infService.FormData.CREATE_USER" name="tsbom_part_infService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsbom_part_infService.FormData.UPDATE_DTM" name="tsbom_part_infService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsbom_part_infService.FormData.UPDATE_USER" name="tsbom_part_infService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


