<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsbom_ver02</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsbom_ver02Save()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>BOM_IDX</label>
<input placeholder="BOM_IDX" [(ngModel)]="tsbom_ver02Service.FormData.BOM_IDX" name="tsbom_ver02Service.FormData.BOM_IDX" type="text" class="form-control">
</div>
<div>
<label>PAREN_PART_IDX</label>
<input placeholder="PAREN_PART_IDX" [(ngModel)]="tsbom_ver02Service.FormData.PAREN_PART_IDX" name="tsbom_ver02Service.FormData.PAREN_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>PAREN_EO_IDX</label>
<input placeholder="PAREN_EO_IDX" [(ngModel)]="tsbom_ver02Service.FormData.PAREN_EO_IDX" name="tsbom_ver02Service.FormData.PAREN_EO_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="tsbom_ver02Service.FormData.PART_IDX" name="tsbom_ver02Service.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>LV_NO</label>
<input placeholder="LV_NO" [(ngModel)]="tsbom_ver02Service.FormData.LV_NO" name="tsbom_ver02Service.FormData.LV_NO" type="text" class="form-control">
</div>
<div>
<label>BOM_GRUP</label>
<input placeholder="BOM_GRUP" [(ngModel)]="tsbom_ver02Service.FormData.BOM_GRUP" name="tsbom_ver02Service.FormData.BOM_GRUP" type="text" class="form-control">
</div>
<div>
<label>BOM_DES</label>
<input placeholder="BOM_DES" [(ngModel)]="tsbom_ver02Service.FormData.BOM_DES" name="tsbom_ver02Service.FormData.BOM_DES" type="text" class="form-control">
</div>
<div>
<label>BOM_RMK</label>
<input placeholder="BOM_RMK" [(ngModel)]="tsbom_ver02Service.FormData.BOM_RMK" name="tsbom_ver02Service.FormData.BOM_RMK" type="text" class="form-control">
</div>
<div>
<label>DSYN</label>
<input placeholder="DSYN" [(ngModel)]="tsbom_ver02Service.FormData.DSYN" name="tsbom_ver02Service.FormData.DSYN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsbom_ver02Service.FormData.CREATE_DTM" name="tsbom_ver02Service.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsbom_ver02Service.FormData.CREATE_USER" name="tsbom_ver02Service.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsbom_ver02Service.FormData.UPDATE_DTM" name="tsbom_ver02Service.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsbom_ver02Service.FormData.UPDATE_USER" name="tsbom_ver02Service.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


