<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsbom_list</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsbom_listSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>BOM_LIST_IDX</label>
<input placeholder="BOM_LIST_IDX" [(ngModel)]="tsbom_listService.FormData.BOM_LIST_IDX" name="tsbom_listService.FormData.BOM_LIST_IDX" type="text" class="form-control">
</div>
<div>
<label>PAREN_PART_NO</label>
<input placeholder="PAREN_PART_NO" [(ngModel)]="tsbom_listService.FormData.PAREN_PART_NO" name="tsbom_listService.FormData.PAREN_PART_NO" type="text" class="form-control">
</div>
<div>
<label>PART_NO</label>
<input placeholder="PART_NO" [(ngModel)]="tsbom_listService.FormData.PART_NO" name="tsbom_listService.FormData.PART_NO" type="text" class="form-control">
</div>
<div>
<label>PART_NONM</label>
<input placeholder="PART_NONM" [(ngModel)]="tsbom_listService.FormData.PART_NONM" name="tsbom_listService.FormData.PART_NONM" type="text" class="form-control">
</div>
<div>
<label>BOM_DES</label>
<input placeholder="BOM_DES" [(ngModel)]="tsbom_listService.FormData.BOM_DES" name="tsbom_listService.FormData.BOM_DES" type="text" class="form-control">
</div>
<div>
<label>BOM_UNIT</label>
<input placeholder="BOM_UNIT" [(ngModel)]="tsbom_listService.FormData.BOM_UNIT" name="tsbom_listService.FormData.BOM_UNIT" type="text" class="form-control">
</div>
<div>
<label>BOM_GRUP</label>
<input placeholder="BOM_GRUP" [(ngModel)]="tsbom_listService.FormData.BOM_GRUP" name="tsbom_listService.FormData.BOM_GRUP" type="text" class="form-control">
</div>
<div>
<label>BOM_RMK</label>
<input placeholder="BOM_RMK" [(ngModel)]="tsbom_listService.FormData.BOM_RMK" name="tsbom_listService.FormData.BOM_RMK" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsbom_listService.FormData.CREATE_DTM" name="tsbom_listService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsbom_listService.FormData.CREATE_USER" name="tsbom_listService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsbom_listService.FormData.UPDATE_DTM" name="tsbom_listService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsbom_listService.FormData.UPDATE_USER" name="tsbom_listService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


