<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tscdgr</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tscdgrSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>CDGR_IDX</label>
<input placeholder="CDGR_IDX" [(ngModel)]="tscdgrService.FormData.CDGR_IDX" name="tscdgrService.FormData.CDGR_IDX" type="text" class="form-control">
</div>
<div>
<label>CDGR_SYSNOTE</label>
<input placeholder="CDGR_SYSNOTE" [(ngModel)]="tscdgrService.FormData.CDGR_SYSNOTE" name="tscdgrService.FormData.CDGR_SYSNOTE" type="text" class="form-control">
</div>
<div>
<label>CDGR_NM_HAN</label>
<input placeholder="CDGR_NM_HAN" [(ngModel)]="tscdgrService.FormData.CDGR_NM_HAN" name="tscdgrService.FormData.CDGR_NM_HAN" type="text" class="form-control">
</div>
<div>
<label>CDGR_NM_EN</label>
<input placeholder="CDGR_NM_EN" [(ngModel)]="tscdgrService.FormData.CDGR_NM_EN" name="tscdgrService.FormData.CDGR_NM_EN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tscdgrService.FormData.CREATE_DTM" name="tscdgrService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tscdgrService.FormData.CREATE_USER" name="tscdgrService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tscdgrService.FormData.UPDATE_DTM" name="tscdgrService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tscdgrService.FormData.UPDATE_USER" name="tscdgrService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


