<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tscmpny</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tscmpnySave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>CMPNY_IDX</label>
<input placeholder="CMPNY_IDX" [(ngModel)]="tscmpnyService.FormData.CMPNY_IDX" name="tscmpnyService.FormData.CMPNY_IDX" type="text" class="form-control">
</div>
<div>
<label>CMPNY_NM</label>
<input placeholder="CMPNY_NM" [(ngModel)]="tscmpnyService.FormData.CMPNY_NM" name="tscmpnyService.FormData.CMPNY_NM" type="text" class="form-control">
</div>
<div>
<label>CMPNY_DVS</label>
<input placeholder="CMPNY_DVS" [(ngModel)]="tscmpnyService.FormData.CMPNY_DVS" name="tscmpnyService.FormData.CMPNY_DVS" type="text" class="form-control">
</div>
<div>
<label>CMPNY_ADDR</label>
<input placeholder="CMPNY_ADDR" [(ngModel)]="tscmpnyService.FormData.CMPNY_ADDR" name="tscmpnyService.FormData.CMPNY_ADDR" type="text" class="form-control">
</div>
<div>
<label>CMPNY_TEL</label>
<input placeholder="CMPNY_TEL" [(ngModel)]="tscmpnyService.FormData.CMPNY_TEL" name="tscmpnyService.FormData.CMPNY_TEL" type="text" class="form-control">
</div>
<div>
<label>CMPNY_FAX</label>
<input placeholder="CMPNY_FAX" [(ngModel)]="tscmpnyService.FormData.CMPNY_FAX" name="tscmpnyService.FormData.CMPNY_FAX" type="text" class="form-control">
</div>
<div>
<label>CMPNY_mngr</label>
<input placeholder="CMPNY_mngr" [(ngModel)]="tscmpnyService.FormData.CMPNY_mngr" name="tscmpnyService.FormData.CMPNY_mngr" type="text" class="form-control">
</div>
<div>
<label>CMPNY_rmk</label>
<input placeholder="CMPNY_rmk" [(ngModel)]="tscmpnyService.FormData.CMPNY_rmk" name="tscmpnyService.FormData.CMPNY_rmk" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tscmpnyService.FormData.CREATE_DTM" name="tscmpnyService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tscmpnyService.FormData.CREATE_USER" name="tscmpnyService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tscmpnyService.FormData.UPDATE_DTM" name="tscmpnyService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tscmpnyService.FormData.UPDATE_USER" name="tscmpnyService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


