
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tscost_list:
                    <b>{{tscost_listService.FormData.Name}} [{{tscost_listService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tscost_list" title="tscost_list">tscost_list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tscost_list" title="tscost_list">tscost_list</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tscost_listAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tscost_listSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TSCOST_IDX</label>
<input placeholder="TSCOST_IDX" [(ngModel)]="tscost_listService.FormData.TSCOST_IDX" name="tscost_listService.FormData.TSCOST_IDX" type="text" class="form-control">
</div>
<div>
<label>TSPSRT_IDX</label>
<input placeholder="TSPSRT_IDX" [(ngModel)]="tscost_listService.FormData.TSPSRT_IDX" name="tscost_listService.FormData.TSPSRT_IDX" type="text" class="form-control">
</div>
<div>
<label>TSCOST_DT</label>
<input placeholder="TSCOST_DT" [(ngModel)]="tscost_listService.FormData.TSCOST_DT" name="tscost_listService.FormData.TSCOST_DT" type="text" class="form-control">
</div>
<div>
<label>TSCOST_VAL</label>
<input placeholder="TSCOST_VAL" [(ngModel)]="tscost_listService.FormData.TSCOST_VAL" name="tscost_listService.FormData.TSCOST_VAL" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tscost_listService.FormData.CREATE_DTM" name="tscost_listService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tscost_listService.FormData.CREATE_USER" name="tscost_listService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tscost_listService.FormData.UPDATE_DTM" name="tscost_listService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tscost_listService.FormData.UPDATE_USER" name="tscost_listService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tscost_listService.IsShowLoading"></app-loading>
