<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsmenu</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsmenuSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>MENU_IDX</label>
<input placeholder="MENU_IDX" [(ngModel)]="tsmenuService.FormData.MENU_IDX" name="tsmenuService.FormData.MENU_IDX" type="text" class="form-control">
</div>
<div>
<label>MENU_CD</label>
<input placeholder="MENU_CD" [(ngModel)]="tsmenuService.FormData.MENU_CD" name="tsmenuService.FormData.MENU_CD" type="text" class="form-control">
</div>
<div>
<label>MENU_LVL</label>
<input placeholder="MENU_LVL" [(ngModel)]="tsmenuService.FormData.MENU_LVL" name="tsmenuService.FormData.MENU_LVL" type="text" class="form-control">
</div>
<div>
<label>MENU_NM_EN</label>
<input placeholder="MENU_NM_EN" [(ngModel)]="tsmenuService.FormData.MENU_NM_EN" name="tsmenuService.FormData.MENU_NM_EN" type="text" class="form-control">
</div>
<div>
<label>MENU_NM_HAN</label>
<input placeholder="MENU_NM_HAN" [(ngModel)]="tsmenuService.FormData.MENU_NM_HAN" name="tsmenuService.FormData.MENU_NM_HAN" type="text" class="form-control">
</div>
<div>
<label>MENU_NM_VIE</label>
<input placeholder="MENU_NM_VIE" [(ngModel)]="tsmenuService.FormData.MENU_NM_VIE" name="tsmenuService.FormData.MENU_NM_VIE" type="text" class="form-control">
</div>
<div>
<label>SCRN_PATH</label>
<input placeholder="SCRN_PATH" [(ngModel)]="tsmenuService.FormData.SCRN_PATH" name="tsmenuService.FormData.SCRN_PATH" type="text" class="form-control">
</div>
<div>
<label>DECYN</label>
<input placeholder="DECYN" [(ngModel)]="tsmenuService.FormData.DECYN" name="tsmenuService.FormData.DECYN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsmenuService.FormData.CREATE_DTM" name="tsmenuService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsmenuService.FormData.CREATE_USER" name="tsmenuService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsmenuService.FormData.UPDATE_DTM" name="tsmenuService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsmenuService.FormData.UPDATE_USER" name="tsmenuService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


