<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsmnau
                    <span *ngIf="tsmnauService.List">({{tsmnauService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsmnau" title="tsmnau">tsmnau</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsmnau" title="tsmnau">tsmnau</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tsmnauService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tsmnauSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tsmnauSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tsmnauSort="matSort"
                       [dataSource]="tsmnauService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tsmnauPaginator">
                                {{
                                    tsmnauPaginator.pageSize *
                                    tsmnauPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="MENU_AUTH_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MENU_AUTH_IDX</th>
<td mat-cell *matCellDef="let element">{{element.MENU_AUTH_IDX}}</td>
</ng-container>
<ng-container matColumnDef="MENU_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MENU_IDX</th>
<td mat-cell *matCellDef="let element">{{element.MENU_IDX}}</td>
</ng-container>
<ng-container matColumnDef="AUTH_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>AUTH_IDX</th>
<td mat-cell *matCellDef="let element">{{element.AUTH_IDX}}</td>
</ng-container>
<ng-container matColumnDef="MENU_AUTH_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MENU_AUTH_YN</th>
<td mat-cell *matCellDef="let element">{{element.MENU_AUTH_YN}}</td>
</ng-container>
<ng-container matColumnDef="IQ_AUTH_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>IQ_AUTH_YN</th>
<td mat-cell *matCellDef="let element">{{element.IQ_AUTH_YN}}</td>
</ng-container>
<ng-container matColumnDef="RGST_AUTH_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>RGST_AUTH_YN</th>
<td mat-cell *matCellDef="let element">{{element.RGST_AUTH_YN}}</td>
</ng-container>
<ng-container matColumnDef="MDFY_AUTH_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>MDFY_AUTH_YN</th>
<td mat-cell *matCellDef="let element">{{element.MDFY_AUTH_YN}}</td>
</ng-container>
<ng-container matColumnDef="DEL_AUTH_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DEL_AUTH_YN</th>
<td mat-cell *matCellDef="let element">{{element.DEL_AUTH_YN}}</td>
</ng-container>
<ng-container matColumnDef="CAN_AUTH_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CAN_AUTH_YN</th>
<td mat-cell *matCellDef="let element">{{element.CAN_AUTH_YN}}</td>
</ng-container>
<ng-container matColumnDef="EXCL_AUTH_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>EXCL_AUTH_YN</th>
<td mat-cell *matCellDef="let element">{{element.EXCL_AUTH_YN}}</td>
</ng-container>
<ng-container matColumnDef="DNLD_AUTH_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DNLD_AUTH_YN</th>
<td mat-cell *matCellDef="let element">{{element.DNLD_AUTH_YN}}</td>
</ng-container>
<ng-container matColumnDef="PRNT_AUTH_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>PRNT_AUTH_YN</th>
<td mat-cell *matCellDef="let element">{{element.PRNT_AUTH_YN}}</td>
</ng-container>
<ng-container matColumnDef="ETC1_AUTH_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ETC1_AUTH_YN</th>
<td mat-cell *matCellDef="let element">{{element.ETC1_AUTH_YN}}</td>
</ng-container>
<ng-container matColumnDef="ETC2_AUTH_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ETC2_AUTH_YN</th>
<td mat-cell *matCellDef="let element">{{element.ETC2_AUTH_YN}}</td>
</ng-container>
<ng-container matColumnDef="ETC3_AUTH_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>ETC3_AUTH_YN</th>
<td mat-cell *matCellDef="let element">{{element.ETC3_AUTH_YN}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_USER}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_USER}}</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tsmnauSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.MENU_AUTH_IDX>0" (click)="tsmnauDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tsmnauService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tsmnauService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tsmnauPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>              
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsmnauService.IsShowLoading"></app-loading>
