<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsmonitor_set</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsmonitor_setSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TSMONITOR_SET_IDX</label>
<input placeholder="TSMONITOR_SET_IDX" [(ngModel)]="tsmonitor_setService.FormData.TSMONITOR_SET_IDX" name="tsmonitor_setService.FormData.TSMONITOR_SET_IDX" type="text" class="form-control">
</div>
<div>
<label>TSMONITOR_SET_NO</label>
<input placeholder="TSMONITOR_SET_NO" [(ngModel)]="tsmonitor_setService.FormData.TSMONITOR_SET_NO" name="tsmonitor_setService.FormData.TSMONITOR_SET_NO" type="text" class="form-control">
</div>
<div>
<label>TSMONITOR_SET_CODE</label>
<input placeholder="TSMONITOR_SET_CODE" [(ngModel)]="tsmonitor_setService.FormData.TSMONITOR_SET_CODE" name="tsmonitor_setService.FormData.TSMONITOR_SET_CODE" type="text" class="form-control">
</div>
<div>
<label>VB_NAME</label>
<input placeholder="VB_NAME" [(ngModel)]="tsmonitor_setService.FormData.VB_NAME" name="tsmonitor_setService.FormData.VB_NAME" type="text" class="form-control">
</div>
<div>
<label>VB_NAME_KR</label>
<input placeholder="VB_NAME_KR" [(ngModel)]="tsmonitor_setService.FormData.VB_NAME_KR" name="tsmonitor_setService.FormData.VB_NAME_KR" type="text" class="form-control">
</div>
<div>
<label>VB_NAME_ENG</label>
<input placeholder="VB_NAME_ENG" [(ngModel)]="tsmonitor_setService.FormData.VB_NAME_ENG" name="tsmonitor_setService.FormData.VB_NAME_ENG" type="text" class="form-control">
</div>
<div>
<label>VB_NAME_VN</label>
<input placeholder="VB_NAME_VN" [(ngModel)]="tsmonitor_setService.FormData.VB_NAME_VN" name="tsmonitor_setService.FormData.VB_NAME_VN" type="text" class="form-control">
</div>
<div>
<label>VB_CHK_YN</label>
<input placeholder="VB_CHK_YN" [(ngModel)]="tsmonitor_setService.FormData.VB_CHK_YN" name="tsmonitor_setService.FormData.VB_CHK_YN" type="text" class="form-control">
</div>
<div>
<label>VB_CY_COUNT</label>
<input placeholder="VB_CY_COUNT" [(ngModel)]="tsmonitor_setService.FormData.VB_CY_COUNT" name="tsmonitor_setService.FormData.VB_CY_COUNT" type="text" class="form-control">
</div>
<div>
<label>VB_TIME</label>
<input placeholder="VB_TIME" [(ngModel)]="tsmonitor_setService.FormData.VB_TIME" name="tsmonitor_setService.FormData.VB_TIME" type="text" class="form-control">
</div>

</div>


