<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsmonitor_set
                    <span *ngIf="tsmonitor_setService.List">({{tsmonitor_setService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsmonitor_set" title="tsmonitor_set">tsmonitor_set</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsmonitor_set" title="tsmonitor_set">tsmonitor_set</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tsmonitor_setService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tsmonitor_setSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tsmonitor_setSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tsmonitor_setSort="matSort"
                       [dataSource]="tsmonitor_setService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tsmonitor_setPaginator">
                                {{
                                    tsmonitor_setPaginator.pageSize *
                                    tsmonitor_setPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="TSMONITOR_SET_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TSMONITOR_SET_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TSMONITOR_SET_IDX" name="TSMONITOR_SET_IDX{{element.TSMONITOR_SET_IDX}}" [(ngModel)]="element.TSMONITOR_SET_IDX">
</td>
</ng-container>
<ng-container matColumnDef="TSMONITOR_SET_NO">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TSMONITOR_SET_NO</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TSMONITOR_SET_NO" name="TSMONITOR_SET_NO{{element.TSMONITOR_SET_IDX}}" [(ngModel)]="element.TSMONITOR_SET_NO">
</td>
</ng-container>
<ng-container matColumnDef="TSMONITOR_SET_CODE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TSMONITOR_SET_CODE</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TSMONITOR_SET_CODE" name="TSMONITOR_SET_CODE{{element.TSMONITOR_SET_IDX}}" [(ngModel)]="element.TSMONITOR_SET_CODE">
</td>
</ng-container>
<ng-container matColumnDef="VB_NAME">
<th mat-header-cell *matHeaderCellDef mat-sort-header>VB_NAME</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="VB_NAME" name="VB_NAME{{element.TSMONITOR_SET_IDX}}" [(ngModel)]="element.VB_NAME">
</td>
</ng-container>
<ng-container matColumnDef="VB_NAME_KR">
<th mat-header-cell *matHeaderCellDef mat-sort-header>VB_NAME_KR</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="VB_NAME_KR" name="VB_NAME_KR{{element.TSMONITOR_SET_IDX}}" [(ngModel)]="element.VB_NAME_KR">
</td>
</ng-container>
<ng-container matColumnDef="VB_NAME_ENG">
<th mat-header-cell *matHeaderCellDef mat-sort-header>VB_NAME_ENG</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="VB_NAME_ENG" name="VB_NAME_ENG{{element.TSMONITOR_SET_IDX}}" [(ngModel)]="element.VB_NAME_ENG">
</td>
</ng-container>
<ng-container matColumnDef="VB_NAME_VN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>VB_NAME_VN</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="VB_NAME_VN" name="VB_NAME_VN{{element.TSMONITOR_SET_IDX}}" [(ngModel)]="element.VB_NAME_VN">
</td>
</ng-container>
<ng-container matColumnDef="VB_CHK_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>VB_CHK_YN</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="VB_CHK_YN" name="VB_CHK_YN{{element.TSMONITOR_SET_IDX}}" [(ngModel)]="element.VB_CHK_YN">
</td>
</ng-container>
<ng-container matColumnDef="VB_CY_COUNT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>VB_CY_COUNT</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="VB_CY_COUNT" name="VB_CY_COUNT{{element.TSMONITOR_SET_IDX}}" [(ngModel)]="element.VB_CY_COUNT">
</td>
</ng-container>
<ng-container matColumnDef="VB_TIME">
<th mat-header-cell *matHeaderCellDef mat-sort-header>VB_TIME</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="VB_TIME" name="VB_TIME{{element.TSMONITOR_SET_IDX}}" [(ngModel)]="element.VB_TIME">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tsmonitor_setSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.TSMONITOR_SET_IDX>0" (click)="tsmonitor_setDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tsmonitor_setService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tsmonitor_setService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tsmonitor_setPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsmonitor_setService.IsShowLoading"></app-loading>
