
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsmonitor_set:
                    <b>{{tsmonitor_setService.FormData.Name}} [{{tsmonitor_setService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsmonitor_set" title="tsmonitor_set">tsmonitor_set</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsmonitor_set" title="tsmonitor_set">tsmonitor_set</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tsmonitor_setAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tsmonitor_setSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TSMONITOR_SET_IDX</label>
<input placeholder="TSMONITOR_SET_IDX" [(ngModel)]="tsmonitor_setService.FormData.TSMONITOR_SET_IDX" name="tsmonitor_setService.FormData.TSMONITOR_SET_IDX" type="text" class="form-control">
</div>
<div>
<label>TSMONITOR_SET_NO</label>
<input placeholder="TSMONITOR_SET_NO" [(ngModel)]="tsmonitor_setService.FormData.TSMONITOR_SET_NO" name="tsmonitor_setService.FormData.TSMONITOR_SET_NO" type="text" class="form-control">
</div>
<div>
<label>TSMONITOR_SET_CODE</label>
<input placeholder="TSMONITOR_SET_CODE" [(ngModel)]="tsmonitor_setService.FormData.TSMONITOR_SET_CODE" name="tsmonitor_setService.FormData.TSMONITOR_SET_CODE" type="text" class="form-control">
</div>
<div>
<label>VB_NAME</label>
<input placeholder="VB_NAME" [(ngModel)]="tsmonitor_setService.FormData.VB_NAME" name="tsmonitor_setService.FormData.VB_NAME" type="text" class="form-control">
</div>
<div>
<label>VB_NAME_KR</label>
<input placeholder="VB_NAME_KR" [(ngModel)]="tsmonitor_setService.FormData.VB_NAME_KR" name="tsmonitor_setService.FormData.VB_NAME_KR" type="text" class="form-control">
</div>
<div>
<label>VB_NAME_ENG</label>
<input placeholder="VB_NAME_ENG" [(ngModel)]="tsmonitor_setService.FormData.VB_NAME_ENG" name="tsmonitor_setService.FormData.VB_NAME_ENG" type="text" class="form-control">
</div>
<div>
<label>VB_NAME_VN</label>
<input placeholder="VB_NAME_VN" [(ngModel)]="tsmonitor_setService.FormData.VB_NAME_VN" name="tsmonitor_setService.FormData.VB_NAME_VN" type="text" class="form-control">
</div>
<div>
<label>VB_CHK_YN</label>
<input placeholder="VB_CHK_YN" [(ngModel)]="tsmonitor_setService.FormData.VB_CHK_YN" name="tsmonitor_setService.FormData.VB_CHK_YN" type="text" class="form-control">
</div>
<div>
<label>VB_CY_COUNT</label>
<input placeholder="VB_CY_COUNT" [(ngModel)]="tsmonitor_setService.FormData.VB_CY_COUNT" name="tsmonitor_setService.FormData.VB_CY_COUNT" type="text" class="form-control">
</div>
<div>
<label>VB_TIME</label>
<input placeholder="VB_TIME" [(ngModel)]="tsmonitor_setService.FormData.VB_TIME" name="tsmonitor_setService.FormData.VB_TIME" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsmonitor_setService.IsShowLoading"></app-loading>
