<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsnon_oper</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsnon_operSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TSNON_OPER_IDX</label>
<input placeholder="TSNON_OPER_IDX" [(ngModel)]="tsnon_operService.FormData.TSNON_OPER_IDX" name="tsnon_operService.FormData.TSNON_OPER_IDX" type="text" class="form-control">
</div>
<div>
<label>TSNON_OPER_CODE</label>
<input placeholder="TSNON_OPER_CODE" [(ngModel)]="tsnon_operService.FormData.TSNON_OPER_CODE" name="tsnon_operService.FormData.TSNON_OPER_CODE" type="text" class="form-control">
</div>
<div>
<label>TSNON_OPER_MCNM</label>
<input placeholder="TSNON_OPER_MCNM" [(ngModel)]="tsnon_operService.FormData.TSNON_OPER_MCNM" name="tsnon_operService.FormData.TSNON_OPER_MCNM" type="text" class="form-control">
</div>
<div>
<label>TSNON_OPER_USERNM</label>
<input placeholder="TSNON_OPER_USERNM" [(ngModel)]="tsnon_operService.FormData.TSNON_OPER_USERNM" name="tsnon_operService.FormData.TSNON_OPER_USERNM" type="text" class="form-control">
</div>
<div>
<label>TSNON_OPER_DATE</label>
<input placeholder="TSNON_OPER_DATE" [(ngModel)]="tsnon_operService.FormData.TSNON_OPER_DATE" name="tsnon_operService.FormData.TSNON_OPER_DATE" type="text" class="form-control">
</div>
<div>
<label>TSNON_OPER_STIME</label>
<input placeholder="TSNON_OPER_STIME" [(ngModel)]="tsnon_operService.FormData.TSNON_OPER_STIME" name="tsnon_operService.FormData.TSNON_OPER_STIME" type="text" class="form-control">
</div>
<div>
<label>TSNON_OPER_ETIME</label>
<input placeholder="TSNON_OPER_ETIME" [(ngModel)]="tsnon_operService.FormData.TSNON_OPER_ETIME" name="tsnon_operService.FormData.TSNON_OPER_ETIME" type="text" class="form-control">
</div>
<div>
<label>TSNON_OPER_TIME</label>
<input placeholder="TSNON_OPER_TIME" [(ngModel)]="tsnon_operService.FormData.TSNON_OPER_TIME" name="tsnon_operService.FormData.TSNON_OPER_TIME" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsnon_operService.FormData.CREATE_DTM" name="tsnon_operService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsnon_operService.FormData.CREATE_USER" name="tsnon_operService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsnon_operService.FormData.UPDATE_DTM" name="tsnon_operService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsnon_operService.FormData.UPDATE_USER" name="tsnon_operService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


