
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsnotice:
                    <b>{{tsnoticeService.FormData.Name}} [{{tsnoticeService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsnotice" title="tsnotice">tsnotice</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsnotice" title="tsnotice">tsnotice</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tsnoticeAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tsnoticeSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>Notice_IDX</label>
<input placeholder="Notice_IDX" [(ngModel)]="tsnoticeService.FormData.Notice_IDX" name="tsnoticeService.FormData.Notice_IDX" type="text" class="form-control">
</div>
<div>
<label>Title</label>
<input placeholder="Title" [(ngModel)]="tsnoticeService.FormData.Title" name="tsnoticeService.FormData.Title" type="text" class="form-control">
</div>
<div>
<label>Contents</label>
<input placeholder="Contents" [(ngModel)]="tsnoticeService.FormData.Contents" name="tsnoticeService.FormData.Contents" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsnoticeService.FormData.CREATE_DTM" name="tsnoticeService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsnoticeService.FormData.CREATE_USER" name="tsnoticeService.FormData.CREATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsnoticeService.IsShowLoading"></app-loading>
