
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsnon_worktime:
                    <b>{{tsnon_worktimeService.FormData.Name}} [{{tsnon_worktimeService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsnon_worktime" title="tsnon_worktime">tsnon_worktime</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsnon_worktime" title="tsnon_worktime">tsnon_worktime</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tsnon_worktimeAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tsnon_worktimeSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TSNON_WT_IDX</label>
<input placeholder="TSNON_WT_IDX" [(ngModel)]="tsnon_worktimeService.FormData.TSNON_WT_IDX" name="tsnon_worktimeService.FormData.TSNON_WT_IDX" type="text" class="form-control">
</div>
<div>
<label>TSNON_MCIDX</label>
<input placeholder="TSNON_MCIDX" [(ngModel)]="tsnon_worktimeService.FormData.TSNON_MCIDX" name="tsnon_worktimeService.FormData.TSNON_MCIDX" type="text" class="form-control">
</div>
<div>
<label>TSNON_SHIF</label>
<input placeholder="TSNON_SHIF" [(ngModel)]="tsnon_worktimeService.FormData.TSNON_SHIF" name="tsnon_worktimeService.FormData.TSNON_SHIF" type="text" class="form-control">
</div>
<div>
<label>TSNON_DATE</label>
<input placeholder="TSNON_DATE" [(ngModel)]="tsnon_worktimeService.FormData.TSNON_DATE" name="tsnon_worktimeService.FormData.TSNON_DATE" type="text" class="form-control">
</div>
<div>
<label>TSNON_ST</label>
<input placeholder="TSNON_ST" [(ngModel)]="tsnon_worktimeService.FormData.TSNON_ST" name="tsnon_worktimeService.FormData.TSNON_ST" type="text" class="form-control">
</div>
<div>
<label>TSNON_ET</label>
<input placeholder="TSNON_ET" [(ngModel)]="tsnon_worktimeService.FormData.TSNON_ET" name="tsnon_worktimeService.FormData.TSNON_ET" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsnon_worktimeService.FormData.CREATE_DTM" name="tsnon_worktimeService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsnon_worktimeService.FormData.CREATE_USER" name="tsnon_worktimeService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsnon_worktimeService.FormData.UPDATE_DTM" name="tsnon_worktimeService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsnon_worktimeService.FormData.UPDATE_USER" name="tsnon_worktimeService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsnon_worktimeService.IsShowLoading"></app-loading>
