
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tspart_addtnl:
                    <b>{{tspart_addtnlService.FormData.Name}} [{{tspart_addtnlService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tspart_addtnl" title="tspart_addtnl">tspart_addtnl</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tspart_addtnl" title="tspart_addtnl">tspart_addtnl</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tspart_addtnlAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tspart_addtnlSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>PART_ADDTNL_IDX</label>
<input placeholder="PART_ADDTNL_IDX" [(ngModel)]="tspart_addtnlService.FormData.PART_ADDTNL_IDX" name="tspart_addtnlService.FormData.PART_ADDTNL_IDX" type="text" class="form-control">
</div>
<div>
<label>PARTNO_IDX</label>
<input placeholder="PARTNO_IDX" [(ngModel)]="tspart_addtnlService.FormData.PARTNO_IDX" name="tspart_addtnlService.FormData.PARTNO_IDX" type="text" class="form-control">
</div>
<div>
<label>OP_W</label>
<input placeholder="OP_W" [(ngModel)]="tspart_addtnlService.FormData.OP_W" name="tspart_addtnlService.FormData.OP_W" type="text" class="form-control">
</div>
<div>
<label>OP_L</label>
<input placeholder="OP_L" [(ngModel)]="tspart_addtnlService.FormData.OP_L" name="tspart_addtnlService.FormData.OP_L" type="text" class="form-control">
</div>
<div>
<label>OP_H</label>
<input placeholder="OP_H" [(ngModel)]="tspart_addtnlService.FormData.OP_H" name="tspart_addtnlService.FormData.OP_H" type="text" class="form-control">
</div>
<div>
<label>OP_MRP</label>
<input placeholder="OP_MRP" [(ngModel)]="tspart_addtnlService.FormData.OP_MRP" name="tspart_addtnlService.FormData.OP_MRP" type="text" class="form-control">
</div>
<div>
<label>OP_TMP1</label>
<input placeholder="OP_TMP1" [(ngModel)]="tspart_addtnlService.FormData.OP_TMP1" name="tspart_addtnlService.FormData.OP_TMP1" type="text" class="form-control">
</div>
<div>
<label>OP_TMP2</label>
<input placeholder="OP_TMP2" [(ngModel)]="tspart_addtnlService.FormData.OP_TMP2" name="tspart_addtnlService.FormData.OP_TMP2" type="text" class="form-control">
</div>
<div>
<label>OP_TMP3</label>
<input placeholder="OP_TMP3" [(ngModel)]="tspart_addtnlService.FormData.OP_TMP3" name="tspart_addtnlService.FormData.OP_TMP3" type="text" class="form-control">
</div>
<div>
<label>Weight</label>
<input placeholder="Weight" [(ngModel)]="tspart_addtnlService.FormData.Weight" name="tspart_addtnlService.FormData.Weight" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tspart_addtnlService.FormData.CREATE_DTM" name="tspart_addtnlService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tspart_addtnlService.FormData.CREATE_USER" name="tspart_addtnlService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tspart_addtnlService.FormData.UPDATE_DTM" name="tspart_addtnlService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tspart_addtnlService.FormData.UPDATE_USER" name="tspart_addtnlService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tspart_addtnlService.IsShowLoading"></app-loading>
