<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tspart_ecn</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tspart_ecnSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>PARTECN_IDX</label>
<input placeholder="PARTECN_IDX" [(ngModel)]="tspart_ecnService.FormData.PARTECN_IDX" name="tspart_ecnService.FormData.PARTECN_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="tspart_ecnService.FormData.PART_IDX" name="tspart_ecnService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_ENCNO</label>
<input placeholder="PART_ENCNO" [(ngModel)]="tspart_ecnService.FormData.PART_ENCNO" name="tspart_ecnService.FormData.PART_ENCNO" type="text" class="form-control">
</div>
<div>
<label>PART_ECN_DATE</label>
<input placeholder="PART_ECN_DATE" [(ngModel)]="tspart_ecnService.FormData.PART_ECN_DATE" name="tspart_ecnService.FormData.PART_ECN_DATE" type="text" class="form-control">
</div>
<div>
<label>DWG_NO</label>
<input placeholder="DWG_NO" [(ngModel)]="tspart_ecnService.FormData.DWG_NO" name="tspart_ecnService.FormData.DWG_NO" type="text" class="form-control">
</div>
<div>
<label>DWG_FILE_GRP</label>
<input placeholder="DWG_FILE_GRP" [(ngModel)]="tspart_ecnService.FormData.DWG_FILE_GRP" name="tspart_ecnService.FormData.DWG_FILE_GRP" type="text" class="form-control">
</div>
<div>
<label>DWG_FILE_EXPOR</label>
<input placeholder="DWG_FILE_EXPOR" [(ngModel)]="tspart_ecnService.FormData.DWG_FILE_EXPOR" name="tspart_ecnService.FormData.DWG_FILE_EXPOR" type="text" class="form-control">
</div>
<div>
<label>PART_ECN_USENY</label>
<input placeholder="PART_ECN_USENY" [(ngModel)]="tspart_ecnService.FormData.PART_ECN_USENY" name="tspart_ecnService.FormData.PART_ECN_USENY" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tspart_ecnService.FormData.CREATE_DTM" name="tspart_ecnService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tspart_ecnService.FormData.CREATE_USER" name="tspart_ecnService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tspart_ecnService.FormData.UPDATE_DTM" name="tspart_ecnService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tspart_ecnService.FormData.UPDATE_USER" name="tspart_ecnService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


