<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tsurau</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tsurauSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>USER_AUTH_IDX</label>
<input placeholder="USER_AUTH_IDX" [(ngModel)]="tsurauService.FormData.USER_AUTH_IDX" name="tsurauService.FormData.USER_AUTH_IDX" type="text" class="form-control">
</div>
<div>
<label>USER_IDX</label>
<input placeholder="USER_IDX" [(ngModel)]="tsurauService.FormData.USER_IDX" name="tsurauService.FormData.USER_IDX" type="text" class="form-control">
</div>
<div>
<label>AUTH_IDX</label>
<input placeholder="AUTH_IDX" [(ngModel)]="tsurauService.FormData.AUTH_IDX" name="tsurauService.FormData.AUTH_IDX" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tsurauService.FormData.CREATE_DTM" name="tsurauService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tsurauService.FormData.CREATE_USER" name="tsurauService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tsurauService.FormData.UPDATE_DTM" name="tsurauService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tsurauService.FormData.UPDATE_USER" name="tsurauService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


