<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsuser_super
                    <span *ngIf="tsuser_superService.List">({{tsuser_superService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsuser_super" title="tsuser_super">tsuser_super</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsuser_super" title="tsuser_super">tsuser_super</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tsuser_superService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tsuser_superSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tsuser_superSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tsuser_superSort="matSort"
                       [dataSource]="tsuser_superService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tsuser_superPaginator">
                                {{
                                    tsuser_superPaginator.pageSize *
                                    tsuser_superPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="USER_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>USER_IDX</th>
<td mat-cell *matCellDef="let element">{{element.USER_IDX}}</td>
</ng-container>
<ng-container matColumnDef="USER_ID_NAME">
<th mat-header-cell *matHeaderCellDef mat-sort-header>USER_ID_NAME</th>
<td mat-cell *matCellDef="let element">{{element.USER_ID_NAME}}</td>
</ng-container>
<ng-container matColumnDef="NAS_TEST_SER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>NAS_TEST_SER</th>
<td mat-cell *matCellDef="let element">{{element.NAS_TEST_SER}}</td>
</ng-container>
<ng-container matColumnDef="LOC_TEST_SER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>LOC_TEST_SER</th>
<td mat-cell *matCellDef="let element">{{element.LOC_TEST_SER}}</td>
</ng-container>
<ng-container matColumnDef="DESC_YN">
<th mat-header-cell *matHeaderCellDef mat-sort-header>DESC_YN</th>
<td mat-cell *matCellDef="let element">{{element.DESC_YN}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_USER}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_USER}}</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tsuser_superSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.USER_IDX>0" (click)="tsuser_superDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tsuser_superService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tsuser_superService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tsuser_superPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>              
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsuser_superService.IsShowLoading"></app-loading>
