<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tsuser_requ
                    <span *ngIf="tsuser_requService.List">({{tsuser_requService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsuser_requ" title="tsuser_requ">tsuser_requ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tsuser_requ" title="tsuser_requ">tsuser_requ</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tsuser_requService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tsuser_requSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tsuser_requSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tsuser_requSort="matSort"
                       [dataSource]="tsuser_requService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tsuser_requPaginator">
                                {{
                                    tsuser_requPaginator.pageSize *
                                    tsuser_requPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="REQU_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>REQU_IDX</th>
<td mat-cell *matCellDef="let element">{{element.REQU_IDX}}</td>
</ng-container>
<ng-container matColumnDef="REQU_ID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>REQU_ID</th>
<td mat-cell *matCellDef="let element">{{element.REQU_ID}}</td>
</ng-container>
<ng-container matColumnDef="REQU_DATE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>REQU_DATE</th>
<td mat-cell *matCellDef="let element">{{element.REQU_DATE}}</td>
</ng-container>
<ng-container matColumnDef="REQU_NOTE">
<th mat-header-cell *matHeaderCellDef mat-sort-header>REQU_NOTE</th>
<td mat-cell *matCellDef="let element">{{element.REQU_NOTE}}</td>
</ng-container>
<ng-container matColumnDef="REQU_NID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>REQU_NID</th>
<td mat-cell *matCellDef="let element">{{element.REQU_NID}}</td>
</ng-container>
<ng-container matColumnDef="REQU_NAME">
<th mat-header-cell *matHeaderCellDef mat-sort-header>REQU_NAME</th>
<td mat-cell *matCellDef="let element">{{element.REQU_NAME}}</td>
</ng-container>
<ng-container matColumnDef="REQU_DEP">
<th mat-header-cell *matHeaderCellDef mat-sort-header>REQU_DEP</th>
<td mat-cell *matCellDef="let element">{{element.REQU_DEP}}</td>
</ng-container>
<ng-container matColumnDef="REQU_TSAUTH">
<th mat-header-cell *matHeaderCellDef mat-sort-header>REQU_TSAUTH</th>
<td mat-cell *matCellDef="let element">{{element.REQU_TSAUTH}}</td>
</ng-container>
<ng-container matColumnDef="REQU_DES">
<th mat-header-cell *matHeaderCellDef mat-sort-header>REQU_DES</th>
<td mat-cell *matCellDef="let element">{{element.REQU_DES}}</td>
</ng-container>
<ng-container matColumnDef="REQU_APP">
<th mat-header-cell *matHeaderCellDef mat-sort-header>REQU_APP</th>
<td mat-cell *matCellDef="let element">{{element.REQU_APP}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_USER}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_USER}}</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tsuser_requSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.REQU_IDX>0" (click)="tsuser_requDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tsuser_requService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tsuser_requService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tsuser_requPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>              
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tsuser_requService.IsShowLoading"></app-loading>
