<div class="col s12 m12 l10">
    <h5 class="card-title"><b>ttc_rackmtin</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="ttc_rackmtinSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TRACK_IDX</label>
<input placeholder="TRACK_IDX" [(ngModel)]="ttc_rackmtinService.FormData.TRACK_IDX" name="ttc_rackmtinService.FormData.TRACK_IDX" type="text" class="form-control">
</div>
<div>
<label>RACKCODE</label>
<input placeholder="RACKCODE" [(ngModel)]="ttc_rackmtinService.FormData.RACKCODE" name="ttc_rackmtinService.FormData.RACKCODE" type="text" class="form-control">
</div>
<div>
<label>TTC_PART_IDX</label>
<input placeholder="TTC_PART_IDX" [(ngModel)]="ttc_rackmtinService.FormData.TTC_PART_IDX" name="ttc_rackmtinService.FormData.TTC_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>BARCODE_NM</label>
<input placeholder="BARCODE_NM" [(ngModel)]="ttc_rackmtinService.FormData.BARCODE_NM" name="ttc_rackmtinService.FormData.BARCODE_NM" type="text" class="form-control">
</div>
<div>
<label>RACKDTM</label>
<input placeholder="RACKDTM" [(ngModel)]="ttc_rackmtinService.FormData.RACKDTM" name="ttc_rackmtinService.FormData.RACKDTM" type="text" class="form-control">
</div>
<div>
<label>IN_USER</label>
<input placeholder="IN_USER" [(ngModel)]="ttc_rackmtinService.FormData.IN_USER" name="ttc_rackmtinService.FormData.IN_USER" type="text" class="form-control">
</div>
<div>
<label>RACKOUT_DTM</label>
<input placeholder="RACKOUT_DTM" [(ngModel)]="ttc_rackmtinService.FormData.RACKOUT_DTM" name="ttc_rackmtinService.FormData.RACKOUT_DTM" type="text" class="form-control">
</div>
<div>
<label>OUT_USER</label>
<input placeholder="OUT_USER" [(ngModel)]="ttc_rackmtinService.FormData.OUT_USER" name="ttc_rackmtinService.FormData.OUT_USER" type="text" class="form-control">
</div>
<div>
<label>QTY</label>
<input placeholder="QTY" [(ngModel)]="ttc_rackmtinService.FormData.QTY" name="ttc_rackmtinService.FormData.QTY" type="text" class="form-control">
</div>
<div>
<label>RACKIN_YN</label>
<input placeholder="RACKIN_YN" [(ngModel)]="ttc_rackmtinService.FormData.RACKIN_YN" name="ttc_rackmtinService.FormData.RACKIN_YN" type="text" class="form-control">
</div>
<div>
<label>RACKOUT_YN</label>
<input placeholder="RACKOUT_YN" [(ngModel)]="ttc_rackmtinService.FormData.RACKOUT_YN" name="ttc_rackmtinService.FormData.RACKOUT_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="ttc_rackmtinService.FormData.CREATE_DTM" name="ttc_rackmtinService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="ttc_rackmtinService.FormData.CREATE_USER" name="ttc_rackmtinService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="ttc_rackmtinService.FormData.UPDATE_DTM" name="ttc_rackmtinService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="ttc_rackmtinService.FormData.UPDATE_USER" name="ttc_rackmtinService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


