<div class="col s12 m12 l10">
    <h5 class="card-title"><b>ttc_barcode</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="ttc_barcodeSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TTC_BARCODE_IDX</label>
<input placeholder="TTC_BARCODE_IDX" [(ngModel)]="ttc_barcodeService.FormData.TTC_BARCODE_IDX" name="ttc_barcodeService.FormData.TTC_BARCODE_IDX" type="text" class="form-control">
</div>
<div>
<label>TTC_BARCODENM</label>
<input placeholder="TTC_BARCODENM" [(ngModel)]="ttc_barcodeService.FormData.TTC_BARCODENM" name="ttc_barcodeService.FormData.TTC_BARCODENM" type="text" class="form-control">
</div>
<div>
<label>TTC_ORDER_IDX</label>
<input placeholder="TTC_ORDER_IDX" [(ngModel)]="ttc_barcodeService.FormData.TTC_ORDER_IDX" name="ttc_barcodeService.FormData.TTC_ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>Barcode_SEQ</label>
<input placeholder="Barcode_SEQ" [(ngModel)]="ttc_barcodeService.FormData.Barcode_SEQ" name="ttc_barcodeService.FormData.Barcode_SEQ" type="text" class="form-control">
</div>
<div>
<label>TTC_BC_WORK</label>
<input placeholder="TTC_BC_WORK" [(ngModel)]="ttc_barcodeService.FormData.TTC_BC_WORK" name="ttc_barcodeService.FormData.TTC_BC_WORK" type="text" class="form-control">
</div>
<div>
<label>DSCN_YN</label>
<input placeholder="DSCN_YN" [(ngModel)]="ttc_barcodeService.FormData.DSCN_YN" name="ttc_barcodeService.FormData.DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>WORK_START</label>
<input placeholder="WORK_START" [(ngModel)]="ttc_barcodeService.FormData.WORK_START" name="ttc_barcodeService.FormData.WORK_START" type="text" class="form-control">
</div>
<div>
<label>WORK_END</label>
<input placeholder="WORK_END" [(ngModel)]="ttc_barcodeService.FormData.WORK_END" name="ttc_barcodeService.FormData.WORK_END" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="ttc_barcodeService.FormData.CREATE_DTM" name="ttc_barcodeService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="ttc_barcodeService.FormData.CREATE_USER" name="ttc_barcodeService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="ttc_barcodeService.FormData.UPDATE_DTM" name="ttc_barcodeService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="ttc_barcodeService.FormData.UPDATE_USER" name="ttc_barcodeService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


