<div class="col s12 m12 l10">
    <h5 class="card-title"><b>ttc_bom</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="ttc_bomSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TTC_BOM_IDX</label>
<input placeholder="TTC_BOM_IDX" [(ngModel)]="ttc_bomService.FormData.TTC_BOM_IDX" name="ttc_bomService.FormData.TTC_BOM_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="ttc_bomService.FormData.PART_IDX" name="ttc_bomService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>TTC_PART_IDX</label>
<input placeholder="TTC_PART_IDX" [(ngModel)]="ttc_bomService.FormData.TTC_PART_IDX" name="ttc_bomService.FormData.TTC_PART_IDX" type="text" class="form-control">
</div>
<div>
<label>TTC_BOMSNP</label>
<input placeholder="TTC_BOMSNP" [(ngModel)]="ttc_bomService.FormData.TTC_BOMSNP" name="ttc_bomService.FormData.TTC_BOMSNP" type="text" class="form-control">
</div>
<div>
<label>TCC_DSVYN</label>
<input placeholder="TCC_DSVYN" [(ngModel)]="ttc_bomService.FormData.TCC_DSVYN" name="ttc_bomService.FormData.TCC_DSVYN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="ttc_bomService.FormData.CREATE_DTM" name="ttc_bomService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="ttc_bomService.FormData.CREATE_USER" name="ttc_bomService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="ttc_bomService.FormData.UPDATE_DTM" name="ttc_bomService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="ttc_bomService.FormData.UPDATE_USER" name="ttc_bomService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


