
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    ttc_barcode:
                    <b>{{ttc_barcodeService.FormData.Name}} [{{ttc_barcodeService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttc_barcode" title="ttc_barcode">ttc_barcode</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttc_barcode" title="ttc_barcode">ttc_barcode</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="ttc_barcodeAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="ttc_barcodeSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TTC_BARCODE_IDX</label>
<input placeholder="TTC_BARCODE_IDX" [(ngModel)]="ttc_barcodeService.FormData.TTC_BARCODE_IDX" name="ttc_barcodeService.FormData.TTC_BARCODE_IDX" type="text" class="form-control">
</div>
<div>
<label>TTC_BARCODENM</label>
<input placeholder="TTC_BARCODENM" [(ngModel)]="ttc_barcodeService.FormData.TTC_BARCODENM" name="ttc_barcodeService.FormData.TTC_BARCODENM" type="text" class="form-control">
</div>
<div>
<label>TTC_ORDER_IDX</label>
<input placeholder="TTC_ORDER_IDX" [(ngModel)]="ttc_barcodeService.FormData.TTC_ORDER_IDX" name="ttc_barcodeService.FormData.TTC_ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>Barcode_SEQ</label>
<input placeholder="Barcode_SEQ" [(ngModel)]="ttc_barcodeService.FormData.Barcode_SEQ" name="ttc_barcodeService.FormData.Barcode_SEQ" type="text" class="form-control">
</div>
<div>
<label>TTC_BC_WORK</label>
<input placeholder="TTC_BC_WORK" [(ngModel)]="ttc_barcodeService.FormData.TTC_BC_WORK" name="ttc_barcodeService.FormData.TTC_BC_WORK" type="text" class="form-control">
</div>
<div>
<label>DSCN_YN</label>
<input placeholder="DSCN_YN" [(ngModel)]="ttc_barcodeService.FormData.DSCN_YN" name="ttc_barcodeService.FormData.DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>WORK_START</label>
<input placeholder="WORK_START" [(ngModel)]="ttc_barcodeService.FormData.WORK_START" name="ttc_barcodeService.FormData.WORK_START" type="text" class="form-control">
</div>
<div>
<label>WORK_END</label>
<input placeholder="WORK_END" [(ngModel)]="ttc_barcodeService.FormData.WORK_END" name="ttc_barcodeService.FormData.WORK_END" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="ttc_barcodeService.FormData.CREATE_DTM" name="ttc_barcodeService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="ttc_barcodeService.FormData.CREATE_USER" name="ttc_barcodeService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="ttc_barcodeService.FormData.UPDATE_DTM" name="ttc_barcodeService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="ttc_barcodeService.FormData.UPDATE_USER" name="ttc_barcodeService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="ttc_barcodeService.IsShowLoading"></app-loading>
