<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    ttensilforce_usw
                    <span *ngIf="ttensilforce_uswService.List">({{ttensilforce_uswService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttensilforce_usw" title="ttensilforce_usw">ttensilforce_usw</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttensilforce_usw" title="ttensilforce_usw">ttensilforce_usw</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="ttensilforce_uswService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="ttensilforce_uswSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="ttensilforce_uswSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #ttensilforce_uswSort="matSort"
                       [dataSource]="ttensilforce_uswService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="ttensilforce_uswPaginator">
                                {{
                                    ttensilforce_uswPaginator.pageSize *
                                    ttensilforce_uswPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="FORCE_USW_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>FORCE_USW_IDX</th>
<td mat-cell *matCellDef="let element">{{element.FORCE_USW_IDX}}</td>
</ng-container>
<ng-container matColumnDef="FORCE_USW_NM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>FORCE_USW_NM</th>
<td mat-cell *matCellDef="let element">{{element.FORCE_USW_NM}}</td>
</ng-container>
<ng-container matColumnDef="FORCE_USW_MIN_HORI">
<th mat-header-cell *matHeaderCellDef mat-sort-header>FORCE_USW_MIN_HORI</th>
<td mat-cell *matCellDef="let element">{{element.FORCE_USW_MIN_HORI}}</td>
</ng-container>
<ng-container matColumnDef="FORCE_USW_MIN_VERT">
<th mat-header-cell *matHeaderCellDef mat-sort-header>FORCE_USW_MIN_VERT</th>
<td mat-cell *matCellDef="let element">{{element.FORCE_USW_MIN_VERT}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.CREATE_USER}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_DTM</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_DTM}}</td>
</ng-container>
<ng-container matColumnDef="UPDATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>UPDATE_USER</th>
<td mat-cell *matCellDef="let element">{{element.UPDATE_USER}}</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="ttensilforce_uswSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.FORCE_USW_IDX>0" (click)="ttensilforce_uswDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="ttensilforce_uswService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ttensilforce_uswService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #ttensilforce_uswPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>              
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="ttensilforce_uswService.IsShowLoading"></app-loading>
