<div class="col s12 m12 l10">
    <h5 class="card-title"><b>ttensilforce</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="ttensilforceSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>FORCE_IDX</label>
<input placeholder="FORCE_IDX" [(ngModel)]="ttensilforceService.FormData.FORCE_IDX" name="ttensilforceService.FormData.FORCE_IDX" type="text" class="form-control">
</div>
<div>
<label>FORCE_NM</label>
<input placeholder="FORCE_NM" [(ngModel)]="ttensilforceService.FormData.FORCE_NM" name="ttensilforceService.FormData.FORCE_NM" type="text" class="form-control">
</div>
<div>
<label>FORCE_MIN</label>
<input placeholder="FORCE_MIN" [(ngModel)]="ttensilforceService.FormData.FORCE_MIN" name="ttensilforceService.FormData.FORCE_MIN" type="text" class="form-control">
</div>
<div>
<label>FORCE_MAX</label>
<input placeholder="FORCE_MAX" [(ngModel)]="ttensilforceService.FormData.FORCE_MAX" name="ttensilforceService.FormData.FORCE_MAX" type="text" class="form-control">
</div>
<div>
<label>STRENGTH</label>
<input placeholder="STRENGTH" [(ngModel)]="ttensilforceService.FormData.STRENGTH" name="ttensilforceService.FormData.STRENGTH" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="ttensilforceService.FormData.CREATE_DTM" name="ttensilforceService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="ttensilforceService.FormData.CREATE_USER" name="ttensilforceService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="ttensilforceService.FormData.UPDATE_DTM" name="ttensilforceService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="ttensilforceService.FormData.UPDATE_USER" name="ttensilforceService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


