<div class="col s12 m12 l10">
    <h5 class="card-title"><b>ttensilbndlst</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="ttensilbndlstSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>BNDLST_IDX</label>
<input placeholder="BNDLST_IDX" [(ngModel)]="ttensilbndlstService.FormData.BNDLST_IDX" name="ttensilbndlstService.FormData.BNDLST_IDX" type="text" class="form-control">
</div>
<div>
<label>BNDLST_NM</label>
<input placeholder="BNDLST_NM" [(ngModel)]="ttensilbndlstService.FormData.BNDLST_NM" name="ttensilbndlstService.FormData.BNDLST_NM" type="text" class="form-control">
</div>
<div>
<label>BNDLST_MIN</label>
<input placeholder="BNDLST_MIN" [(ngModel)]="ttensilbndlstService.FormData.BNDLST_MIN" name="ttensilbndlstService.FormData.BNDLST_MIN" type="text" class="form-control">
</div>
<div>
<label>BNDLST_MAX</label>
<input placeholder="BNDLST_MAX" [(ngModel)]="ttensilbndlstService.FormData.BNDLST_MAX" name="ttensilbndlstService.FormData.BNDLST_MAX" type="text" class="form-control">
</div>
<div>
<label>STRENGTH</label>
<input placeholder="STRENGTH" [(ngModel)]="ttensilbndlstService.FormData.STRENGTH" name="ttensilbndlstService.FormData.STRENGTH" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="ttensilbndlstService.FormData.CREATE_DTM" name="ttensilbndlstService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="ttensilbndlstService.FormData.CREATE_USER" name="ttensilbndlstService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="ttensilbndlstService.FormData.UPDATE_DTM" name="ttensilbndlstService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="ttensilbndlstService.FormData.UPDATE_USER" name="ttensilbndlstService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


