<div class="col s12 m12 l10">
    <h5 class="card-title"><b>ttensilforce_usw</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="ttensilforce_uswSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>FORCE_USW_IDX</label>
<input placeholder="FORCE_USW_IDX" [(ngModel)]="ttensilforce_uswService.FormData.FORCE_USW_IDX" name="ttensilforce_uswService.FormData.FORCE_USW_IDX" type="text" class="form-control">
</div>
<div>
<label>FORCE_USW_NM</label>
<input placeholder="FORCE_USW_NM" [(ngModel)]="ttensilforce_uswService.FormData.FORCE_USW_NM" name="ttensilforce_uswService.FormData.FORCE_USW_NM" type="text" class="form-control">
</div>
<div>
<label>FORCE_USW_MIN_HORI</label>
<input placeholder="FORCE_USW_MIN_HORI" [(ngModel)]="ttensilforce_uswService.FormData.FORCE_USW_MIN_HORI" name="ttensilforce_uswService.FormData.FORCE_USW_MIN_HORI" type="text" class="form-control">
</div>
<div>
<label>FORCE_USW_MIN_VERT</label>
<input placeholder="FORCE_USW_MIN_VERT" [(ngModel)]="ttensilforce_uswService.FormData.FORCE_USW_MIN_VERT" name="ttensilforce_uswService.FormData.FORCE_USW_MIN_VERT" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="ttensilforce_uswService.FormData.CREATE_DTM" name="ttensilforce_uswService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="ttensilforce_uswService.FormData.CREATE_USER" name="ttensilforce_uswService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="ttensilforce_uswService.FormData.UPDATE_DTM" name="ttensilforce_uswService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="ttensilforce_uswService.FormData.UPDATE_USER" name="ttensilforce_uswService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


