
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    ttoolmaster:
                    <b>{{ttoolmasterService.FormData.Name}} [{{ttoolmasterService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttoolmaster" title="ttoolmaster">ttoolmaster</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttoolmaster" title="ttoolmaster">ttoolmaster</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="ttoolmasterAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="ttoolmasterSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TOOL_IDX</label>
<input placeholder="TOOL_IDX" [(ngModel)]="ttoolmasterService.FormData.TOOL_IDX" name="ttoolmasterService.FormData.TOOL_IDX" type="text" class="form-control">
</div>
<div>
<label>APPLICATOR</label>
<input placeholder="APPLICATOR" [(ngModel)]="ttoolmasterService.FormData.APPLICATOR" name="ttoolmasterService.FormData.APPLICATOR" type="text" class="form-control">
</div>
<div>
<label>SEQ_TOT</label>
<input placeholder="SEQ_TOT" [(ngModel)]="ttoolmasterService.FormData.SEQ_TOT" name="ttoolmasterService.FormData.SEQ_TOT" type="text" class="form-control">
</div>
<div>
<label>TOO_SUPPLY</label>
<input placeholder="TOO_SUPPLY" [(ngModel)]="ttoolmasterService.FormData.TOO_SUPPLY" name="ttoolmasterService.FormData.TOO_SUPPLY" type="text" class="form-control">
</div>
<div>
<label>MAX_CNT</label>
<input placeholder="MAX_CNT" [(ngModel)]="ttoolmasterService.FormData.MAX_CNT" name="ttoolmasterService.FormData.MAX_CNT" type="text" class="form-control">
</div>
<div>
<label>TOT_WK_CNT</label>
<input placeholder="TOT_WK_CNT" [(ngModel)]="ttoolmasterService.FormData.TOT_WK_CNT" name="ttoolmasterService.FormData.TOT_WK_CNT" type="text" class="form-control">
</div>
<div>
<label>WK_CNT</label>
<input placeholder="WK_CNT" [(ngModel)]="ttoolmasterService.FormData.WK_CNT" name="ttoolmasterService.FormData.WK_CNT" type="text" class="form-control">
</div>
<div>
<label>SPP_NO</label>
<input placeholder="SPP_NO" [(ngModel)]="ttoolmasterService.FormData.SPP_NO" name="ttoolmasterService.FormData.SPP_NO" type="text" class="form-control">
</div>
<div>
<label>TYPE</label>
<input placeholder="TYPE" [(ngModel)]="ttoolmasterService.FormData.TYPE" name="ttoolmasterService.FormData.TYPE" type="text" class="form-control">
</div>
<div>
<label>GAUGE</label>
<input placeholder="GAUGE" [(ngModel)]="ttoolmasterService.FormData.GAUGE" name="ttoolmasterService.FormData.GAUGE" type="text" class="form-control">
</div>
<div>
<label>COPL_NOR</label>
<input placeholder="COPL_NOR" [(ngModel)]="ttoolmasterService.FormData.COPL_NOR" name="ttoolmasterService.FormData.COPL_NOR" type="text" class="form-control">
</div>
<div>
<label>COPL_SPE</label>
<input placeholder="COPL_SPE" [(ngModel)]="ttoolmasterService.FormData.COPL_SPE" name="ttoolmasterService.FormData.COPL_SPE" type="text" class="form-control">
</div>
<div>
<label>INSPL_SEALTYPE</label>
<input placeholder="INSPL_SEALTYPE" [(ngModel)]="ttoolmasterService.FormData.INSPL_SEALTYPE" name="ttoolmasterService.FormData.INSPL_SEALTYPE" type="text" class="form-control">
</div>
<div>
<label>INSPL_NONSEAL</label>
<input placeholder="INSPL_NONSEAL" [(ngModel)]="ttoolmasterService.FormData.INSPL_NONSEAL" name="ttoolmasterService.FormData.INSPL_NONSEAL" type="text" class="form-control">
</div>
<div>
<label>INSPL_XTYPE</label>
<input placeholder="INSPL_XTYPE" [(ngModel)]="ttoolmasterService.FormData.INSPL_XTYPE" name="ttoolmasterService.FormData.INSPL_XTYPE" type="text" class="form-control">
</div>
<div>
<label>INSPL_KTYPE</label>
<input placeholder="INSPL_KTYPE" [(ngModel)]="ttoolmasterService.FormData.INSPL_KTYPE" name="ttoolmasterService.FormData.INSPL_KTYPE" type="text" class="form-control">
</div>
<div>
<label>INSPL_SPE</label>
<input placeholder="INSPL_SPE" [(ngModel)]="ttoolmasterService.FormData.INSPL_SPE" name="ttoolmasterService.FormData.INSPL_SPE" type="text" class="form-control">
</div>
<div>
<label>ANVIL_NOR</label>
<input placeholder="ANVIL_NOR" [(ngModel)]="ttoolmasterService.FormData.ANVIL_NOR" name="ttoolmasterService.FormData.ANVIL_NOR" type="text" class="form-control">
</div>
<div>
<label>ANVIL_SPE</label>
<input placeholder="ANVIL_SPE" [(ngModel)]="ttoolmasterService.FormData.ANVIL_SPE" name="ttoolmasterService.FormData.ANVIL_SPE" type="text" class="form-control">
</div>
<div>
<label>CMU_NOR</label>
<input placeholder="CMU_NOR" [(ngModel)]="ttoolmasterService.FormData.CMU_NOR" name="ttoolmasterService.FormData.CMU_NOR" type="text" class="form-control">
</div>
<div>
<label>CMU_SPE</label>
<input placeholder="CMU_SPE" [(ngModel)]="ttoolmasterService.FormData.CMU_SPE" name="ttoolmasterService.FormData.CMU_SPE" type="text" class="form-control">
</div>
<div>
<label>IMU_NOR</label>
<input placeholder="IMU_NOR" [(ngModel)]="ttoolmasterService.FormData.IMU_NOR" name="ttoolmasterService.FormData.IMU_NOR" type="text" class="form-control">
</div>
<div>
<label>IMU_NONSEAL</label>
<input placeholder="IMU_NONSEAL" [(ngModel)]="ttoolmasterService.FormData.IMU_NONSEAL" name="ttoolmasterService.FormData.IMU_NONSEAL" type="text" class="form-control">
</div>
<div>
<label>IMU_SPE</label>
<input placeholder="IMU_SPE" [(ngModel)]="ttoolmasterService.FormData.IMU_SPE" name="ttoolmasterService.FormData.IMU_SPE" type="text" class="form-control">
</div>
<div>
<label>CUTPL_ONE</label>
<input placeholder="CUTPL_ONE" [(ngModel)]="ttoolmasterService.FormData.CUTPL_ONE" name="ttoolmasterService.FormData.CUTPL_ONE" type="text" class="form-control">
</div>
<div>
<label>CUTPL_DET</label>
<input placeholder="CUTPL_DET" [(ngModel)]="ttoolmasterService.FormData.CUTPL_DET" name="ttoolmasterService.FormData.CUTPL_DET" type="text" class="form-control">
</div>
<div>
<label>CUTAN_ONE</label>
<input placeholder="CUTAN_ONE" [(ngModel)]="ttoolmasterService.FormData.CUTAN_ONE" name="ttoolmasterService.FormData.CUTAN_ONE" type="text" class="form-control">
</div>
<div>
<label>CUTAN_DET</label>
<input placeholder="CUTAN_DET" [(ngModel)]="ttoolmasterService.FormData.CUTAN_DET" name="ttoolmasterService.FormData.CUTAN_DET" type="text" class="form-control">
</div>
<div>
<label>CUTHO_ONE</label>
<input placeholder="CUTHO_ONE" [(ngModel)]="ttoolmasterService.FormData.CUTHO_ONE" name="ttoolmasterService.FormData.CUTHO_ONE" type="text" class="form-control">
</div>
<div>
<label>CUTHO_DET</label>
<input placeholder="CUTHO_DET" [(ngModel)]="ttoolmasterService.FormData.CUTHO_DET" name="ttoolmasterService.FormData.CUTHO_DET" type="text" class="form-control">
</div>
<div>
<label>RRBLK_ONE</label>
<input placeholder="RRBLK_ONE" [(ngModel)]="ttoolmasterService.FormData.RRBLK_ONE" name="ttoolmasterService.FormData.RRBLK_ONE" type="text" class="form-control">
</div>
<div>
<label>RRBLK_DET</label>
<input placeholder="RRBLK_DET" [(ngModel)]="ttoolmasterService.FormData.RRBLK_DET" name="ttoolmasterService.FormData.RRBLK_DET" type="text" class="form-control">
</div>
<div>
<label>RRCUTHO_ONE</label>
<input placeholder="RRCUTHO_ONE" [(ngModel)]="ttoolmasterService.FormData.RRCUTHO_ONE" name="ttoolmasterService.FormData.RRCUTHO_ONE" type="text" class="form-control">
</div>
<div>
<label>RRCUTHO_DET</label>
<input placeholder="RRCUTHO_DET" [(ngModel)]="ttoolmasterService.FormData.RRCUTHO_DET" name="ttoolmasterService.FormData.RRCUTHO_DET" type="text" class="form-control">
</div>
<div>
<label>FRCUTHO_ONE</label>
<input placeholder="FRCUTHO_ONE" [(ngModel)]="ttoolmasterService.FormData.FRCUTHO_ONE" name="ttoolmasterService.FormData.FRCUTHO_ONE" type="text" class="form-control">
</div>
<div>
<label>FRCUTHO_DET</label>
<input placeholder="FRCUTHO_DET" [(ngModel)]="ttoolmasterService.FormData.FRCUTHO_DET" name="ttoolmasterService.FormData.FRCUTHO_DET" type="text" class="form-control">
</div>
<div>
<label>RRCUTAN_ONE</label>
<input placeholder="RRCUTAN_ONE" [(ngModel)]="ttoolmasterService.FormData.RRCUTAN_ONE" name="ttoolmasterService.FormData.RRCUTAN_ONE" type="text" class="form-control">
</div>
<div>
<label>RRCUTAN_DET</label>
<input placeholder="RRCUTAN_DET" [(ngModel)]="ttoolmasterService.FormData.RRCUTAN_DET" name="ttoolmasterService.FormData.RRCUTAN_DET" type="text" class="form-control">
</div>
<div>
<label>WRDN_ONE</label>
<input placeholder="WRDN_ONE" [(ngModel)]="ttoolmasterService.FormData.WRDN_ONE" name="ttoolmasterService.FormData.WRDN_ONE" type="text" class="form-control">
</div>
<div>
<label>WRDN_DET</label>
<input placeholder="WRDN_DET" [(ngModel)]="ttoolmasterService.FormData.WRDN_DET" name="ttoolmasterService.FormData.WRDN_DET" type="text" class="form-control">
</div>
<div>
<label>DESC</label>
<input placeholder="DESC" [(ngModel)]="ttoolmasterService.FormData.DESC" name="ttoolmasterService.FormData.DESC" type="text" class="form-control">
</div>
<div>
<label>COMB_CODE</label>
<input placeholder="COMB_CODE" [(ngModel)]="ttoolmasterService.FormData.COMB_CODE" name="ttoolmasterService.FormData.COMB_CODE" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="ttoolmasterService.FormData.CREATE_DTM" name="ttoolmasterService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="ttoolmasterService.FormData.CREATE_USER" name="ttoolmasterService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="ttoolmasterService.FormData.UPDATE_DTM" name="ttoolmasterService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="ttoolmasterService.FormData.UPDATE_USER" name="ttoolmasterService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="ttoolmasterService.IsShowLoading"></app-loading>
