
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    ttoolhistory:
                    <b>{{ttoolhistoryService.FormData.Name}} [{{ttoolhistoryService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttoolhistory" title="ttoolhistory">ttoolhistory</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/ttoolhistory" title="ttoolhistory">ttoolhistory</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="ttoolhistoryAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="ttoolhistorySave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TOOL_HIS_IDX</label>
<input placeholder="TOOL_HIS_IDX" [(ngModel)]="ttoolhistoryService.FormData.TOOL_HIS_IDX" name="ttoolhistoryService.FormData.TOOL_HIS_IDX" type="text" class="form-control">
</div>
<div>
<label>WORK_DTM</label>
<input placeholder="WORK_DTM" [(ngModel)]="ttoolhistoryService.FormData.WORK_DTM" name="ttoolhistoryService.FormData.WORK_DTM" type="text" class="form-control">
</div>
<div>
<label>TOOL_IDX</label>
<input placeholder="TOOL_IDX" [(ngModel)]="ttoolhistoryService.FormData.TOOL_IDX" name="ttoolhistoryService.FormData.TOOL_IDX" type="text" class="form-control">
</div>
<div>
<label>WK_QTY</label>
<input placeholder="WK_QTY" [(ngModel)]="ttoolhistoryService.FormData.WK_QTY" name="ttoolhistoryService.FormData.WK_QTY" type="text" class="form-control">
</div>
<div>
<label>TOT_QTY</label>
<input placeholder="TOT_QTY" [(ngModel)]="ttoolhistoryService.FormData.TOT_QTY" name="ttoolhistoryService.FormData.TOT_QTY" type="text" class="form-control">
</div>
<div>
<label>CONTENT</label>
<input placeholder="CONTENT" [(ngModel)]="ttoolhistoryService.FormData.CONTENT" name="ttoolhistoryService.FormData.CONTENT" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="ttoolhistoryService.FormData.CREATE_DTM" name="ttoolhistoryService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="ttoolhistoryService.FormData.CREATE_USER" name="ttoolhistoryService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="ttoolhistoryService.FormData.UPDATE_DTM" name="ttoolhistoryService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="ttoolhistoryService.FormData.UPDATE_USER" name="ttoolhistoryService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="ttoolhistoryService.IsShowLoading"></app-loading>
