<div class="col s12 m12 l10">
    <h5 class="card-title"><b>ttoolmaster2</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="ttoolmaster2Save()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TOOLMASTER_IDX</label>
<input placeholder="TOOLMASTER_IDX" [(ngModel)]="ttoolmaster2Service.FormData.TOOLMASTER_IDX" name="ttoolmaster2Service.FormData.TOOLMASTER_IDX" type="text" class="form-control">
</div>
<div>
<label>TOOL_IDX</label>
<input placeholder="TOOL_IDX" [(ngModel)]="ttoolmaster2Service.FormData.TOOL_IDX" name="ttoolmaster2Service.FormData.TOOL_IDX" type="text" class="form-control">
</div>
<div>
<label>SEQ</label>
<input placeholder="SEQ" [(ngModel)]="ttoolmaster2Service.FormData.SEQ" name="ttoolmaster2Service.FormData.SEQ" type="text" class="form-control">
</div>
<div>
<label>TOT_WK_CNT</label>
<input placeholder="TOT_WK_CNT" [(ngModel)]="ttoolmaster2Service.FormData.TOT_WK_CNT" name="ttoolmaster2Service.FormData.TOT_WK_CNT" type="text" class="form-control">
</div>
<div>
<label>WK_CNT</label>
<input placeholder="WK_CNT" [(ngModel)]="ttoolmaster2Service.FormData.WK_CNT" name="ttoolmaster2Service.FormData.WK_CNT" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="ttoolmaster2Service.FormData.CREATE_DTM" name="ttoolmaster2Service.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="ttoolmaster2Service.FormData.CREATE_USER" name="ttoolmaster2Service.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="ttoolmaster2Service.FormData.UPDATE_DTM" name="ttoolmaster2Service.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="ttoolmaster2Service.FormData.UPDATE_USER" name="ttoolmaster2Service.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


