<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tuser_log_chk_list
                    <span *ngIf="tuser_log_chk_listService.List">({{tuser_log_chk_listService.List.length}} items)</span>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Trang chủ">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tuser_log_chk_list" title="tuser_log_chk_list">tuser_log_chk_list</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tuser_log_chk_list" title="tuser_log_chk_list">tuser_log_chk_list</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="col s12 m12 l11">
                <input [(ngModel)]="tuser_log_chk_listService.BaseParameter.SearchString" placeholder="Tìm ..."
                       class="form-control" (keyup.enter)="tuser_log_chk_listSearch()">
            </div>
            <div class="col s12 m12 l1">
                <a title="search" (click)="tuser_log_chk_listSearch()" class="btn waves-effect waves-light green darken-1">
                    <i class="material-icons">search</i>
                </a>
            </div>
            <div class="KhungOverflow">
                <table *ngIf="!NotificationService.IsMobile" mat-table matSort #tuser_log_chk_listSort="matSort"
                       [dataSource]="tuser_log_chk_listService.DataSource">
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            No
                        </th>
                        <td mat-cell *matCellDef="let element; index as i;">
                            <div *ngIf="tuser_log_chk_listPaginator">
                                {{
                                    tuser_log_chk_listPaginator.pageSize *
                                    tuser_log_chk_listPaginator.pageIndex + i + 1
                                }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="TUSER_IDX">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TUSER_IDX</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TUSER_IDX" name="TUSER_IDX{{element.TUSER_IDX}}" [(ngModel)]="element.TUSER_IDX">
</td>
</ng-container>
<ng-container matColumnDef="TS_USERID">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TS_USERID</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TS_USERID" name="TS_USERID{{element.TUSER_IDX}}" [(ngModel)]="element.TS_USERID">
</td>
</ng-container>
<ng-container matColumnDef="TS_USER_IP">
<th mat-header-cell *matHeaderCellDef mat-sort-header>TS_USER_IP</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="TS_USER_IP" name="TS_USER_IP{{element.TUSER_IDX}}" [(ngModel)]="element.TS_USER_IP">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_DTM">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_DTM</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_DTM" name="CREATE_DTM{{element.TUSER_IDX}}" [(ngModel)]="element.CREATE_DTM">
</td>
</ng-container>
<ng-container matColumnDef="CREATE_USER">
<th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE_USER</th>
<td mat-cell *matCellDef="let element">
<input class="form-control" type="text" placeholder="CREATE_USER" name="CREATE_USER{{element.TUSER_IDX}}" [(ngModel)]="element.CREATE_USER">
</td>
</ng-container>

                    <ng-container matColumnDef="Save">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="tuser_log_chk_listSave(element)" class="btn-floating waves-effect waves-light cyan" title="Save">
                                <i class="material-icons">save</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a *ngIf="element.TUSER_IDX>0" (click)="tuser_log_chk_listDelete(element)" class="btn-floating waves-effect waves-light red" style="padding-top: 3px;" title="Delete">
                                <i class="material-icons">delete_outline</i>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tuser_log_chk_listService.DisplayColumns001">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: tuser_log_chk_listService.DisplayColumns001;">
                    </tr>
                </table>
                <mat-paginator *ngIf="!NotificationService.IsMobile" #tuser_log_chk_listPaginator="matPaginator"
                               [pageSizeOptions]="[10,20,50,100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tuser_log_chk_listService.IsShowLoading"></app-loading>
