<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tuser_log_chk_list</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tuser_log_chk_listSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TUSER_IDX</label>
<input placeholder="TUSER_IDX" [(ngModel)]="tuser_log_chk_listService.FormData.TUSER_IDX" name="tuser_log_chk_listService.FormData.TUSER_IDX" type="text" class="form-control">
</div>
<div>
<label>TS_USERID</label>
<input placeholder="TS_USERID" [(ngModel)]="tuser_log_chk_listService.FormData.TS_USERID" name="tuser_log_chk_listService.FormData.TS_USERID" type="text" class="form-control">
</div>
<div>
<label>TS_USER_IP</label>
<input placeholder="TS_USER_IP" [(ngModel)]="tuser_log_chk_listService.FormData.TS_USER_IP" name="tuser_log_chk_listService.FormData.TS_USER_IP" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tuser_log_chk_listService.FormData.CREATE_DTM" name="tuser_log_chk_listService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tuser_log_chk_listService.FormData.CREATE_USER" name="tuser_log_chk_listService.FormData.CREATE_USER" type="text" class="form-control">
</div>

</div>


