
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tuser_log:
                    <b>{{tuser_logService.FormData.Name}} [{{tuser_logService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tuser_log" title="tuser_log">tuser_log</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tuser_log" title="tuser_log">tuser_log</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tuser_logAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tuser_logSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>TUSER_IDX</label>
<input placeholder="TUSER_IDX" [(ngModel)]="tuser_logService.FormData.TUSER_IDX" name="tuser_logService.FormData.TUSER_IDX" type="text" class="form-control">
</div>
<div>
<label>TS_MC_NM</label>
<input placeholder="TS_MC_NM" [(ngModel)]="tuser_logService.FormData.TS_MC_NM" name="tuser_logService.FormData.TS_MC_NM" type="text" class="form-control">
</div>
<div>
<label>TS_DATE</label>
<input placeholder="TS_DATE" [(ngModel)]="tuser_logService.FormData.TS_DATE" name="tuser_logService.FormData.TS_DATE" type="text" class="form-control">
</div>
<div>
<label>TS_TIME_ST</label>
<input placeholder="TS_TIME_ST" [(ngModel)]="tuser_logService.FormData.TS_TIME_ST" name="tuser_logService.FormData.TS_TIME_ST" type="text" class="form-control">
</div>
<div>
<label>TS_TIME_END</label>
<input placeholder="TS_TIME_END" [(ngModel)]="tuser_logService.FormData.TS_TIME_END" name="tuser_logService.FormData.TS_TIME_END" type="text" class="form-control">
</div>
<div>
<label>TS_USER</label>
<input placeholder="TS_USER" [(ngModel)]="tuser_logService.FormData.TS_USER" name="tuser_logService.FormData.TS_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tuser_logService.IsShowLoading"></app-loading>
