<div class="col s12 m12 l10">
    <h5 class="card-title"><b>tuser_log</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="tuser_logSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>TUSER_IDX</label>
<input placeholder="TUSER_IDX" [(ngModel)]="tuser_logService.FormData.TUSER_IDX" name="tuser_logService.FormData.TUSER_IDX" type="text" class="form-control">
</div>
<div>
<label>TS_MC_NM</label>
<input placeholder="TS_MC_NM" [(ngModel)]="tuser_logService.FormData.TS_MC_NM" name="tuser_logService.FormData.TS_MC_NM" type="text" class="form-control">
</div>
<div>
<label>TS_DATE</label>
<input placeholder="TS_DATE" [(ngModel)]="tuser_logService.FormData.TS_DATE" name="tuser_logService.FormData.TS_DATE" type="text" class="form-control">
</div>
<div>
<label>TS_TIME_ST</label>
<input placeholder="TS_TIME_ST" [(ngModel)]="tuser_logService.FormData.TS_TIME_ST" name="tuser_logService.FormData.TS_TIME_ST" type="text" class="form-control">
</div>
<div>
<label>TS_TIME_END</label>
<input placeholder="TS_TIME_END" [(ngModel)]="tuser_logService.FormData.TS_TIME_END" name="tuser_logService.FormData.TS_TIME_END" type="text" class="form-control">
</div>
<div>
<label>TS_USER</label>
<input placeholder="TS_USER" [(ngModel)]="tuser_logService.FormData.TS_USER" name="tuser_logService.FormData.TS_USER" type="text" class="form-control">
</div>

</div>


