
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    tworkresult:
                    <b>{{tworkresultService.FormData.Name}} [{{tworkresultService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tworkresult" title="tworkresult">tworkresult</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/tworkresult" title="tworkresult">tworkresult</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="tworkresultAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="tworkresultSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>WORK_IDX</label>
<input placeholder="WORK_IDX" [(ngModel)]="tworkresultService.FormData.WORK_IDX" name="tworkresultService.FormData.WORK_IDX" type="text" class="form-control">
</div>
<div>
<label>GROUP_CODE</label>
<input placeholder="GROUP_CODE" [(ngModel)]="tworkresultService.FormData.GROUP_CODE" name="tworkresultService.FormData.GROUP_CODE" type="text" class="form-control">
</div>
<div>
<label>WORK_DTM</label>
<input placeholder="WORK_DTM" [(ngModel)]="tworkresultService.FormData.WORK_DTM" name="tworkresultService.FormData.WORK_DTM" type="text" class="form-control">
</div>
<div>
<label>USER_IDX</label>
<input placeholder="USER_IDX" [(ngModel)]="tworkresultService.FormData.USER_IDX" name="tworkresultService.FormData.USER_IDX" type="text" class="form-control">
</div>
<div>
<label>W_GRC</label>
<input placeholder="W_GRC" [(ngModel)]="tworkresultService.FormData.W_GRC" name="tworkresultService.FormData.W_GRC" type="text" class="form-control">
</div>
<div>
<label>W_PEP</label>
<input placeholder="W_PEP" [(ngModel)]="tworkresultService.FormData.W_PEP" name="tworkresultService.FormData.W_PEP" type="text" class="form-control">
</div>
<div>
<label>LEAD_NM</label>
<input placeholder="LEAD_NM" [(ngModel)]="tworkresultService.FormData.LEAD_NM" name="tworkresultService.FormData.LEAD_NM" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="tworkresultService.FormData.PART_IDX" name="tworkresultService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>GOOD_QTY</label>
<input placeholder="GOOD_QTY" [(ngModel)]="tworkresultService.FormData.GOOD_QTY" name="tworkresultService.FormData.GOOD_QTY" type="text" class="form-control">
</div>
<div>
<label>BAD_QTY</label>
<input placeholder="BAD_QTY" [(ngModel)]="tworkresultService.FormData.BAD_QTY" name="tworkresultService.FormData.BAD_QTY" type="text" class="form-control">
</div>
<div>
<label>ETC_QTY</label>
<input placeholder="ETC_QTY" [(ngModel)]="tworkresultService.FormData.ETC_QTY" name="tworkresultService.FormData.ETC_QTY" type="text" class="form-control">
</div>
<div>
<label>TOT_QTY</label>
<input placeholder="TOT_QTY" [(ngModel)]="tworkresultService.FormData.TOT_QTY" name="tworkresultService.FormData.TOT_QTY" type="text" class="form-control">
</div>
<div>
<label>ORDER_IDX</label>
<input placeholder="ORDER_IDX" [(ngModel)]="tworkresultService.FormData.ORDER_IDX" name="tworkresultService.FormData.ORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>DSCN_YN</label>
<input placeholder="DSCN_YN" [(ngModel)]="tworkresultService.FormData.DSCN_YN" name="tworkresultService.FormData.DSCN_YN" type="text" class="form-control">
</div>
<div>
<label>WK_ST</label>
<input placeholder="WK_ST" [(ngModel)]="tworkresultService.FormData.WK_ST" name="tworkresultService.FormData.WK_ST" type="text" class="form-control">
</div>
<div>
<label>WK_ET</label>
<input placeholder="WK_ET" [(ngModel)]="tworkresultService.FormData.WK_ET" name="tworkresultService.FormData.WK_ET" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="tworkresultService.FormData.CREATE_DTM" name="tworkresultService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="tworkresultService.FormData.CREATE_USER" name="tworkresultService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="tworkresultService.FormData.UPDATE_DTM" name="tworkresultService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="tworkresultService.FormData.UPDATE_USER" name="tworkresultService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
<div>
<label>PART_NM</label>
<input placeholder="PART_NM" [(ngModel)]="tworkresultService.FormData.PART_NM" name="tworkresultService.FormData.PART_NM" type="text" class="form-control">
</div>
<div>
<label>ROUTER</label>
<input placeholder="ROUTER" [(ngModel)]="tworkresultService.FormData.ROUTER" name="tworkresultService.FormData.ROUTER" type="text" class="form-control">
</div>
<div>
<label>WORK_RMK</label>
<input placeholder="WORK_RMK" [(ngModel)]="tworkresultService.FormData.WORK_RMK" name="tworkresultService.FormData.WORK_RMK" type="text" class="form-control">
</div>
<div>
<label>MC_NM</label>
<input placeholder="MC_NM" [(ngModel)]="tworkresultService.FormData.MC_NM" name="tworkresultService.FormData.MC_NM" type="text" class="form-control">
</div>
<div>
<label>Q_CON</label>
<input placeholder="Q_CON" [(ngModel)]="tworkresultService.FormData.Q_CON" name="tworkresultService.FormData.Q_CON" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="tworkresultService.IsShowLoading"></app-loading>
