
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    twwkar:
                    <b>{{twwkarService.FormData.Name}} [{{twwkarService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/twwkar" title="twwkar">twwkar</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/twwkar" title="twwkar">twwkar</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="twwkarAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="twwkarSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>WK_IDX</label>
<input placeholder="WK_IDX" [(ngModel)]="twwkarService.FormData.WK_IDX" name="twwkarService.FormData.WK_IDX" type="text" class="form-control">
</div>
<div>
<label>TORDER_IDX</label>
<input placeholder="TORDER_IDX" [(ngModel)]="twwkarService.FormData.TORDER_IDX" name="twwkarService.FormData.TORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="twwkarService.FormData.PART_IDX" name="twwkarService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>MC_NO</label>
<input placeholder="MC_NO" [(ngModel)]="twwkarService.FormData.MC_NO" name="twwkarService.FormData.MC_NO" type="text" class="form-control">
</div>
<div>
<label>WK_QTY</label>
<input placeholder="WK_QTY" [(ngModel)]="twwkarService.FormData.WK_QTY" name="twwkarService.FormData.WK_QTY" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="twwkarService.FormData.CREATE_DTM" name="twwkarService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="twwkarService.FormData.CREATE_USER" name="twwkarService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="twwkarService.FormData.UPDATE_DTM" name="twwkarService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="twwkarService.FormData.UPDATE_USER" name="twwkarService.FormData.UPDATE_USER" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="twwkarService.IsShowLoading"></app-loading>
