<div class="col s12 m12 l10">
    <h5 class="card-title"><b>twwkar_spst</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="twwkar_spstSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>WK_IDX</label>
<input placeholder="WK_IDX" [(ngModel)]="twwkar_spstService.FormData.WK_IDX" name="twwkar_spstService.FormData.WK_IDX" type="text" class="form-control">
</div>
<div>
<label>TORDER_IDX</label>
<input placeholder="TORDER_IDX" [(ngModel)]="twwkar_spstService.FormData.TORDER_IDX" name="twwkar_spstService.FormData.TORDER_IDX" type="text" class="form-control">
</div>
<div>
<label>PART_IDX</label>
<input placeholder="PART_IDX" [(ngModel)]="twwkar_spstService.FormData.PART_IDX" name="twwkar_spstService.FormData.PART_IDX" type="text" class="form-control">
</div>
<div>
<label>MC_NO</label>
<input placeholder="MC_NO" [(ngModel)]="twwkar_spstService.FormData.MC_NO" name="twwkar_spstService.FormData.MC_NO" type="text" class="form-control">
</div>
<div>
<label>WK_QTY</label>
<input placeholder="WK_QTY" [(ngModel)]="twwkar_spstService.FormData.WK_QTY" name="twwkar_spstService.FormData.WK_QTY" type="text" class="form-control">
</div>
<div>
<label>WK_CM</label>
<input placeholder="WK_CM" [(ngModel)]="twwkar_spstService.FormData.WK_CM" name="twwkar_spstService.FormData.WK_CM" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="twwkar_spstService.FormData.CREATE_DTM" name="twwkar_spstService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
<div>
<label>CREATE_USER</label>
<input placeholder="CREATE_USER" [(ngModel)]="twwkar_spstService.FormData.CREATE_USER" name="twwkar_spstService.FormData.CREATE_USER" type="text" class="form-control">
</div>
<div>
<label>UPDATE_DTM</label>
<input placeholder="UPDATE_DTM" [(ngModel)]="twwkar_spstService.FormData.UPDATE_DTM" name="twwkar_spstService.FormData.UPDATE_DTM" type="text" class="form-control">
</div>
<div>
<label>UPDATE_USER</label>
<input placeholder="UPDATE_USER" [(ngModel)]="twwkar_spstService.FormData.UPDATE_USER" name="twwkar_spstService.FormData.UPDATE_USER" type="text" class="form-control">
</div>

</div>


