<div class="col s12 m12 l10">
    <h5 class="card-title"><b>zadmin_function</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="zadmin_functionSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>ZADMIN_FUNCTION_IDX</label>
<input placeholder="ZADMIN_FUNCTION_IDX" [(ngModel)]="zadmin_functionService.FormData.ZADMIN_FUNCTION_IDX" name="zadmin_functionService.FormData.ZADMIN_FUNCTION_IDX" type="text" class="form-control">
</div>
<div>
<label>ZADMIN_FUNCTION_CODE</label>
<input placeholder="ZADMIN_FUNCTION_CODE" [(ngModel)]="zadmin_functionService.FormData.ZADMIN_FUNCTION_CODE" name="zadmin_functionService.FormData.ZADMIN_FUNCTION_CODE" type="text" class="form-control">
</div>
<div>
<label>ZADMIN_FUNCTION_NAME</label>
<input placeholder="ZADMIN_FUNCTION_NAME" [(ngModel)]="zadmin_functionService.FormData.ZADMIN_FUNCTION_NAME" name="zadmin_functionService.FormData.ZADMIN_FUNCTION_NAME" type="text" class="form-control">
</div>
<div>
<label>ZADMIN_FUNCTION_YN</label>
<input placeholder="ZADMIN_FUNCTION_YN" [(ngModel)]="zadmin_functionService.FormData.ZADMIN_FUNCTION_YN" name="zadmin_functionService.FormData.ZADMIN_FUNCTION_YN" type="text" class="form-control">
</div>
<div>
<label>ZADMIN_FUNCTION_DATE</label>
<input placeholder="ZADMIN_FUNCTION_DATE" [(ngModel)]="zadmin_functionService.FormData.ZADMIN_FUNCTION_DATE" name="zadmin_functionService.FormData.ZADMIN_FUNCTION_DATE" type="text" class="form-control">
</div>
<div>
<label>ZADMIN_FUNCTION_REMARK</label>
<input placeholder="ZADMIN_FUNCTION_REMARK" [(ngModel)]="zadmin_functionService.FormData.ZADMIN_FUNCTION_REMARK" name="zadmin_functionService.FormData.ZADMIN_FUNCTION_REMARK" type="text" class="form-control">
</div>

</div>


