
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h6 class="breadcrumbs-title">
                    zt_help_db:
                    <b>{{zt_help_dbService.FormData.Name}} [{{zt_help_dbService.FormData.ID}}]</b>
                </h6>
            </div>
            <div class="col s12 m6 l6 right-align-md">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:history.back()" title="Back">
                            <<< Back
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Homepage" title="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/zt_help_db" title="zt_help_db">zt_help_db</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/zt_help_db" title="zt_help_db">zt_help_db</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m12 l12">                  
                    <a title="Add" (click)="zt_help_dbAdd()" class="btn waves-effect waves-light green darken-1">
                        <i class="material-icons">add_box</i>
                    </a>
                    <a title="Lưu thay đổi" (click)="zt_help_dbSave()" class="btn waves-effect waves-light cyan">
                        <i class="material-icons">save</i>
                    </a>
                </div>               
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
<label>IDX</label>
<input placeholder="IDX" [(ngModel)]="zt_help_dbService.FormData.IDX" name="zt_help_dbService.FormData.IDX" type="text" class="form-control">
</div>
<div>
<label>MENU_NM</label>
<input placeholder="MENU_NM" [(ngModel)]="zt_help_dbService.FormData.MENU_NM" name="zt_help_dbService.FormData.MENU_NM" type="text" class="form-control">
</div>
<div>
<label>TAB_NAME</label>
<input placeholder="TAB_NAME" [(ngModel)]="zt_help_dbService.FormData.TAB_NAME" name="zt_help_dbService.FormData.TAB_NAME" type="text" class="form-control">
</div>
<div>
<label>REV_NO</label>
<input placeholder="REV_NO" [(ngModel)]="zt_help_dbService.FormData.REV_NO" name="zt_help_dbService.FormData.REV_NO" type="text" class="form-control">
</div>
<div>
<label>FILE_NM</label>
<input placeholder="FILE_NM" [(ngModel)]="zt_help_dbService.FormData.FILE_NM" name="zt_help_dbService.FormData.FILE_NM" type="text" class="form-control">
</div>
<div>
<label>FILE_EX</label>
<input placeholder="FILE_EX" [(ngModel)]="zt_help_dbService.FormData.FILE_EX" name="zt_help_dbService.FormData.FILE_EX" type="text" class="form-control">
</div>
<div>
<label>DN_YN</label>
<input placeholder="DN_YN" [(ngModel)]="zt_help_dbService.FormData.DN_YN" name="zt_help_dbService.FormData.DN_YN" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="zt_help_dbService.FormData.CREATE_DTM" name="zt_help_dbService.FormData.CREATE_DTM" type="text" class="form-control">
</div>
                                 
                </div>             
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="zt_help_dbService.IsShowLoading"></app-loading>
