<div class="col s12 m12 l10">
    <h5 class="card-title"><b>zt_log_db</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="zt_log_dbSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>IDX</label>
<input placeholder="IDX" [(ngModel)]="zt_log_dbService.FormData.IDX" name="zt_log_dbService.FormData.IDX" type="text" class="form-control">
</div>
<div>
<label>MENU_NM</label>
<input placeholder="MENU_NM" [(ngModel)]="zt_log_dbService.FormData.MENU_NM" name="zt_log_dbService.FormData.MENU_NM" type="text" class="form-control">
</div>
<div>
<label>TAB_NAME</label>
<input placeholder="TAB_NAME" [(ngModel)]="zt_log_dbService.FormData.TAB_NAME" name="zt_log_dbService.FormData.TAB_NAME" type="text" class="form-control">
</div>
<div>
<label>BUTTON_NM</label>
<input placeholder="BUTTON_NM" [(ngModel)]="zt_log_dbService.FormData.BUTTON_NM" name="zt_log_dbService.FormData.BUTTON_NM" type="text" class="form-control">
</div>
<div>
<label>USER_ID</label>
<input placeholder="USER_ID" [(ngModel)]="zt_log_dbService.FormData.USER_ID" name="zt_log_dbService.FormData.USER_ID" type="text" class="form-control">
</div>
<div>
<label>PRG_CODE</label>
<input placeholder="PRG_CODE" [(ngModel)]="zt_log_dbService.FormData.PRG_CODE" name="zt_log_dbService.FormData.PRG_CODE" type="text" class="form-control">
</div>
<div>
<label>DN_YN</label>
<input placeholder="DN_YN" [(ngModel)]="zt_log_dbService.FormData.DN_YN" name="zt_log_dbService.FormData.DN_YN" type="text" class="form-control">
</div>
<div>
<label>DATA_TEXT</label>
<input placeholder="DATA_TEXT" [(ngModel)]="zt_log_dbService.FormData.DATA_TEXT" name="zt_log_dbService.FormData.DATA_TEXT" type="text" class="form-control">
</div>
<div>
<label>SQL_NM</label>
<input placeholder="SQL_NM" [(ngModel)]="zt_log_dbService.FormData.SQL_NM" name="zt_log_dbService.FormData.SQL_NM" type="text" class="form-control">
</div>
<div>
<label>CREATE_DTM</label>
<input placeholder="CREATE_DTM" [(ngModel)]="zt_log_dbService.FormData.CREATE_DTM" name="zt_log_dbService.FormData.CREATE_DTM" type="text" class="form-control">
</div>

</div>


