<div class="col s12 m12 l10">
    <h5 class="card-title"><b>zz_mes_ver</b></h5>
</div>
<div class="col s12 m12 l2">
    <a title="Save" class="btn-floating waves-effect waves-light cyan" (click)="zz_mes_verSave()">
        <i class="material-icons">save</i>
    </a>&nbsp;&nbsp;&nbsp;
    <a title="Close" class="btn-floating waves-effect waves-light purple lightrn-1" (click)="Close()">
        <i class="material-icons">close</i>
    </a>
</div>
<div class="col s12 m12 l12">
    <div>
<label>VER_IDX</label>
<input placeholder="VER_IDX" [(ngModel)]="zz_mes_verService.FormData.VER_IDX" name="zz_mes_verService.FormData.VER_IDX" type="text" class="form-control">
</div>
<div>
<label>VER_MAJOR</label>
<input placeholder="VER_MAJOR" [(ngModel)]="zz_mes_verService.FormData.VER_MAJOR" name="zz_mes_verService.FormData.VER_MAJOR" type="text" class="form-control">
</div>
<div>
<label>VER_MINJOR</label>
<input placeholder="VER_MINJOR" [(ngModel)]="zz_mes_verService.FormData.VER_MINJOR" name="zz_mes_verService.FormData.VER_MINJOR" type="text" class="form-control">
</div>
<div>
<label>VER_BUILD</label>
<input placeholder="VER_BUILD" [(ngModel)]="zz_mes_verService.FormData.VER_BUILD" name="zz_mes_verService.FormData.VER_BUILD" type="text" class="form-control">
</div>
<div>
<label>VER_REVISION</label>
<input placeholder="VER_REVISION" [(ngModel)]="zz_mes_verService.FormData.VER_REVISION" name="zz_mes_verService.FormData.VER_REVISION" type="text" class="form-control">
</div>

</div>


